@using MomWorld.Models
@model ExternalLoginListViewModel
@using Microsoft.Owin.Security


@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                Không có dịch vụ chứng thực bên ngoài cấu hình. Xem <a href="http://go.microsoft.com/fwlink/?LinkId=313242">bài viết này</a>
                để biết chi tiết về thiết lập ứng dụng ASP.NET này để hỗ trợ đăng nhập thông qua các dịch vụ bên ngoài.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm(Model.Action, "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @*@Html.AntiForgeryToken()*@
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (p.AuthenticationType.Equals("Google"))
                        {
                            <button type="submit" class="btn btn-red" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-facebook-square"></i> @p.AuthenticationType</button>

                        }
                        else if (p.AuthenticationType.Equals("Facebook"))
                        {<button type="submit" class="btn btn-cyan" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-google-plus"></i> @p.AuthenticationType</button> }

                    }
                </p>
            </div>
        }
    }
}
