@using MomWorld.Models;
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "Profile";

}
<head>
    <title>@ViewBag.Title.</title>
</head>
<body class="bg-2" id="profileBody" ng-app="profileApp" ng-controller="profileCtrl" ng-init="loadProfile()">
    <!-- Page content -->
    <div id="content" class="col-md-12">
        <!-- Modal change password user  -->
        <div class="modal fade" id="modalChangePassword" tabindex="-1"
             role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content ">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            Thoát
                        </button>
                        <h3 class="modal-title" id="modalConfirmLabel">
                            Đổi <strong>mật khẩu</strong>
                        </h3>
                    </div>
                    <div class="modal-body">

                        <!-- tile -->
                        <section class="tile transparent">



                            <form class="profile-settings">

                                <div class="row">

                                    <div class="form-group col-sm-6">
                                        <label for="last-name">Mật khẩu cũ</label> <input type="password"
                                                                                          class="form-control" id="oldPassword">
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group col-sm-6">
                                        <label for="last-name">Mật khẩu mới</label> <input type="password"
                                                                                           class="form-control" id="password">
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="first-name">Nhập lại mật khẩu mới</label> <input type="password"
                                                                                                     class="form-control" id="confirmPassword">
                                    </div>



                                </div>

                                <div class="row">

                                    <div class="form-group col-md-12 text-right">
                                        <button class="btn btn-cyan start btn-md" id="submitSavePassword">
                                            <i class="fa fa-save"></i> <span> Áp dụng</span>
                                        </button>


                                        <button class="btn btn-red cancel btn-md" type="reset">
                                            <i class="fa fa-times"></i> <span> Hủy</span>
                                        </button>
                                    </div>
                                </div>

                            </form>





                        </section>
                        <!-- /tile -->

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!--modal Success  -->
        <div class="modal fade" id="modalSuccess" tabindex="-1"
             role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
             style="background: rgba(0, 0, 0, 0.75); top: 0px;">
            <div class="modal-dialog" style="margin-top: 100px;">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            Thoát
                        </button>
                        <img style="max-width:300px; display:inline-block" class="img-responsive" src="@Url.Content("~/Content/images/success.png")" />
                        <h3 class="modal-title" id="modalCuponfirmLabel">
                            <strong>Cập nhật thông tin thành công</strong>
                        </h3>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- page header -->
        <div class="pageheader">
            <h2>
                <i class="fa fa-user" style="line-height: 46px; padding-left: 0;"></i>
                Thông tin cá nhân
            </h2>
        </div>
        <!-- /page header -->
        <!-- content main container -->
        <div class="main">
            <!-- row -->
            <div class="row">

                <!-- col 4 -->
                <div class="col-md-4">
                    <!-- tile -->
                    <section class="tile transparent">

                        <!-- tile header -->
                        <div class="tile-header nopadding">
                            <div class="controls">
                                <a href="personal-page.html#" class="minimize">
                                    <i class="fa fa-chevron-down"></i>
                                </a> <a href="personal-page.html#"
                                        class="refresh"><i class="fa fa-refresh"></i></a> <a href="personal-page.html#" class="remove">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <!-- /tile header -->
                        <!-- tile widget -->
                        <div class="tile-widget color transparent-white rounded-top-corners">
                            <div class="user-card">
                                <h3>
                                    <strong ng-if="user.FirstName">{{user.FirstName}}</strong>
                                    <strong ng-if="user.LastName">{{user.LastName}}</strong>
                                </h3>
                                <ul class="profile-controls inline">
                                    <li class="avatar">
                                        <img ng-src="@Url.Content("~/App/uploads/avatar/{{currentUsername}}.png")"
                                             class="img-circle profile-photo">
                                    </li>
                                </ul>
                                <h5 ng-if="user.Firstname">{{user.FirstName}}</h5>
                                <h5 ng-if="user.LastName">{{user.LastName}}</h5>
                                <div class="social-networks">
                                    <a ng-href="{{user.social.facebook}}">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a ng-href="{{user.social.google}}">
                                        <i class="fa fa-google-plus-square"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /tile widget -->
                        <!-- tile body -->
                        <div class="tile-body color transparent-black textured rounded-bottom-corners">
                            <ul class="inline text-center">
                                <li ng-repeat="badge in badgeFire">
                                    <img alt="" ng-src="@Url.Content("~/App/images/badge/{{badge.Id}}.png")"
                                         style="height: 50px; width: 50px;">
                                </li>
                            </ul>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                    <!-- tile -->
                    <!-- /tile -->
                </div>
                <!-- /col 4 -->
                <!-- col 8 -->
                <div class="col-md-8">
                    <!-- tile -->
                    <section class="tile transparent">
                        <!-- tile widget -->
                        <div class="tile-widget nopadding color transparent-black rounded-top-corners">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tabdrop">
                                <li class="active">
                                    <a href="personal-page.html#feed-tab"
                                       data-toggle="tab">Trạng thái</a>
                                </li>
                                <li>
                                    <a href="personal-page.html#settings-tab"
                                       data-toggle="tab">Thông tin cá nhân</a>
                                </li>
                                <li>
                                    <a href="personal-page.html#trophies-tab"
                                       data-toggle="tab">Danh hiệu</a>
                                </li>
                            </ul>
                            <!-- / Nav tabs -->
                        </div>
                        <!-- /tile widget -->
                        <!-- tile body -->
                        <div class="tile-body tab-content rounded-bottom-corners">
                            <!-- Tab panes -->
                            <div id="feed-tab" class="tab-pane fade in active">
                                <div class="feed-form">

                                    <textarea ng-model="Content" class="form-control"
                                              placeholder="Bạn đang nghĩ gì ?" rows="5"></textarea>
                                    <div class="post-toolbar">
                                        <a href="personal-page.html#" title="Đính kèm file">
                                        </a> <a href="personal-page.html#"
                                                title="Thêm ảnh"></a>
                                        <a href="" ng-click="createStatus()" title="Đăng!" class="pull-right">
                                            <i class="fa fa-share"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="feed-list">
                                    <article ng-repeat="status in statusFirebase | reverse" class="feed-post">
                                        <aside class="profile-photo">
                                            <a ng-href="../../Profile/getProfile/{{status.CreatorUsername}}">
                                                <img ng-src="@Url.Content("~/App/uploads/avatar/{{status.CreatorUsername}}.png")" alt=""
                                                     class="img-circle">
                                            </a>
                                        </aside>
                                        <div class="feed-container">
                                            <header>
                                                <div class="author">
                                                    <a href="personal-page.html#">{{status.CreatorUsername}}</a> đã cập nhật một
                                                    trạng thái mới <small><span am-time-ago="status.CreatedDate"></span></small>
                                                </div>
                                            </header>
                                            <div class="feed-content">
                                                <p>{{status.Content}}</p>
                                            </div>
                                            <footer>
                                                <a href="#" ng-show="!isInArray(currentUsername, status.NumLike.User)" ng-click="like(status)">
                                                    <i class="fa fa-heart color-slategray"></i>
                                                    Thích <span>
                                                        ({{status.NumLike.Count}})
                                                    </span>
                                                </a>
                                                <a ng-show="isInArray(currentUsername, status.NumLike.User)" class="liked">
                                                    <i class="fa fa-heart color-red"></i>
                                                    Thích <span>
                                                        ({{status.NumLike.Count}})
                                                    </span>
                                                </a>

                                                <a>
                                                    <i class="fa fa-comment"></i> Bình luận <span>({{status.NumComment}})</span>
                                                </a> <a ng-click="removeStatus(status)" href="">
                                                    <i class="fa fa-close"></i>
                                                    Xóa
                                                </a>
                                                <ul class="comments">
                                                    <li ng-repeat="comment in status.Comment">
                                                        <div class="profile-photo">
                                                            <img ng-src="@Url.Content("~/App/uploads/avatar/{{comment.CreatorUsername}}.png")" alt=""
                                                                 class="img-circle">
                                                        </div>
                                                        <div class="comment-container">
                                                            <a ng-href="../../Profile/getProfile/{{comment.CreatorUsername}}" class="comment-author">
                                                                {{comment.CreatorUsername}}
                                                            </a> {{comment.Content}}
                                                            <div class="comment-meta">
                                                                <a href="personal-page.html#" class="comment-date">
                                                                    {{comment.CreatedDate}}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="comment-form">
                                                        <div class="profile-photo">
                                                            <img ng-src="{{comment.CreatorAvatar}}" alt=""
                                                                 class="img-circle">
                                                        </div>
                                                        <div class="new-comment-container">
                                                            <textarea id="textComment" ng-model="commentContent" class="form-control"
                                                                      placeholder="Thêm bình luận ..." rows="2"></textarea>
                                                            <div class="post-toolbar">
                                                                <a href="" ng-click="addComment(status, commentContent)" title="Add it!">
                                                                    <i class="fa fa-share"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </footer>
                                        </div>
                                    </article>
                                    <div class="text-center">
                                        <a href="#" ng-click="statusFirebase.scroll.next(3)" class="btn btn-default">
                                            Xem thêm
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="settings-tab" class="tab-pane fade in">
                                <form class="profile-settings">
                                    <div class="row">
                                        <div class="form-group col-md-12 legend">
                                            <h4>
                                                Thông tin <strong>Cá nhân</strong>
                                            </h4>
                                            <p>Thiết lập tài khoản cá nhân của bạn</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="first-name">Họ</label> <input type="text"
                                                                                      class="form-control" id="first-name" ng-model="user.FirstName">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="last-name">Tên</label> <input type="text"
                                                                                      class="form-control" id="last-name" ng-model="user.LastName">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="email">E-mail</label> <input type="email"
                                                                                     class="form-control" id="email" ng-model="user.Email"
                                                                                     readonly>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="avatar">Ảnh đại diện</label>
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        <i class="fa fa-upload"></i><input type="file" nv-file-select uploader="uploader" />
                                                    </span>
                                                </span> <input type="text" class="form-control" readonly=""
                                                               id="avatar">
                                            </div>
                                            <span class="help-block">
                                                File cho phép: gif, png,
                                                jpg. Kích thước tối đa 1Mb
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="phone">Số điện thoại</label> <input type="text"
                                                                                            class="form-control" id="phone" ng-model="user.PhoneNumber">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <ul id="thumbPic">
                                                <li ng-repeat="item in uploader.queue">
                                                    <div ng-thumb="{ file: item._file, height: 100 }"></div><br />
                                                    <button ng-click="updateAvatar()">Cập nhật</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="row">
                                        
                                        <div class="form-group col-sm-6">
                                            <label for="phone">Ngày mang thai</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Ngày mang thai" value="{{user.DatePregnancy | date:'MM/dd/yyyy' }}"> 
                                                <div class="input-group-addon" id="datepicker2">
                                                    <i class="fa fa-calendar"><input type="text" id="datepicker" hidden /></i>
                                                </div>
                                            </div> 
                                        </div>                                        
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-12 legend">
                                            <h4>
                                                Thiết lập <strong>mạng xã hội</strong>
                                            </h4>
                                            <p>kết nối với hồ sơ mạng xã hội của bạn</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="facebook">Facebook</label> <input type="text" ng-model="user.Facebook"
                                                                                          class="form-control" id="facebook">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="google-plus">Google+</label> <input type="text" ng-model="user.Google"
                                                                                            class="form-control" id="google-plus">
                                        </div>
                                    </div>
                                    

                                    <div class="row">
                                        <div class="form-group col-md-12 text-right">
                                            <button class="btn btn-blue start btn-md">
                                                <i class="fa fa-save"></i> <span> Đổi mật khẩu</span>
                                            </button>
                                            <button class="btn btn-cyan start btn-md" ng-click="updateProfile()">
                                                <i class="fa fa-refresh"></i> <span> Cập nhật</span>
                                            </button>
                                            <button class="btn btn-red cancel btn-md">
                                                <i class="fa fa-times"></i> <span> Hủy</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="trophies-tab" class="tab-pane fade in" ng-init="getBadge()">
                                <div class="">
                                    <!-- tile header -->
                                    <div class="tile-header ">
                                        <h1>
                                            Các <strong>DANH HIỆU</strong> đã đạt được
                                        </h1>
                                    </div>
                                    <!-- /tile header -->
                                    <!-- tile body -->
                                    <div class="tile-body">
                                        <div class="panel-heading"></div>
                                        <div class="panel-body">
                                            <div class="row" ng-repeat="badge in badgeFire"
                                                 style="border: 3px solid rgba(0, 0, 0, 0.5);">
                                                <div ng-if="badge.Status == 'done'">
                                                    <div class="col-xs-6 col-md-2">
                                                        <img alt="" ng-src="@Url.Content("~/App/images/badge/{{badge.Id}}.png")"
                                                             style="height: 80px; width: 80px;">
                                                    </div>
                                                    <div class="col-xs-6 col-md-10">
                                                        <h4>{{badge.Name}}</h4>
                                                        {{badge.Message}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /tile body -->

                                </div>
                            </div>
                            <!-- / Tab panes -->
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col 8 -->
            </div>
            <!-- /row -->

        </div>
        <!-- /content container -->
    </div>
    <!-- Page content end -->
    <script src="@Url.Content("~/App/js/profileCtrl.js")"></script>


    <script>
    //initialize datepicker
    $('#datepicker2').datetimepicker({
        pickTime: false
    });
    </script>





    <script>
        $(document).on(
                'change',
                '.btn-file :file',
                function () {
                    var input = $(this), numFiles = input.get(0).files ? input
                            .get(0).files.length : 1, label = input.val()
                            .replace(/\\/g, '/').replace(/.*\//, '');
                    input.trigger('fileselect', [numFiles, label]);
                });

        $(function () {

            $('#make-call a').click(function () {
                $(this).toggleClass('active');
            });

            $('.post-toolbar a').tooltip({
                placement: 'top',
                trigger: 'hover',
                html: true,
                container: 'body'
            });

            $('.task-controls .mark').click(function () {
                $(this).toggleClass('marked');
            });

            //accordion class active toggling
            $('.task-list .panel-heading .task-toggle').click(function () {

                var $previous = $('.task-list .panel.active');

                $previous.removeClass('active');
                $(this).parent().parent().stop().addClass('active');

                if ($(this).parent().parent().hasClass('active')) {
                    $previous.removeClass('active');
                }
            });

            //chosen select input
            $(".chosen-select").chosen({
                disable_search_threshold: 10
            });

            //initialize file upload button
            $('.btn-file :file').on(
                    'fileselect',
                    function (event, numFiles, label) {

                        var input = $(this).parents('.input-group').find(
                                ':text'), log = numFiles > 1 ? numFiles
                                + ' files selected' : label;

                        console.log(log);

                        if (input.length) {
                            input.val(log);
                        } else {
                            if (log)
                                alert(log);
                        }
                    });

        })
    </script>
    <script>
        $('.btn.btn-blue.start.btn-md').click(function () {
            $('#modalChangePassword').modal('show');
        });

        $('#submitSavePassword').click(function (e) {
            e.preventDefault();

            var oldPassword = $('#oldPassword').val();
            var password = $('#password').val();
            var confirmPassword = $('#confirmPassword').val();
            $.ajax({
                url: '/Account/Manage',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ model: { OldPassword: oldPassword, NewPassword: password, ConfirmPassword: confirmPassword } }),
                async: true,
                processData: false,
                cache: false,
                success: function () {
                    window.location.reload();
                }
            });
        });
    </script>
</body>
