@using MomWorld.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Mom's World - Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />

    <link rel="icon" type="image/ico" href="@Url.Content("~/Content/images/favicon.png")" />
    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/css/vendor/bootstrap/bootstrap.min.css")"
          rel="stylesheet">
    <link href="@Url.Content("~/Content/css/vendor/font-awesome-4.2.0/css/font-awesome.min.css")"
          rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/animate/animate.css")">
    <link type="text/css" rel="stylesheet" media="all"
          href="@Url.Content("~/Content/js/vendor/mmenu/css/jquery.mmenu.all.css")" />
    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/videobackground/css/jquery.videobackground.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/bootstrap-checkbox.css")">
    <link rel="stylesheet"
          href="@Url.Content("~/Content/css/vendor/bootstrap/bootstrap-dropdown-multilevel.css")">

    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/chosen/css/chosen.min.css")">
    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/chosen/css/chosen-bootstrap.css")">

    <link href="@Url.Content("~/Content/css/minimal.css")" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")")"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")")"></script>
        <![endif]-->

    <!-- Logic dependences -->
    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-md5.min.js")"></script>

</head>
<body class="bg-1" ng-app="profileApp" ng-controller="profileCtrl" ng-init="loadProfile()">

    <!-- Preloader -->
    <div class="mask">
        <div id="loader"></div>
    </div>
    <!--/Preloader -->
    <!-- Wrap all page content here -->
    <div id="wrap">




        <!-- Make page fluid -->
        <div class="row">





            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top collapsed"
                 role="navigation" id="navbar">



                <!-- Branding -->
                <div class="navbar-header col-md-2">
                    <a class="navbar-brand" href="mail-horizontal.html">
                        <strong>Mom's</strong>World
                    </a>
                    <div class="sidebar-collapse">
                        <a href="mail-horizontal.html#">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div>
                <!-- Branding end -->
                <!-- .nav-collapse -->
                <div class="navbar-collapse">

                    <!-- Page refresh -->
                    <ul class="nav navbar-nav refresh">
                        <li class="divided">
                            <a href="index.html" class="page-refresh">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /Page refresh -->
                    <!-- Search -->
                    <div class="search" id="main-search">
                        <i class="fa fa-search"></i> <input type="text"
                                                            placeholder="Tìm kiêm...">
                    </div>
                    <!-- Search end -->
                    <!-- Quick Actions -->
                    <ul class="nav navbar-nav quick-actions">


                        <li class="dropdown divided">
                            <a class="dropdown-toggle button" data-toggle="dropdown"
                               href="mail-horizontal.html#">
                                <i class="fa fa-envelope"></i>
                                <span class="label label-transparent-black">1</span>
                            </a>

                            <ul class="dropdown-menu wider arrow nopadding messages">
                                <li>
                                    <h1>
                                        Bạn có <strong>2</strong> tin nhắn mới
                                    </h1>
                                </li>
                                <li>
                                    <a class="cyan" href="mail-horizontal.html#">
                                        <div class="profile-photo">
                                            <img src="Content/images/ici-avatar.jpg" alt />
                                        </div>
                                        <div class="message-info">
                                            <span class="sender">Ing. Imrich Kamarel</span> <span class="time">12 mins</span>
                                            <div class="message-content">
                                                Duis aute irure dolor in
                                                reprehenderit in voluptate velit esse cillum
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a class="green" href="mail-horizontal.html#">
                                        <div class="profile-photo">
                                            <img src="Content/images/arnold-avatar.jpg" alt />
                                        </div>
                                        <div class="message-info">
                                            <span class="sender">Arnold Karlsberg</span> <span class="time">1 hour</span>
                                            <div class="message-content">
                                                Lorem ipsum dolor sit
                                                amet, consectetur adipisicing elit
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="mail-horizontal.html#">
                                        <div class="profile-photo">
                                            <img src="Content/images/profile-photo.jpg" alt />
                                        </div>
                                        <div class="message-info">
                                            <span class="sender">KhoaHN</span> <span class="time">
                                                3
                                                hours
                                            </span>
                                            <div class="message-content">
                                                Excepteur sint occaecat
                                                cupidatat non proident, sunt in culpa qui officia
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a class="red" href="mail-horizontal.html#">
                                        <div class="profile-photo">
                                            <img src="Content/images/peter-avatar.jpg" alt />
                                        </div>
                                        <div class="message-info">
                                            <span class="sender">Peter Kay</span> <span class="time">
                                                5
                                                hours
                                            </span>
                                            <div class="message-content">
                                                Ut enim ad minim veniam,
                                                quis nostrud exercitation
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a class="orange" href="mail-horizontal.html#">
                                        <div class="profile-photo">
                                            <img src="Content/images/george-avatar.jpg" alt />
                                        </div>
                                        <div class="message-info">
                                            <span class="sender">George McCain</span> <span class="time">
                                                6
                                                hours
                                            </span>
                                            <div class="message-content">
                                                Lorem ipsum dolor sit
                                                amet, consectetur adipisicing elit
                                            </div>
                                        </div>
                                    </a>
                                </li>


                                <li class="topborder">
                                    <a href="mail-horizontal.html#">
                                        Check
                                        all messages <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown divided">
                            <a class="dropdown-toggle button" data-toggle="dropdown"
                               href="mail-horizontal.html#">
                                <i class="fa fa-bell"></i> <span class="label label-transparent-black">3</span>
                            </a>

                            <ul class="dropdown-menu wide arrow nopadding bordered">
                                <li>
                                    <h1>
                                        Bạn có <strong>3</strong> thông báo mới
                                    </h1>
                                </li>

                                <li>
                                    <a href="mail-horizontal.html#">
                                        <span class="label label-green"><i class="fa fa-user"></i></span>
                                        New user registered. <span class="small">18 mins</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="mail-horizontal.html#">
                                        <span class="label label-red"><i class="fa fa-power-off"></i></span>
                                        Server down. <span class="small">27 mins</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="mail-horizontal.html#">
                                        <span class="label label-orange"><i class="fa fa-plus"></i></span>
                                        New order. <span class="small">36 mins</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="mail-horizontal.html#">
                                        <span class="label label-cyan"><i class="fa fa-power-off"></i></span>
                                        Server restared. <span class="small">45 mins</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="mail-horizontal.html#">
                                        <span class="label label-amethyst"><i class="fa fa-power-off"></i></span>
                                        Server started. <span class="small">50 mins</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="mail-horizontal.html#">
                                        Check all
                                        notifications <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown divided user" id="current-user">
                            <div class="profile-photo">
                                <img src="Content/images/profile-photo.jpg" alt />
                            </div> <a class="dropdown-toggle options" data-toggle="dropdown"
                                      href="mail-horizontal.html#">
                                KhoaHN <i class="fa fa-caret-down"></i>
                            </a>

                            <ul class="dropdown-menu arrow settings">

                                <li>

                                    <h3>Ảnh nền:</h3>
                                    <ul id="color-schemes">
                                        <li><a href="mail-horizontal.html#" class="bg-1"></a></li>
                                        <li><a href="mail-horizontal.html#" class="bg-2"></a></li>
                                        <li><a href="mail-horizontal.html#" class="bg-3"></a></li>
                                        <li><a href="mail-horizontal.html#" class="bg-4"></a></li>
                                        <li><a href="mail-horizontal.html#" class="bg-5"></a></li>
                                        <li><a href="mail-horizontal.html#" class="bg-6"></a></li>
                                        <li class="title">Màu nền:</li>
                                        <li><a href="mail-horizontal.html#" class="solid-bg-1"></a></li>
                                        <li><a href="mail-horizontal.html#" class="solid-bg-2"></a></li>
                                        <li><a href="mail-horizontal.html#" class="solid-bg-3"></a></li>
                                        <li><a href="mail-horizontal.html#" class="solid-bg-4"></a></li>
                                        <li><a href="mail-horizontal.html#" class="solid-bg-5"></a></li>
                                        <li><a href="mail-horizontal.html#" class="solid-bg-6"></a></li>
                                    </ul>


                                </li>

                                <li class="divider"></li>


                                <li>
                                    <a href="mail-horizontal.html#">
                                        <i class="fa fa-user"></i> Thông tin cá nhân
                                    </a>
                                </li>

                                <li>
                                    <a href="mail-horizontal.html#">
                                        <i class="fa fa-envelope"></i> Tin nhắn <span class="badge badge-red" id="user-inbox">3</span>
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="mail-horizontal.html#">
                                        <i class="fa fa-power-off"></i> Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <!-- /Quick Actions -->
                    <!-- Sidebar -->
                    <ul class="nav navbar-nav side-nav" id="sidebar">

                        <li class="collapsed-content">
                            <ul>
                                <li class="search">
                                    <!-- Collapsed search pasting here at 768px -->
                                </li>
                            </ul>
                        </li>

                        <li class="navigation" id="navigation">
                            <a href="personal-page.html#" class="sidebar-toggle"
                               data-toggle="#navigation">
                                Trang quản lí <i class="fa fa-angle-up"></i>
                            </a>

                            <ul class="menu">

                                <li class="active">
                                    <a href="personal-page.html">
                                        <i class="fa fa-user"></i> Thông tin cá nhân
                                    </a>
                                </li>
                                <li>
                                    <a href="chat.html">
                                        <i class="fa fa-envelope-o"></i> Tin nhắn <span class="badge badge-red">2</span>
                                    </a>
                                </li>









                            </ul> <!-- Sidebar end -->
                </div>
                <!--/.nav-collapse -->





            </div>
            <!-- Fixed navbar end -->
            <!-- Page content -->
            <div id="content" class="col-md-12">









                <!-- page header -->
                <div class="pageheader">


                    <h2>
                        <i class="fa fa-user" style="line-height: 46px; padding-left: 0;"></i>
                        Thông tin cá nhân
                    </h2>

                </div>
                <!-- /page header -->
                <!-- content main container -->
                <div class="main">



                    <!-- row -->
                    <div class="row">




                        <!-- col 4 -->
                        <div class="col-md-4">


                            <!-- tile -->
                            <section class="tile transparent">




                                <!-- tile header -->
                                <div class="tile-header nopadding">
                                    <div class="controls">
                                        <a href="personal-page.html#" class="minimize">
                                            <i class="fa fa-chevron-down"></i>
                                        </a> <a href="personal-page.html#"
                                                class="refresh"><i class="fa fa-refresh"></i></a> <a href="personal-page.html#" class="remove">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- /tile header -->
                                <!-- tile widget -->
                                <div class="tile-widget color transparent-white rounded-top-corners">

                                    <div class="user-card">
                                        <h3>
                                            <strong>{{user.name.formatted}}</strong> 
                                        </h3>
                                        <ul class="profile-controls inline">                                          
                                            <li class="avatar">
                                                <img ng-src="{{user.thumbnailUrl}}" alt
                                                     class="img-circle profile-photo">
                                            </li>                                            
                                        </ul>
                                        <h5>{{user.name.formatted}}</h5>
                                        <div class="social-networks">
                                            <a href="personal-page.html#">
                                                <i class="fa fa-facebook-square"></i>
                                            </a> <a href="personal-page.html#">
                                                <i class="fa fa-google-plus-square"></i>
                                            </a> <a href="personal-page.html#"><i class="fa fa-twitter"></i></a>
                                            <a href="personal-page.html#">
                                                <i class="fa fa-github-square"></i>
                                            </a> <a href="personal-page.html#"><i class="fa fa-dribbble"></i></a>
                                        </div>
                                    </div>

                                </div>
                                <!-- /tile widget -->
                                <!-- tile body -->
                                <div class="tile-body color transparent-black textured rounded-bottom-corners">
                                    <ul class="inline divided social-feed text-center">

                                        <li style="display: inline-block; width: 100%; font-size: 20px;">
                                            <h4>
                                                <img alt="" src="Content/images/armorial/1.png"
                                                     style="height: 50px; width: 50px;">
                                            </h4> Number One
                                        </li>

                                    </ul>
                                </div>
                                <!-- /tile body -->



                            </section>
                            <!-- /tile -->
                            <!-- tile -->
                            <section class="tile color transparent-black">




                                <!-- tile header -->
                                <div class="tile-header">
                                    <h1>
                                        Giới thiệu<strong> Bản Thân</strong>
                                    </h1>
                                    <div class="controls">
                                        <a href="personal-page.html#" class="minimize">
                                            <i class="fa fa-chevron-down"></i>
                                        </a> <a href="personal-page.html#"
                                                class="refresh"><i class="fa fa-refresh"></i></a> <a href="personal-page.html#" class="remove">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- /tile header -->
                                <!-- tile body -->
                                <div class="tile-body padding-top-0">
                                    <p class="about-me">
                                        {{user.aboutMe}}
                                    </p>
                                </div>
                                <!-- /tile body -->



                            </section>
                            <!-- /tile -->

                        </div>
                        <!-- /col 4 -->
                        <!-- col 8 -->
                        <div class="col-md-8">



                            <!-- tile -->
                            <section class="tile transparent">

                                <!-- tile widget -->
                                <div class="tile-widget nopadding color transparent-black rounded-top-corners">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tabdrop">
                                        <li class="active">
                                            <a href="personal-page.html#feed-tab"
                                               data-toggle="tab">Trạng thái</a>
                                        </li>
                                        <li>
                                            <a href="personal-page.html#settings-tab"
                                               data-toggle="tab">Thông tin cá nhân</a>
                                        </li>
                                        <li>
                                            <a href="personal-page.html#trophies-tab"
                                               data-toggle="tab">Danh hiệu</a>
                                        </li>
                                    </ul>
                                    <!-- / Nav tabs -->
                                </div>
                                <!-- /tile widget -->
                                <!-- tile body -->
                                <div class="tile-body tab-content rounded-bottom-corners">

                                    <!-- Tab panes -->
                                    <div id="feed-tab" class="tab-pane fade in active">

                                        <div class="feed-form">
                                            <textarea class="form-control"
                                                      placeholder="Bạn đang nghĩ gì ?" rows="5"></textarea>
                                            <div class="post-toolbar">
                                                <a href="personal-page.html#" title="Đính kèm file">
                                                    <i class="fa fa-paperclip"></i>
                                                </a> <a href="personal-page.html#"
                                                        title="Thêm ảnh"><i class="fa fa-camera"></i></a> <a href="personal-page.html#" title="Đăng!" class="pull-right">
                                                    <i class="fa fa-share"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="feed-list">

                                            <article class="feed-post">

                                                <aside class="profile-photo">
                                                    <a href="personal-page.html#">
                                                        <img src="Content/images/profile-photo.jpg" alt=""
                                                             class="img-circle">
                                                    </a>
                                                </aside>

                                                <div class="feed-container">

                                                    <header>

                                                        <div class="author">
                                                            <a href="personal-page.html#">KhoaHN</a> đã cập nhật một
                                                            trạng thái mới <small>1 Giờ trước</small>
                                                        </div>

                                                    </header>

                                                    <div class="feed-content">
                                                        <p>Hôm nay trời đẹp quá ...</p>
                                                    </div>

                                                    <footer>
                                                        <a href="personal-page.html#" class="liked">
                                                            <i class="fa fa-heart"></i> Thích <span>(14)</span>
                                                        </a> <a href="personal-page.html#">
                                                            <i class="fa fa-comment"></i> Bình luận <span>(26)</span>
                                                        </a> <a href="post-item.html#">
                                                            <i class="fa fa-close"></i>
                                                            Xóa
                                                        </a>

                                                        <ul class="comments">

                                                            <li>
                                                                <div class="profile-photo">
                                                                    <img src="Content/images/peter-avatar.jpg" alt=""
                                                                         class="img-circle">
                                                                </div>

                                                                <div class="comment-container">

                                                                    <a href="personal-page.html#" class="comment-author">
                                                                        ĐatNT
                                                                    </a> Chuẩn ..

                                                                    <div class="comment-meta">

                                                                        <a href="personal-page.html#" class="comment-date">13:50-16.07.2014</a> <i class="fa fa-circle"></i> <a href="personal-page.html#">
                                                                            <i class="fa fa-heart"></i> Thích <span>(6)</span>
                                                                        </a> <i class="fa fa-circle"></i> <a href="personal-page.html#">
                                                                            <i class="fa fa-reply"></i> Trả lời
                                                                        </a> <a href="post-item.html#">
                                                                            <i class="fa fa-close"></i>
                                                                            Xóa
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                            </li>

                                                            <li>
                                                                <div class="profile-photo">
                                                                    <img src="Content/images/ici-avatar.jpg" alt=""
                                                                         class="img-circle">
                                                                </div>

                                                                <div class="comment-container">

                                                                    <a href="personal-page.html#" class="comment-author">
                                                                        TrungNM
                                                                    </a> Đi chơi đi

                                                                    <div class="comment-meta">

                                                                        <a href="personal-page.html#" class="comment-date">13:50-16.07.2014</a> <i class="fa fa-circle"></i> <a href="personal-page.html#" class="liked">
                                                                            <i class="fa fa-heart"></i> Thích
                                                                        </a> <i class="fa fa-circle"></i> <a href="personal-page.html#">
                                                                            <i class="fa fa-reply"></i> Trả lời
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                            </li>

                                                            <li>
                                                                <div class="profile-photo">
                                                                    <img src="Content/images/arnold-avatar.jpg" alt=""
                                                                         class="img-circle">
                                                                </div>

                                                                <div class="comment-container">

                                                                    <a href="personal-page.html#" class="comment-author">
                                                                        PhoHT
                                                                    </a> Ok

                                                                    <div class="comment-meta">

                                                                        <a href="personal-page.html#" class="comment-date">
                                                                            April
                                                                            2 at 08:12
                                                                        </a> <i class="fa fa-circle"></i> <a href="personal-page.html#">
                                                                            <i class="fa fa-heart"></i> Thích <span>(2)</span>
                                                                        </a> <i class="fa fa-circle"></i> <a href="personal-page.html#">
                                                                            <i class="fa fa-reply"></i> Trả lời
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                            </li>

                                                            <li class="comment-form">
                                                                <div class="profile-photo">
                                                                    <img src="Content/images/profile-photo.jpg" alt=""
                                                                         class="img-circle">
                                                                </div>

                                                                <div class="new-comment-container">

                                                                    <textarea class="form-control"
                                                                              placeholder="Add a comment..." rows="2"></textarea>
                                                                    <div class="post-toolbar">
                                                                        <a href="personal-page.html#" title="Add it!">
                                                                            <i class="fa fa-share"></i>
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                            </li>

                                                        </ul>

                                                    </footer>

                                                </div>

                                            </article>

                                            <article class="feed-post">

                                                <aside class="profile-photo">
                                                    <a href="personal-page.html#">
                                                        <img src="Content/images/george-avatar.jpg" alt=""
                                                             class="img-circle">
                                                    </a>
                                                </aside>

                                                <div class="feed-container">

                                                    <header>

                                                        <div class="author">
                                                            <a href="personal-page.html#">KhoaPC</a> thêm một
                                                            ảnh mới <small>3 Giờ trước</small>
                                                        </div>

                                                    </header>

                                                    <div class="feed-content">
                                                        <div class="feed-image">
                                                            <img src="Content/images/placeholder/img01.jpg" alt"">
                                                        </div>
                                                        <p>Làm bài kìa</p>
                                                    </div>

                                                    <footer>
                                                        <a href="personal-page.html#" class="liked">
                                                            <i class="fa fa-heart"></i> Thích <span>(10)</span>
                                                        </a> <a href="personal-page.html#">
                                                            <i class="fa fa-comment"></i> Bình luận <span>(12)</span>
                                                        </a> <a href="personal-page.html#">
                                                            <i class="fa fa-close"></i> Xóa
                                                        </a>

                                                    </footer>

                                                </div>

                                            </article>


                                            <div class="text-center">
                                                <a href="personal-page.html#" class="btn btn-default">
                                                    Xem thêm
                                                </a>
                                            </div>

                                        </div>

                                    </div>

                                    <div id="settings-tab" class="tab-pane fade in">


                                        <form class="profile-settings">

                                            <div class="row">
                                                <div class="form-group col-md-12 legend">
                                                    <h4>
                                                        Thông tin <strong>Cá nhân</strong>
                                                    </h4>
                                                    <p>Thiết lập tài khoản cá nhân của bạn</p>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="form-group col-sm-6">
                                                    <label for="first-name">Họ</label> <input type="text"
                                                                                              class="form-control" id="first-name" value="{{user.name.givenName}}">
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <label for="last-name">Tên</label> <input type="text"
                                                                                              class="form-control" id="last-name" value="{{user.name.familyName}}">
                                                </div>

                                            </div>



                                            <div class="row">

                                                <div class="form-group col-sm-6">
                                                    <label for="email">E-mail</label> <input type="email"
                                                                                             class="form-control" id="email" value="{{user.email}}"
                                                                                             readonly>
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <label for="country">Quốc gia</label> <select class="chosen-select form-control" id="country">
                                                        <option>Việt nam</option>
                                                        <option>Czech Republic</option>
                                                        <option>Poland</option>
                                                        <option>Hungary</option>
                                                        <option>Austria</option>
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="row">

                                                <div class="form-group col-sm-6">
                                                    <label for="phone">Số điện thoại</label> <input type="text"
                                                                                                    class="form-control" id="phone" value="{{user.phone}}">
                                                    <span class="help-block">+(84)1655757445</span>
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <label for="avatar">Ảnh đại diện</label>
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <span class="btn btn-primary btn-file">
                                                                <i class="fa fa-upload"></i><input type="file" multiple="">
                                                            </span>
                                                        </span> <input type="text" class="form-control" readonly=""
                                                                       id="avatar">
                                                    </div>
                                                    <span class="help-block">
                                                        File cho phép: gif, png,
                                                        jpg. Kích thước tối đa 1Mb
                                                    </span>
                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="form-group col-md-12 legend">
                                                    <h4>
                                                        Thiết lập <strong>mạng xã hội</strong>
                                                    </h4>
                                                    <p>kết nối với hồ sơ mạng xã hội của bạn</p>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="form-group col-sm-6">
                                                    <label for="facebook">Facebook</label> <input type="text"
                                                                                                  class="form-control" id="facebook">
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <label for="google-plus">Google+</label> <input type="text"
                                                                                                    class="form-control" id="google-plus">
                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="form-group col-md-12 legend">
                                                    <h4>
                                                        Thiết lập <strong>Bảo mật</strong>
                                                    </h4>
                                                    <p>Bảo vệ tài khoản của bạn</p>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="form-group col-sm-6">
                                                    <label for="username">Tên đăng nhập</label> <input type="text" class="form-control" id="username"
                                                                                                       value="khoahn" readonly>
                                                </div>


                                                <div class="form-group col-sm-6">
                                                    <label for="password">Mật khẩu cũ</label> <input type="password" class="form-control" id="password"
                                                                                                     value="123456" readonly>
                                                </div>

                                            </div>

                                            <div class="row">

                                                <div class="form-group col-sm-6">
                                                    <label for="new-password">Mật khẩu mới</label> <input type="password" class="form-control" id="new-password">
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <label for="new-password-repeat">
                                                        Nhập lại mật khẩu
                                                        mới
                                                    </label> <input type="password" class="form-control"
                                                                    id="new-password-repeat">
                                                </div>

                                            </div>

                                            <div class="row">

                                                <div class="form-group col-sm-6">
                                                    <label for="new-password">Xem thông tin</label>
                                                    <div class="radio">
                                                        <input type="radio" name="optionsRadios"
                                                               id="optionsRadios1" value="option1" checked=""> <label for="optionsRadios1">Mọi người</label>
                                                    </div>
                                                    <div class="radio">
                                                        <input type="radio" name="optionsRadios"
                                                               id="optionsRadios3" value="option3"> <label for="optionsRadios3">Chỉ mình tôi</label>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <ul class="nolisttypes inlineSelect rowSelect">
                                                        <li class="title"><h5>Thông báo</h5></li>
                                                        <li>
                                                            <div class="checkbox">
                                                                <input type="checkbox" checked="checked" value="1"
                                                                       id="opt01"> <label for="opt01">
                                                                    Thông
                                                                    báo công việc mới
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="checkbox">
                                                                <input type="checkbox" value="1" id="opt03"> <label for="opt03">Thông báo tin nhắn mới</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>



                                            <div class="row">

                                                <div class="form-group col-md-12 text-right">
                                                    <button class="btn btn-cyan start btn-md">
                                                        <i class="fa fa-refresh"></i> <span> Cập nhật</span>
                                                    </button>


                                                    <button class="btn btn-red cancel btn-md">
                                                        <i class="fa fa-times"></i> <span> Hủy</span>
                                                    </button>
                                                </div>
                                            </div>



                                        </form>


                                    </div>

                                    <div id="trophies-tab" class="tab-pane fade in">
                                        <div class="tile text-center">

                                            <div class="">

                                                <div class="text-center">

                                                    <img alt="" src="Content/images/armorial/1.png"
                                                         style="height: 200px; width: 200px;">
                                                    <h1>Number One</h1>
                                                    <p>Chúc mừng, bạn là một người tuyệt vời</p>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="">

                                            <!-- tile header -->
                                            <div class="tile-header ">
                                                <h1>
                                                    Các <strong>DANH HIỆU</strong> đã đạt được
                                                </h1>
                                            </div>
                                            <!-- /tile header -->
                                            <!-- tile body -->
                                            <div class="tile-body">
                                                <div class="panel-heading"></div>
                                                <div class="panel-body">
                                                    <div class="row"
                                                         style="border: 3px solid rgba(0, 0, 0, 0.5);">
                                                        <div class="col-xs-6 col-md-2">
                                                            <img alt="" src="Content/images/armorial/1.png"
                                                                 style="height: 80px; width: 80px;">
                                                        </div>
                                                        <div class="col-xs-6 col-md-10">
                                                            <h4>Number One</h4>
                                                            Chúc mừng, bạn là một người tuyệt vời
                                                        </div>
                                                    </div>
                                                    <div class="row"
                                                         style="border: 3px solid rgba(0, 0, 0, 0.5);">
                                                        <div class="col-xs-6 col-md-2">
                                                            <img alt="" src="Content/images/armorial/1.png"
                                                                 style="height: 80px; width: 80px;">
                                                        </div>
                                                        <div class="col-xs-6 col-md-10">
                                                            <h4>Number One</h4>
                                                            Chúc mừng, bạn là một người tuyệt vời
                                                        </div>
                                                    </div>
                                                    <div class="row"
                                                         style="border: 3px solid rgba(0, 0, 0, 0.5);">
                                                        <div class="col-xs-6 col-md-2">
                                                            <img alt="" src="Content/images/armorial/1.png"
                                                                 style="height: 80px; width: 80px;">
                                                        </div>
                                                        <div class="col-xs-6 col-md-10">
                                                            <h4>Number One</h4>
                                                            Chúc mừng, bạn là một người tuyệt vời
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- /tile body -->




                                        </div>



                                    </div>

                                    <!-- / Tab panes -->

                                </div>
                                <!-- /tile body -->



                            </section>
                            <!-- /tile -->



                        </div>
                        <!-- /col 8 -->



                    </div>
                    <!-- /row -->




                </div>
                <!-- /content container -->






            </div>
            <!-- Page content end -->





        </div>
        <!-- Make page fluid-->




    </div>
    <!-- Wrap all page content end -->



    <section class="videocontent" id="video"></section>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/Content/js/vendor/jquery/jquery.js")"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Content/js/vendor/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/bootstrap/bootstrap-dropdown-multilevel.js")"></script>
    <script type="text/javascript"
            src="@Url.Content("~/Content/js/vendor/mmenu/js/jquery.mmenu.min.js")"></script>
    <script type="text/javascript"
            src="@Url.Content("~/Content/js/vendor/sparkline/jquery.sparkline.min.js")"></script>
    <script type="text/javascript"
            src="@Url.Content("~/Content/js/vendor/nicescroll/jquery.nicescroll.min.js")"></script>
    <script type="text/javascript"
            src="@Url.Content("~/Content/js/vendor/animate-numbers/jquery.animateNumbers.js")"></script>
    <script type="text/javascript"
            src="@Url.Content("~/Content/js/vendor/videobackground/jquery.videobackground.js")"></script>
    <script type="text/javascript"
            src="@Url.Content("~/Content/js/vendor/blockui/jquery.blockUI.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/chosen/chosen.jquery.min.js")"></script>

    <script src="@Url.Content("~/Content/js/minimal.js")"></script>

    <script src="@Url.Content("~/Content/js/profileCtrl.js")"></script>

    <script>
        //initialize file upload button function
        $(document).on(
				'change',
				'.btn-file :file',
				function () {
				    var input = $(this), numFiles = input.get(0).files ? input
							.get(0).files.length : 1, label = input.val()
							.replace(/\\/g, '/').replace(/.*\//, '');
				    input.trigger('fileselect', [numFiles, label]);
				});

        $(function () {

            $('#make-call a').click(function () {
                $(this).toggleClass('active');
            });

            $('.post-toolbar a').tooltip({
                placement: 'top',
                trigger: 'hover',
                html: true,
                container: 'body'
            });

            $('.task-controls .mark').click(function () {
                $(this).toggleClass('marked');
            });

            //accordion class active toggling
            $('.task-list .panel-heading .task-toggle').click(function () {

                var $previous = $('.task-list .panel.active');

                $previous.removeClass('active');
                $(this).parent().parent().stop().addClass('active');

                if ($(this).parent().parent().hasClass('active')) {
                    $previous.removeClass('active');
                }
            });

            //chosen select input
            $(".chosen-select").chosen({
                disable_search_threshold: 10
            });

            //initialize file upload button
            $('.btn-file :file').on(
					'fileselect',
					function (event, numFiles, label) {

					    var input = $(this).parents('.input-group').find(
								':text'), log = numFiles > 1 ? numFiles
								+ ' files selected' : label;

					    console.log(log);

					    if (input.length) {
					        input.val(log);
					    } else {
					        if (log)
					            alert(log);
					    }
					});

        })
    </script>
</body>
</html>
