@{
    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var userTasks = ViewBag.UserTasks as List<MomWorld.Entities.UserTask>;
}
<head>
    <title>@ViewBag.Title.</title>
</head>
<body class="bg-2">

    <!-- Modal -->
    <div class="modal fade" id="setPhoneModal" tabindex="-1" role="dialog"
         aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <img class="img-responsive" src="@Url.Content("~/Content/images/page-images/2.jpg")" />
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Đặt số điện thoại</strong>
                    </h3>
                </div>
                <div class="modal-body">
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="form-horizontal">

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <input type="text" class="form-control" id="phone-number" placeholder="Số điện thoại">
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-footer">
                            <div class="text-center">
                                <button class="btn btn-green" id="submitPhone">Đồng ý</button>
                                <button type="reset" class="btn btn-red" data-dismiss="modal"
                                        aria-hidden="true">
                                    Hủy
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!-- Page content -->
    <div id="content" class="col-md-12">




        <!-- page header -->
        <div class="pageheader">

            <h2><i class="fa fa-calendar" style="line-height: 46px;padding-left: 0;"></i> Nhắc nhở</h2>


        </div>
        <!-- /page header -->
        <!-- content main container -->
        <div class="main">

            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <!-- tile -->
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header">
                            <h1><strong>Thêm </strong> nhắc nhở</h1>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label for="task-name" class="col-sm-4 control-label">Tên</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="task-name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="datepicker" class="col-sm-4 control-label">Thời gian</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="datepicker">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="content" class="col-sm-4 control-label">Mô tả</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="description" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="form-group form-footer footer-white">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-greensea" id="submitTask">Thêm</button>
                                        <button type="reset" class="btn btn-red">Hủy</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /tile body -->


                    </section>
                    <!-- /tile -->
                </div>

                <!-- col 12 -->
                <div class="col-md-8">

                    <!-- tile -->
                    <section class="tile transparent">

                        <!-- tile body -->
                        <div class="tile-body tab-content rounded-bottom-corners">

                            <div id="tasks-tab" class="tab-pane fade in active">
                                @*<div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
                                    </div>

                                    <h4 class="inline"><strong>April 10</strong>, 2014</h4>*@


                                <ol class="task-list" id="task-list">
                                    <!-- today tasks -->
                                    <li class="group" id="taskList">
                                        <div class="pointer"></div>
                                        <h4><strong>Tất cả các nhắc nhở</strong></h4>
                                        <h5><i class="fa fa-check-circle-o"></i> <strong>Chưa hoàn thành</strong></h5>
                                        @foreach (var task in userTasks)
                                        {
                                            if (!task.IsCompleted)
                                            {
                                        <!-- tasks -->
                                                <div class="task-group" id="accordion">
                                                    <!-- task -->
                                                    <div class="task panel">
                                                        <div class="panel-heading">
                                                            <div class="task-controls">
                                                                <a href="#" class="mark marked"><i class="fa fa-star-o"></i></a>
                                                            </div>
                                                            <div class="heading">
                                                                <h5>@task.Title</h5>
                                                                <small>Ngày tạo: @task.CreatedDate</small>
                                                            </div>
                                                            <a class="task-toggle" data-toggle="collapse" data-target="#@task.Id" data-parent=".task-group" href="#">
                                                                <i class="fa fa-angle-down"></i>
                                                            </a>
                                                        </div>
                                                        <div id="@task.Id" class="collapse">
                                                            <div class="panel-body task-content">
                                                                <div class="row">
                                                                    <div class="col-lg-10 col-md-8">
                                                                        <ul class="media-list">
                                                                            <li class="media">
                                                                                <i class="pull-left fa fa-clock-o"></i>
                                                                                <div class="media-body">
                                                                                    <h5 class="media-heading"><strong>Thời gian thực hiện</strong> @task.DueDate</h5>
                                                                                </div>
                                                                            </li>
                                                                            <li class="media">
                                                                                <i class="pull-left fa fa-info-circle"></i>
                                                                                <div class="media-body">
                                                                                    <h5 class="media-heading"><strong>Mô tả</strong></h5>
                                                                                    <p>@task.Description</p>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-4 task-controls">
                                                                        <button class="btn btn-red btn-sm delete" data-id="@task.Id"><i class="fa fa-trash-o"></i> Xóa</button>
                                                                        <button class="btn btn-green btn-sm completed" data-id="@task.Id">
                                                                            <i class="fa fa-check"></i> Hoàn thành
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /task -->

                                                </div>
                                        <!-- tasks -->
                                            }
                                        }
                                    </li>
                                    <!-- /today tasks -->
                                    <!-- completed tasks -->
                                    <li class="group completed">
                                        <h5><i class="fa fa-check-circle-o"></i> <strong>Đã hoàn thành</strong></h5>
                                        @foreach (var task in userTasks)
                                        {
                                            if (task.IsCompleted)
                                            {
                                       <!-- tasks -->
                                                <div class="task-group" id="accordion">
                                                    <!-- task -->
                                                    <div class="task panel">
                                                        <div class="panel-heading">
                                                            <div class="task-controls">
                                                                <a href="#" class="mark marked"><i class="fa fa-star-o"></i></a>
                                                            </div>
                                                            <div class="heading">
                                                                <h5>@task.Title</h5>
                                                                <small>Ngày tạo: @task.CreatedDate</small>
                                                            </div>
                                                            <a class="task-toggle" data-toggle="collapse" data-target="#@task.Id" data-parent=".task-group" href="#">
                                                                <i class="fa fa-angle-down"></i>
                                                            </a>
                                                        </div>
                                                        <div id="@task.Id" class="collapse">
                                                            <div class="panel-body task-content">
                                                                <div class="row">
                                                                    <div class="col-lg-10 col-md-8">
                                                                        <ul class="media-list">
                                                                            <li class="media">
                                                                                <i class="pull-left fa fa-clock-o"></i>
                                                                                <div class="media-body">
                                                                                    <h5 class="media-heading"><strong>Thời gian thực hiện</strong> @task.DueDate</h5>
                                                                                </div>
                                                                            </li>
                                                                            <li class="media">
                                                                                <i class="pull-left fa fa-info-circle"></i>
                                                                                <div class="media-body">
                                                                                    <h5 class="media-heading"><strong>Mô tả</strong></h5>
                                                                                    <p>@task.Description</p>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-4 task-controls">
                                                                        <button class="btn btn-red btn-sm delete" data-id="@task.Id"><i class="fa fa-trash-o"></i> Xóa</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /task -->

                                                </div>
                                        <!-- tasks -->
                                            }
                                        }

                                    </li>
                                    <!-- /completed tasks -->



                                    @*<li class="more">
                                        <div class="pointer"></div>
                                        <button class="btn btn-default">Load More</button>
                                    </li>*@

                                </ol>
                            </div>


                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- /tile -->

                </div>
                <!-- /col 8 -->

            </div>
            <!-- /row -->


        </div>
        <!-- /content container -->



    </div>
    <!-- Page content end -->



    <script>

        //initialize file upload button function
        $(document)
          .on('change', '.btn-file :file', function () {
              var input = $(this),
              numFiles = input.get(0).files ? input.get(0).files.length : 1,
              label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
              input.trigger('fileselect', [numFiles, label]);
          });

        $(function () {

            $('#make-call a').click(function () {
                $(this).toggleClass('active');
            });

            $('.post-toolbar a').tooltip({
                placement: 'top',
                trigger: 'hover',
                html: true,
                container: 'body'
            });

            $('.task-controls .mark').click(function () {
                $(this).toggleClass('marked');
            });

            //accordion class active toggling
            $('.task-list .panel-heading .task-toggle').click(function () {

                var $previous = $('.task-list .panel.active');

                $previous.removeClass('active');
                $(this).parent().parent().stop().addClass('active');

                if ($(this).parent().parent().hasClass('active')) {
                    $previous.removeClass('active');
                }
            });

            //chosen select input
            $(".chosen-select").chosen({ disable_search_threshold: 10 });

            //initialize file upload button
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                console.log(log);

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });

        })

    </script>

    <script>
        $(function () {

            //load wysiwyg editor
            $('#input06').summernote({
                toolbar: [
                //['style', ['style']], // no style button
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                //['insert', ['picture', 'link']], // no insert buttons
                //['table', ['table']], // no table button
                //['help', ['help']] //no help button
                ],
                height: 137   //set editable area's height
            });

            //chosen select input
            $(".chosen-select").chosen({ disable_search_threshold: 10 });

            //initialize datepicker
            $('#datepicker').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });

            $("#datepicker").on("dp.show", function (e) {
                var newtop = $('.bootstrap-datetimepicker-widget').position().top - 45;
                $('.bootstrap-datetimepicker-widget').css('top', newtop + 'px');
            });

            //initialize colorpicker
            $('#colorpicker').colorpicker();

            $('#colorpicker').colorpicker().on('showPicker', function (e) {
                var newtop = $('.dropdown-menu.colorpicker.colorpicker-visible').position().top - 45;
                $('.dropdown-menu.colorpicker.colorpicker-visible').css('top', newtop + 'px');
            });

            //initialize colorpicker RGB
            $('#colorpicker-rgb').colorpicker({
                format: 'rgb'
            });

            $('#colorpicker-rgb').colorpicker().on('showPicker', function (e) {
                var newtop = $('.dropdown-menu.colorpicker.colorpicker-visible').position().top - 45;
                $('.dropdown-menu.colorpicker.colorpicker-visible').css('top', newtop + 'px');
            });

            //initialize file upload button
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

                console.log(log);

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });

            // Initialize colorpalette
            $('#event-colorpalette').colorPalette({
                colors: [['#428bca', '#5cb85c', '#5bc0de', '#f0ad4e', '#d9534f', '#ff4a43', '#22beef', '#a2d200', '#ffc100', '#cd97eb', '#16a085', '#FF0066', '#A40778', '#1693A5']]
            }).on('selectColor', function (e) {
                var data = $(this).data();

                $(data.returnColor).val(e.color);
                $(this).parents(".input-group").css("border-bottom-color", e.color);
            });

        })
    </script>

    <script>
        $('#submitTask').click(function (e) {
            e.preventDefault();
            var title = $('#task-name').val();
            var dueDate = $('#datepicker').val();
            var description = $('#description').val();
            var $taskList = $('#taskList');
            $.ajax({
                url: '/UserTasks/Create',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ model: { Title: title, DueDate: dueDate, Description: description } }),
                async: true,
                processData: false,
                cache: false,
                success: function () {
                    window.location.reload();
                }

            });
        });

        $('.btn.btn-red.btn-sm.delete').click(function (e) {
            e.preventDefault();
            var taskId = $(this).attr('data-id');
            $.ajax({
                url: '/UserTasks/Delete',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ id: taskId }),
                async: true,
                processData: false,
                cache: false,
                success: function () {
                    window.location.reload();
                }
            });
        });

        $('.btn.btn-green.btn-sm.completed').click(function (e) {
            e.preventDefault();
            var taskId = $(this).attr('data-id');
            $.ajax({
                url: '/UserTasks/Complete',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ id: taskId }),
                async: true,
                processData: false,
                cache: false,
                success: function () {
                    window.location.reload();
                }
            });
        });
    </script>
</body>
