@model MomWorld.Entities.NineMonthArticle

@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "Timeline";
    var articles = ViewBag.Articles as List<MomWorld.Entities.Article>;
    var tagsList = ViewBag.TagsList as Dictionary<string, string>;
    var tagIdList = ViewBag.TagIdList as string[];
    var categoriesList = ViewBag.CategoriesList as List<MomWorld.Entities.Category>;
    var allArticles = ViewBag.AllArticles as List<MomWorld.Entities.Article>;
    var cacThe = ViewBag.CacThe as List<MomWorld.Entities.Tag>;
}
<head>

    <title>@ViewBag.Title.</title>


</head>
<body>







    <!-- post PAGE -->

    <section class="section">
        <div class="container">
            @if (tagIdList != null)
            {
                <div class="row">

                    <div class="col-md-6 text-left">
                        <ul class="mix-filter">
                            <li data-filter="all" class="filter active">Tất cả</li>

                            @foreach (var tagId in tagIdList)
                            {
                                <li data-filter=".@tagId" class="filter">
                                    @tagsList[tagId]
                                </li>
                            }
                        </ul>
                    </div>



                </div>

                <hr class="post-divider">
                <div class="row">
                    <!-- post POSTS -->
                    <div class="col-sm-9 post-posts">

                        <div class="row mix-grid" id="gallery">
                            @foreach (var article in articles)
                            {
                                <div class="mix @(article.Tags.Length > 36 ? article.Tags.Replace(",",string.Empty) : article.Tags) mix_all">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            @if (article.DescriptionImage != null)
                                            {
                                                <img class="img-responsive" alt=""
                                                     src="@Url.Content(article.DescriptionImage)">
                                            }
                                            else
                                            {
                                                <img class="img-responsive" alt=""
                                                     src="@Url.Content("~/Content/images/post/2.jpg")">
                                            }

                                        </div>

                                        <div class="col-md-8 col-sm-8">
                                            <h3>
                                                <a href="@Url.Action("Details", "Articles", routeValues: new { id = article.Id })">
                                                    @article.Title
                                                </a>
                                            </h3>
                                            <ul class="post-details">
                                                <li><i class="fa fa-calendar-o"></i> @article.PostedDate</li>
                                            </ul>
                                            <p>
                                                @Html.Raw(article.Description)
                                            </p>
                                            <a href="@Url.Action("Details", "Articles", routeValues: new { id = article.Id })" class="read-more">
                                                <i class="fa fa-angle-right"></i> Xem thêm
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <!-- END post POSTS -->
                    <!-- post SIDEBAR -->
                    <div class="col-sm-3 post-sidebar">

                        <!-- CATEGORIES -->
                        <section class="tile color transparent-white">

                            <!-- tile header -->
                            <div class="tile-header color redbrown rounded-top-corners">
                                <h1>
                                    <strong>Các mục </strong>nên xem
                                </h1>
                            </div>
                            <!-- /tile header -->
                            <!-- tile body -->
                            <div class="tile-body">

                                <form class="form-horizontal" role="form">
                                    <ul class="nav categories sidebar-widget">
                                        @if (categoriesList != null)
                                        {
                                            foreach (var cate in categoriesList)
                                            {
                                                <li><a href="@Url.Action("Details", "Categories", routeValues: new { id = cate.Id })">@cate.Name <em>(@allArticles.FindAll(a => a.CategoryId.Equals(cate.Id)).Count)</em></a></li>
                                            }
                                        }
                                    </ul>
                                </form>

                            </div>
                            <!-- /tile body -->

                        </section>
                        <!-- END CATEGORIES -->
                        <!-- RECENT POSTS -->
                        <!-- END RECENT POSTS -->
                        <!-- TAGS -->
                        <section class="tile color transparent-white">
                            <!-- TAGS -->
                            <div class="tile-header color cyan rounded-top-corners">
                                <h1>Các thẻ</h1>
                            </div>
                            <div class="tile-body">
                                <ul class="tags sidebar-widget">
                                    @foreach (var item in cacThe)
                                    {
                                        <li>
                                            <a href="@Url.Action("Details", "Tags", routeValues: new { id = item.Id })">
                                                <i class="fa fa-tags"></i>
                                                @item.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </section>
                        <!-- END TAGS -->
                    </div>
                    <!-- END post SIDEBAR -->

                </div>
            }
        </div>
    </section>
    <!-- END post PAGE -->
   




    <script>
        $(function () {
            // Instantiate MixItUp:

            $('#gallery').mixItUp();
        })
    </script>








</body>
