@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "Timeline";

    string setPopup = "false";
    MomWorld.Models.ApplicationUser currentUser = ViewBag.CurrentUser as MomWorld.Models.ApplicationUser;
    if (currentUser.DatePregnancy == null)
    {
        setPopup = "true";
    }
    //var datePregnancy
}



<head>



    <title>@ViewBag.Title.</title>

    <link href="@Url.Content("~/Content/css/vendor/timeline/light.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/vendor/timeline/lightbox.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/vendor/timeline/style.css")" rel="stylesheet" />





    <script src="@Url.Content("~/Content/js/vendor/timeline/jquery.timeline.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/timeline/image.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/timeline/lightbox.js")"></script>


</head>
<body>
    <a hidden id="setPopup" data-id="@setPopup"></a>
    <!--modalViewContentTimeline -->
    <div class="modal fade" id="modalViewContentTimeline" tabindex="-1"
         role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong id="date">Tuần 1</strong>
                    </h3>
                </div>
                <div class="modal-body" id="modalBody">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- modalViewContentTimeline -->
    <div class="modal fade" id="modalCreateCategory" tabindex="-1"
         role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Thêm</strong> danh mục
                    </h3>
                </div>
                <div class="modal-body">
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="videoTitle">Tên danh mục:</label> <input type="text"
                                                                                                           class="form-control" id="categoryName"
                                                                                                           placeholder="Nhập tên danh mục ...">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="comment">Mô tả:</label>
                                <textarea class="form-control" rows="2" id="categoryDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group form-footer text-center">

                            <button type="submit" class="btn btn-green" id="submitCategory">Thêm</button>
                            <button type="reset" class="btn btn-red">Hủy</button>

                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
   
    <!-- BEGIN BREADCRUMBS -->
    <div id="breadcrumbs" class="breadcrumbs bg-1">
        <div class="container">

            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Quá trình mang thai</li>
            </ol>

            <h2>
                <strong>Quá trình mang thai</strong>
            </h2>

        </div>
    </div>
    <!-- END BREADCRUMBS -->


    <section class="section">
        @if (User.IsInRole("Admins"))
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-warning" id="addNewArticle">
                            <i class="fa fa-plus-circle"></i> Thêm bài viết
                        </button>
                    </div>
                </div>
            </div>

            <hr>

        }

        <div class="timelineLoader">
            <img src="@Url.Content("~/Content/images/timeline/timeline/loadingAnimation.gif")" />
        </div>
        <div class="timelineLight tl">
            <!-- BEGIN TIMELINE -->
            @if (setPopup.Equals("false"))
            {
                foreach (var item in ViewData["NineMonthArticles"] as List<MomWorld.Entities.NineMonthArticle>)
                {
                    <div class="item" data-id="@currentUser.DatePregnancy.Value.AddDays(item.Date).ToString("dd/MM/yyyy")" data-name="@currentUser.DatePregnancy.Value.AddDays(item.Date).ToString("dd")"
                         data-description="Ngày thứ @item.Date">
                        <a class="image_rollover_bottom con_borderImage" href="#">
                            <img src="@Url.Content("~/Content/images/page-images/4.jpg")" class="img-responsive"
                                 alt="" />

                        </a>
                        <h2>Ngày thứ @item.Date</h2>
                        <span>
                            @item.Description
                        </span>
                        <button class="btn btn-red btn-xs" data-id="@item.Id">Xem thêm</button>
                        <div class="read_more btn-xs" data-id="@item.Id">Bài viết liên quan</div>
                    </div>
                    <div class="item_open" data-id="@currentUser.DatePregnancy.Value.AddDays(item.Date)"
                         data-access="timeline-content.html?item=4">
                        <div class="item_open_content">
                            <img class="ajaxloader"
                                 src="@Url.Content("~/Content/images/timeline/timeline/loadingAnimation.gif")" alt="" />
                        </div>
                    </div>
                }
            }
        </div>
        <!-- /END TIMELINE -->
    </section>


  
    <!-- Modal -->
    <div class="modal fade" id="setDateModal" tabindex="-1" role="dialog"
         aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <img class="img-responsive" src="@Url.Content("~/Content/images/page-images/1.jpg")" />
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Đặt ngày mang thai</strong>
                    </h3>
                </div>
                <div class="modal-body">
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="form-horizontal">

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">
                                        <i class="fa fa-calendar"></i>
                                    </span> @*<input class="form-control text-center"
                                        placeholder="Ngày mang thai dự định" type="text"
                                        onfocus="(this.type='date')" onblur="(this.type='text')"
                                        id="date" aria-describedby="basic-addon1">*@
                                    <input type="text" class="form-control" id="datepicker" placeholder="Ngày mang thai">
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-footer">
                            <div class="text-center">
                                <button class="btn btn-green" id="submitDate">Đồng ý</button>
                                <button type="reset" class="btn btn-red" data-dismiss="modal"
                                        aria-hidden="true">
                                    Hủy
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->





    <script>
        //initialize datepicker
        $('#datepicker').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });

        $("#datepicker").on("dp.show", function (e) {
            var newtop = $('.bootstrap-datetimepicker-widget').position().top - 45;
            $('.bootstrap-datetimepicker-widget').css('top', newtop + 'px');
        });
    </script>



    <script>
        $(window).load(function () {
            var startDate;
            var date = new Date();

            var year = date.getUTCFullYear();
            var month = date.getUTCMonth();
            var day = date.getUTCDate();

            //day 2 digits
            day = "0" + day;

            //month 2 digits
            month = ("0" + (month + 1)).slice(-2);

            //year 2 digits
            year = year.toString();

            startDate = day + '/' + month + "/" + year;
            // light
            $('.timelineLight').timeline({
                openTriggerClass: '.read_more',
                startItem: startDate,
            });
        });
    </script>
    <script>
        $('.read_more').click(function () {
            var id = $(this).attr('data-id');
            window.location.href = "/NineMonthArticles/Details/" + id;
        });

        $(document).ready(function () {
            var isPopup = $('#setPopup').attr('data-id');
            if (isPopup == "true") {
                $('#setDateModal').modal('show');
            }
        })

        $('#submitDate').click(function (e) {
            e.preventDefault();
            var date = $('#datepicker').val();
            $.ajax({
                url: '/NineMonthArticles/SetDate',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ date: date }),
                processData: true,
                success: function (data) {
                    //setTimeout(function () {
                    window.location.reload();
                    //}, 1000);
                    //window.location.reload();
                }
            });

        });

    </script>

    <script>
        $(window).ready(function () {
            $('.btn.btn-red.btn-xs').click(function () {
                var id = $(this).attr('data-id');
                $.ajax({
                    url: "/NineMonthArticles/GetContent/" + id,
                    cache: false
                }).done(function (data) {
                    $("#date").html("Ngày thứ " + data.Date);
                    $("#modalBody").html(data.Content);
                });

                $('#modalViewContentTimeline').modal('show');
            });

            $("#addNewArticle").click(function () {
                window.location.href = "/NineMonthArticles/Create";
            });

        });</script>

</body>

