@{
    ViewBag.Title = "Timeline";
    Layout = null;
    string setPopup = "false";
    MomWorld.Models.ApplicationUser currentUser = ViewData["CurrentUser"] as MomWorld.Models.ApplicationUser;
    if (currentUser.DatePregnancy == null)
    {
        setPopup = "true";
    }
    //var datePregnancy
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>

    <!-- BASICS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Mom's World - Trang chủ</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="@Url.Content("~/Content/images/favicon.png")" />

    <link href="@Url.Content("~/Content/css/vendor/bootstrap/bootstrap.min.css")"
          rel="stylesheet">

    <link rel="stylesheet"
          href="@Url.Content("~/Content/css/vendor/flexslider/flexslider.css")">

    <link href="@Url.Content("~/Content/css/vendor/font-awesome-4.2.0/css/font-awesome.min.css")"
          rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/animate/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/bootstrap-checkbox.css")">
    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/text-rotator/css/simpletextrotator.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/datepicker/css/bootstrap-datetimepicker.css")">

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/owl-carousel/css/owl.carousel.css")">
    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/owl-carousel/css/owl.theme.css")">
    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/owl-carousel/css/owl.transitions.css")">

    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/nivo-lightbox/css/nivo-lightbox.css")">
    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/nivo-lightbox/css/themes/default/default.css")"
          type="text/css" />



    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/minimal.min.css")">

    <link href="@Url.Content("~/Content/css/vendor/timeline/light.css")" rel="stylesheet"
          type="text/css" />
    <link href="@Url.Content("~/Content/css/vendor/timeline/lightbox.css")" rel="stylesheet"
          type="text/css" />
    <link href="@Url.Content("~/Content/css/vendor/timeline/style.css")" rel="stylesheet"
          type="text/css" />



    <script src="@Url.Content("~/Content/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/Content/js/vendor/jquery/jquery.js")"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Content/js/vendor/bootstrap/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/skrollr/skrollr.min.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/jquery-flexslider/jquery.flexslider.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/text-rotator/jquery.simple-text-rotator.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/owl-carousel/owl.carousel.min.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/nivo-lightbox/nivo-lightbox.min.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/tweet-js/jquery.tweet.min.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/vticker/jquery.vticker.min.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/jflickrfeed/jflickrfeed.min.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/appear/jquery.appear.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/parallax/jquery.parallax-1.1.3.js")"></script>

    <script src="http://maps.google.com/maps/api/js?sensor=false"
            type="text/javascript"></script>

    <script src="@Url.Content("~/Content/js/vendor/momentjs/moment-with-langs.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/datepicker/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/minimal.min.js")"></script>

    <script type="text/javascript"
            src="@Url.Content("~/Content/js/vendor/jquery-easing/jquery.easing.1.3.js")"></script>

    <script type="text/javascript"
            src="@Url.Content("~/Content/js/vendor/timeline/jquery.timeline.min.js")"></script>
    <script type="text/javascript"
            src="@Url.Content("~/Content/js/vendor/timeline/image.js")"></script>
    <script type="text/javascript"
            src="@Url.Content("~/Content/js/vendor/timeline/lightbox.js")"></script>


</head>
<body>
    <a hidden id="setPopup" data-id="@setPopup"></a>
    <!-- Modal create category -->
    <div class="modal fade" id="modalViewContentTimeline" tabindex="-1"
         role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Tuần 1</strong>
                    </h3>
                </div>
                <div class="modal-body">
                    <p class=""><strong>TUẦN THAI ĐẦU TIÊN<br><br>Ngày thai thứ 1 - 7 (ngày 14 - 21 tính từ ngày đầu kỳ kinh cuối)</strong><br></p>

                    <p class=""><em>Đầu tuần này, trứng rụng: Một quả trứng sẽ chui ra khỏi nang và di chuyển ra khỏi buồng trứng để vào ống dẫn trứng. Trong vòng 12 đến 24 giờ tới, trứng sẽ được thụ tinh nếu một trong 250 triệu tinh trùng (lượng trung bình) bơi ngược theo âm đạo đến cổ tử cung, đi qua tử cung đến ống dẫn trứng và cắm xuyên được vào trứng. Từ đây, một mầm sống đã hình thành. Cho đến cuối tuần này, phôi sẽ bám vào thành tử cung của mẹ để bắt đầu cho hành trình của mình.</em><br></p>

                    <p class=""><strong>Em bé phát triển như thế nào?</strong><em><br><br><img src="http://www.webtretho.com/wttnews/wp-content/uploads/2010/12/w2_wtt_500.jpg" border="0" alt="" class="fr-fin"><br>Phác thảo hình ảnh thai nhi tuần thứ nhất. Ảnh: Babycenter.</em><br><br></p>

                    <p class="">Tuần trước, sự gia tăng lượng estrogen và progesterone trong máu làm cho lớp niêm mạc tử cung dày lên, chuẩn bị để nuôi dưỡng trứng được thụ tinh. Lúc này, trứng trong buồng trứng cũng đang chín dần trong các túi chứa dịch, gọi là nang. Đầu tuần này (thường là ngày 14 đối với một chu kỳ 28 ngày), trứng rụng: Một quả trứng sẽ chui ra khỏi nang và di chuyển ra khỏi buồng trứng để vào ống dẫn trứng. Trong vòng 12 đến 24 giờ tới, trứng sẽ được thụ tinh nếu một trong 250 triệu tinh trùng (lượng trung bình) bơi ngược theo âm đạo đến cổ tử cung, đi qua tử cung đến ống dẫn trứng và cắm xuyên được vào trứng. Chỉ khoảng 400 tinh trùng sống sót sau khi vượt qua cuộc hành trình đến trứng dài 10 tiếng đầy cam go, và chỉ có một chú tinh trùng chui được vào trong trứng (mất khoảng 20 phút để tìm được lối vào)</p>

                    <p class="">Trong 10 đến 30 phút tiếp theo, nhân của tinh trùng sẽ hoà vào nhân của trứng để kết hợp thông tin di truyền. Nếu tinh trùng mang nhiễm sắc thể Y, em bé sẽ là con trai; nếu mang nhiễm sắc thể X, em bé sẽ là con gái. Trong suốt cuộc hành trình khoảng 3, 4 ngày từ ống dẫn trứng đến tử cung, trứng được thụ tinh (gọi là hợp tử) sẽ phân chia thành 16 tế bào giống nhau. Sau khi đến được tử cung 1, 2 ngày, nó bắt đầu làm tổ trong niêm mạc tử cung đồng thời vẫn tiếp tục phát triển và biến đổi với tốc độ đáng kinh ngạc. Lúc này em bé của bạn chỉ là một cái chấm nhỏ xíu mà các nhà khoa học gọi là túi phôi, gồm một lớp tế bào trong sẽ phát triển thành phôi thai, và một lớp tế bào ngoài sẽ phát triển thành nhau thai (một bộ phận có hình dáng như chiếc bánh crêpe cung cấp oxy, dưỡng chất cho bào thai và chuyển các chất thải ra ngoài).</p>

                    <p class=""><strong>Nhật ký thai kỳ - Sự phát triển của bé - Tuần đầu tiên</strong></p>

                    <p class=""><strong><em><br>Ngày đầu tiên:</em></strong>Ngày này, một trong hàng trăm triệu tinh trùng đã chiến thắng trong cuộc đua thụ tinh cho trứng và hình thành tế bào đơn nhất (hợp tử) sẽ phát triển thành em bé. Màu tóc, màu da, màu mắt và các đặc điểm tính cách của bé sau này được thiết lập khi nhiễm sắc thể số 23 của mẹ kết hợp với nhiễm sắc thể số 23 của người cha.</p>

                    <p class=""><strong><em><br>Ngày thứ 2:</em></strong>Hợp tử có sự biến chuyển phức tạp hơn đôi chút và tách thành 2 tế bào (nguyên phôi bào). Những tế bào này sẽ tiếp tục phân chia khoảng một lần mỗi 24 giờ cho đến khi tạo thành tất cả các bộ phận phức tạp của cơ thể đứa trẻ.</p>

                    <p class=""><strong><em><br>Ngày thứ 3:</em></strong>Kích thước trứng thụ tinh không thay đổi trong ngày này nhưng phân chia thành nhiều tế bào hơn và đã bắt đầu di chuyển chầm chậm xuống ống dẫn trứng về phía tử cung. Trứng sẽ bám rễ và lưu lại đây trong suốt thai kỳ.</p>

                    <p class=""><strong><em><br>Ngày thứ 4:</em></strong>Lúc này, trứng thụ tinh đã gồm khoảng 16 tế bào và đã bắt đầu tiến vào tử cung.</p>

                    <p class=""><strong><em><br>Ngày thứ 5:</em></strong>Em bé của mẹ vẫn còn rất nhỏ để có thể thấy được bằng mắt thường, nhưng bé sẽ lớn rất nhanh thôi. Từ ngày thứ 5, trứng thụ tinh bắt đầu làm tổ ở lớp nội mạc tử cung.</p>

                    <p class=""><strong><em><br>Ngày thứ 6:</em></strong>Chùm tế bào mới trong tử cung sẽ phân chia thành hai phần riêng biệt trong ngày này. Phần nằm bên trong sẽ phát triển thành em bé trong khi phần bên ngoài sẽ tách ra để tạo thành hệ thống hỗ trợ cho thai nhi.</p>

                    <p class=""><strong><em><br>Ngày thứ 7:<span>&nbsp;</span></em></strong>Những phụ nữ dưới 35 tuổi có nhiều cơ hội thụ thai hai bé song sinh khác trứng hơn. Nếu mẹ đang mang song thai khác trứng, vào ngày thứ 7 của thai kỳ, hai túi phôi nhỏ xíu này sẽ bám vào tử cung.</p>

                    <p class=""><em>Lưu ý: Mỗi đứa trẻ có một quá trình phát triển khác nhau, ngay cả thời kỳ trong bụng mẹ. Thông tin chúng tôi đưa ra chỉ để bạn có khái niệm tổng quát về sự phát triển của trẻ.</em><strong><br><br>Chủ đề liên quan đến thai nhi - 3 tháng đầu:</strong><br></p>

                    <ol class="">
                        <li class="">
                            <p class=""><a href="http://www.webtretho.com/forum/f92/clip-qua-trinh-thu-thai-va-phat-trien-cua-thai-nhi-638350/" target="_blank">[Clip] Quá trình thụ tinh và sự phát triển của thai nhi trong suốt thai kỳ</a></p>
                        </li>

                        <li class="">
                            <p class=""><a href="http://www.webtretho.com/forum/f92/chi-so-beta-hcg-cua-cac-tuan-thai-100228/" target="_blank">Chỉ số nồng độ Beta-HCG theo tuần thai</a></p>
                        </li>

                        <li class="">
                            <p class=""><a href="http://www.webtretho.com/forum/f92/mang-thai-3-thang-dau-tang-31-rong-ran-len-may-co-cai-cay-luc-lac-co-cac-me-o-nha-ko-rong-con-ran-con-dua-nhau-ve-voi-cac-me-roi-day-_-1325746/" target="_blank"><span>Mang thai 3 tháng đầu (tầng 31): Rồng - Rắn lên mây, có cái cây lúc lắc, có các mẹ ở nhà ko???? Rồng con, rắn con đua nhau về với các mẹ rồi đây ^_^</span></a></p>
                        </li>

                        <li class="">
                            <p class=""><a href="http://www.webtretho.com/forum/f92/mang-thai-3-thang-dau-tien-thi-kieng-nhung-gi-95316/" target="_blank"><span>Mang thai 3 tháng đầu cần kiêng những gì</span></a></p>
                        </li>

                        <li class="">
                            <p class=""><a href="http://www.webtretho.com/forum/f92/bang-chi-tiet-chi-so-sieu-am-thai-theo-tung-tuan-va-tung-ngay-954960/" target="_blank"><span>Bảng chi tiết chỉ số siêu âm thai theo từng tuần và từng ngà</span></a><span>y</span></p>
                        </li>

                        <li class="">
                            <p class=""><a href="http://www.webtretho.com/forum/f92/sau-bao-nhieu-lau-thi-thai-vao-tu-cung-493039/" target="_blank"><span>Sau bao lâu thì thai vào tử cung?</span></a></p>
                        </li>

                        <li class="">
                            <p class=""><a href="http://www.webtretho.com/forum/f92/tinh-tuoi-thai-cho-me-co-chu-ky-kinh-dai-917698/" target="_blank"><span>Tính tuổi thai cho mẹ có chu kỳ kinh nguyệt dài</span></a></p>
                        </li>

                        <li class="">
                            <p class=""><a href="http://www.webtretho.com/forum/f92/tui-thai-nam-thap-54458/" target="_blank"><span>Túi thai bám thấp</span></a></p>
                        </li>

                        <li class="">
                            <p class=""><a href="http://www.webtretho.com/forum/f92/cac-me-phat-hien-co-em-be-tu-tuan-thu-may-cua-thai-ky-1622099/" target="_blank"><span>Các mẹ phát hiện có em bé ở tuần thứ mấy của thai kỳ?</span></a></p>
                        </li>

                        <li class="">
                            <p class=""><a href="http://www.webtretho.com/forum/f92/chuan-doan-con-trai-hay-con-gai-qua-ngay-thang-thu-thai-phan-3-a-1242907/" target="_blank"><span>Dự đoán giới tính con qua ngày tháng thụ thai</span></a></p>
                        </li>
                    </ol>
                    
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal --> <!-- Modal create category -->
    <div class="modal fade" id="modalCreateCategory" tabindex="-1"
         role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Thêm</strong> danh mục
                    </h3>
                </div>
                <div class="modal-body">
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="videoTitle">Tên danh mục:</label> <input type="text"
                                                                                                           class="form-control" id="categoryName"
                                                                                                           placeholder="Nhập tên danh mục ...">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="comment">Mô tả:</label>
                                <textarea class="form-control" rows="2" id="categoryDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group form-footer text-center">

                            <button type="submit" class="btn btn-green" id="submitCategory">Thêm</button>
                            <button type="reset" class="btn btn-red">Hủy</button>

                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Preloader -->
    <div class="mask">
        <div id="loader"></div>
    </div>
    <!--/Preloader -->
    <!-- BEGIN NAVBAR -->
    <div class="navbar navbar-fixed-top" role="navigation"
         data-0="line-height:80px; height:80px;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);"
         data-300="line-height:40px; height:52px;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);">

        <div class="container">






            <!-- Branding -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"
                   data-0="padding-top:23px;padding-left: 55px;background-position: 0 20px;background-size: 44px 44px;font-size: 24px;height: 80px;"
                   data-300="padding-top: 10px;padding-left: 40px;background-position: 0 7px;background-size: 34px 34px;font-size: 16px; height: 50px;margin-top:0;">
                    <strong>W</strong>ORLD <span class="subheading"
                                                 data-0="font-size: 11px;line-height: 13px;"
                                                 data-300="font-size: 9px;line-height: 8px;">Thế giới của mẹ</span>
                </a>
                <div class="navbar-toggle" data-toggle="collapse"
                     data-target=".navbar-collapse">
                    <a href="index.html#">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <!-- Branding end -->
            <!--.navbar-collapse -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="active">
                        <a href="@Url.Action("Index","Home")"
                           data-0="padding: 30px 25px 22px;"
                           data-300="padding: 15px 25px 10px;">
                            <img class="icon-nav"
                                 src="@Url.Content("~/Content/images/icon-nav/home.png")"> Trang chủ
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Timeline","NineMonthArticles")"
                           data-0="padding: 30px 25px 22px;"
                           data-300="padding: 15px 25px 10px;">
                            <img class="icon-nav"
                                 src="@Url.Content("~/Content/images/icon-nav/motherhood.png")"> Làm mẹ
                        </a>
                    </li>



                    <li>
                        <a href="advisory.html" data-0="padding: 30px 25px 22px;"
                           data-300="padding: 15px 25px 10px;">
                            <img class="icon-nav"
                                 src="@Url.Content("~/Content/images/icon-nav/advisory.png")"> Tư vấn
                        </a>
                    </li>

                    <li>
                        <a href="video.html" data-0="padding: 30px 25px 22px;"
                           data-300="padding: 15px 25px 10px;">
                            <img class="icon-nav"
                                 src="@Url.Content("~/Content/images/icon-nav/video.png")"> Video
                        </a>
                    </li>




                    <!-- LOGIN BUTTON LINK -->
                    <!-- USE AFTER LOGIN -->
                    @Html.Partial("_LoginPartial")
                    <!--/.navbar-collapse -->


                    <li class="search">
                        <input type="text" placeholder="&#61442;"
                               data-0="margin-top:23px" data-300="margin-top:10px">
                    </li>


                </ul>
            </div>

        </div>
    </div>
    <!-- END NAVBAR -->
    <!-- BEGIN BREADCRUMBS -->
    <div id="breadcrumbs" class="breadcrumbs bg-1">
        <div class="container">

            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Quá trình mang thai</li>
            </ol>

            <h2>
                <strong>Quá trình mang thai</strong>
            </h2>

        </div>
    </div>
    <!-- END BREADCRUMBS -->


    <section class="section">
        <div class="timelineLoader">
            <img src="@Url.Content("~/Content/images/timeline/timeline/loadingAnimation.gif")" />
        </div>
        <div class="timelineLight tl">
            <!-- BEGIN TIMELINE -->
            @if (setPopup.Equals("false"))
            {
                foreach (var item in ViewData["NineMonthArticles"] as List<MomWorld.Entities.NineMonthArticle>)
                {
                    <div class="item" data-id="@currentUser.DatePregnancy.Value.AddDays(item.Date).ToString("dd/MM/yyyy")" data-name="@currentUser.DatePregnancy.Value.AddDays(item.Date).ToString("dd")"
                         data-description="Ngày thứ @item.Date">
                        <a class="image_rollover_bottom con_borderImage"
                           data-description="ZOOM IN" href="@Url.Content("~/Content/images/page-images/4.jpg")"
                           rel="lightbox[timeline]">
                            <img src="@Url.Content("~/Content/images/page-images/4.jpg")" class="img-responsive"
                                 alt="" />
                            >
                        </a>
                        <h2>Ngày thứ @item.Date</h2>
                        <span>
                            @item.Description
                        </span>
                        <div class="read_more" data-id="@item.Id">Xem thêm</div>
                    </div>
                    <div class="item_open" data-id="@currentUser.DatePregnancy.Value.AddDays(item.Date)"
                         data-access="timeline-content.html?item=4">
                        <div class="item_open_content">
                            <img class="ajaxloader"
                                 src="@Url.Content("~/Content/images/timeline/timeline/loadingAnimation.gif")" alt="" />
                        </div>
                    </div>
                }
            }
        </div>
        <!-- /END TIMELINE -->
    </section>


    <!-- FOOTER -->
    <footer id="footer">

        <div class="footer-main">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">

                        <div class="widget widget-about">
                            <img class="img-responsive" src="@Url.Content("~/Content/images/slider/1.png")"
                                 style="max-width: 30%;">
                            <h2>
                                <strong>Mom's </strong>World
                            </h2>
                        </div>
                    </div>


                    <div class="col-md-4">

                        <div class="widget widget-newsletter">

                            <h4>
                                <strong>Nhận bản tin</strong>
                            </h4>
                            <p>
                                Theo dõi bản tin của chúng tôi và luôn cập nhật các tin
                                tức mới nhất !
                            </p>

                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="NHập địa chỉ email của bạn"> <span class="input-group-btn">
                                    <button class="btn btn-theme" type="button">Đăng kí</button>
                                </span>
                            </div>

                        </div>

                    </div>


                    <div class="col-md-4">
                        <div class="widget widget-contact">
                            <h4>
                                <strong>Liên hệ</strong> với chúng tôi
                            </h4>
                            <address>
                                <strong>Địa chỉ :</strong> FPT_University - Đà Nẵng<br> <strong>
                                    Điện
                                    thoại :
                                </strong> +84 01655757445<br> <strong>Email:</strong> <a href="mailto:exc-group@gmail.com">exc-group@gmail.com</a><br>
                            </address>
                        </div>

                        <div class="widget widget-social">
                            <a href="index.html#">
                                <span class="overlay bg-cyan"></span>
                                <i class="fa fa-twitter" style="padding-left: 10px;"></i>
                            </a> <a href="index.html#">
                                <span class="overlay bg-blue"></span><i class="fa fa-facebook" style="padding-left: 14px;"></i>
                            </a> <a href="index.html#">
                                <span class="overlay bg-red"></span><i class="fa fa-google-plus" style="padding-left: 10px;"></i>
                            </a> <a href="index.html#">
                                <span class="overlay"></span><i class="fa fa-flickr" style="padding-left: 10px;"></i>
                            </a> <a href="index.html#">
                                <span class="overlay bg-hotpink"></span><i class="fa fa-dribbble" style="padding-left: 10px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 copyright">
                        &copy; Copyright 2014 by <a href="index.html#">KhoaHN</a>. All
                        Rights Reserved.
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- END FOOTER -->
    <!-- SCROLL TOP -->
    <div class="scroll-top">
        <a href="index - 2.html#">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <!-- END SCROLL TOP -->
    <!-- Modal -->
    <div class="modal fade" id="setDateModal" tabindex="-1" role="dialog"
         aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <img class="img-responsive" src="@Url.Content("~/Content/images/page-images/1.jpg")" />
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Đặt ngày mang thai</strong>
                    </h3>
                </div>
                <div class="modal-body">
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="form-horizontal">

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">
                                        <i class="fa fa-calendar"></i>
                                    </span> @*<input class="form-control text-center"
                                        placeholder="Ngày mang thai dự định" type="text"
                                        onfocus="(this.type='date')" onblur="(this.type='text')"
                                        id="date" aria-describedby="basic-addon1">*@
                                    <input type="text" class="form-control" id="datepicker" placeholder="Ngày mang thai">
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-footer">
                            <div class="text-center">
                                <button class="btn btn-green" id="submitDate">Đồng ý</button>
                                <button type="reset" class="btn btn-red" data-dismiss="modal"
                                        aria-hidden="true">
                                    Hủy
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->





    <script>
        //initialize datepicker
        $('#datepicker').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });

        $("#datepicker").on("dp.show", function (e) {
            var newtop = $('.bootstrap-datetimepicker-widget').position().top - 45;
            $('.bootstrap-datetimepicker-widget').css('top', newtop + 'px');
        });
    </script>



    <script type="text/javascript">
        $(window).load(function () {
            var startDate;
            var date = new Date();

            var year = date.getUTCFullYear();
            var month = date.getUTCMonth();
            var day = date.getUTCDate();

            //month 2 digits
            month = ("0" + (month + 1)).slice(-2)

            //year 2 digits
            year = year.toString()

            startDate = day + '/' + month + "/" + year;
            // light
            $('.timelineLight').timeline({
                openTriggerClass: '.read_more',
                startItem: startDate,
            });
        });
    </script>
    <script>
        $('.read_more').click(function () {
            var id = $(this).attr('data-id');
            window.location.href = "/NineMonthArticles/Details/" + id;
        });

        $(document).ready(function () {
            var isPopup = $('#setPopup').attr('data-id');
            if (isPopup == "true") {
                $('#setDateModal').modal('show');
            }
        })

        $('#submitDate').click(function (e) {
            e.preventDefault();
            var date = $('#datepicker').val();
            $.ajax({
                url: '/NineMonthArticles/SetDate',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ date: date }),
                processData: true,
                success: function (data) {
                    //setTimeout(function () {
                    window.location.reload();
                    //}, 1000);
                    //window.location.reload();
                }
            });

        });

    </script>

    <script>
        $(window).ready(function () {
            $('#modalViewContentTimeline').modal('show');
        });</script>

</body>

</html>