
@{
    ViewBag.Title = "Timeline";
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    MomWorld.Models.ApplicationUser currentUser = ViewData["CurrentUser"] as MomWorld.Models.ApplicationUser;
}

<h2>Timeline</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in ViewData["NineMonthArticles"] as List<MomWorld.Entities.NineMonthArticle>)
{
    <div class="item" data-id="01/04/2012" data-name="01"
         data-description="Tuần 4">
        <a class="image_rollover_bottom con_borderImage"
           data-description="ZOOM IN" href="Content/images/page-images/4.jpg"
           rel="lightbox[timeline]">
            <img src="@Url.Content("~/Content/images/page-images/4.jpg")" class="img-responsive"
                 alt="" />
        ></a>
        <h2>Ngày thứ @item.Date</h2>
        <span>
            @item.Content
        </span>
        <div class="read_more" data-id="@currentUser.DatePregnancy.Value.AddDays(item.Date)">Xem thêm</div>
    </div>
    <div class="item_open" data-id="@currentUser.DatePregnancy.Value.AddDays(item.Date)"
         data-access="timeline-content.html?item=4">
        <div class="item_open_content">
            <img class="ajaxloader"
                 src="@Url.Content("~/Content/images/timeline/timeline/loadingAnimation.gif")" alt="" />
        </div>
    </div>
}

