@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "Chat";

    var chatUsername = ViewData["ChatUsername"] as string;

}

<head>
    <title>@ViewBag.Title.</title>

    <!--Logic Dependencies -->
    <script src="@Url.Content("~/App/bower_components/moment/min/moment-with-locales.min.js")"></script>
    <script src="@Url.Content("~/App/bower_components/moment/locale/vi.js")"></script>
    <script src="@Url.Content("~/App/bower_components/angular-moment/angular-moment.min.js")"></script>




</head>
<body class="bg-2" id="chatYolo" ng-app="chatApp" ng-controller="chatCtrl">

            <!-- Page content -->
            <div id="content" class="col-md-12 chat">


                <!-- page header -->
                <div class="pageheader">


                    <h2>
                        <i class="fa fa-comments"
                           style="line-height: 48px; padding-left: 0;"></i> Tin nhắn
                    </h2>


                </div>
                <!-- /page header -->
                <!-- content main container -->
                <div class="main">



                    <!-- row -->
                    <div class="row">

                        <!-- User Chat List -->
                        <div class="col-lg-4 col-md-5 col-sm-6">


                            <!-- tile -->
                            <section class="tile transparent">


                                <!-- tile header -->
                                <div class="tile-header color bg-transparent-black-5 rounded-top-corners">
                                    <ul class="chat-nav main-nav inline">
                                        <li>
                                            <h3>
                                                <strong>Hộp thư</strong>
                                            </h3>
                                        </li>

                                    </ul>
                                </div>
                                <!-- /tile header -->


                                <!-- tile body -->
                                <div class="tile-body color transparent-black rounded-bottom-corners nopadding">

                                    <ul class="chat-inbox" id="chat-inbox">                                        
                                        <li ng-repeat="chat in chatFire | filter:search">
                                            <a href="#" ng-click="getChatFrom(chat.Username)" class="active">
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <img class="media-object img-circle"
                                                             ng-src="@Url.Content("~/App/uploads/avatar/{{chat.Username}}.png")"> <span ng-if="chat.NumNoti !== 0" class="badge badge-red">{{chat.NumNoti}}</span>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="media-heading">
                                                            {{chat.Username}}
                                                            @*<span class="time">12:44</span>*@
                                                        </p>
                                                        <span class="message">
                                                            {{chat.Content[0]}}
                                                        </span>
                                                        <div class="chat-actions">
                                                            <span class="archive" ng-click="delConversation(chat.Username)"
                                                                  title="Xóa"><i class="fa fa-times"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>

                                </div>
                                <!-- /tile body -->


                            </section>
                            <!-- /tile -->


                        </div>




                        <div class="col-lg-8 col-md-7 col-sm-6">


                            <!-- tile -->
                            <section class="tile color bg-transparent-black-5">


                                <!-- tile header -->
                                <div class="tile-header color bg-transparent-black-5 rounded-corners">
                                    <ul class="chat-nav side-nav inline">
                                        <li>
                                            <h3>
                                                <strong></strong>
                                            </h3>
                                        </li>
                                        <li class="pull-right">
                                            <div class="btn-group btn-group-sm">


                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <!-- /tile header -->
                                <!-- Chat Conversation -->
                                <div class="tile-body transparent nopadding">
                                    <div class="chat-content" id="chat-content">
                                        <ul class="chat-list">

                                            <li class="message receive"
                                                ng-class="{'message sent': message.Sender == currentUser.Username}"
                                                ng-repeat="message in chatContent">
                                                <div class="media">
                                                    <div class="pull-left user-avatar">
                                                        <img ng-if="message.Sender == currentUser.Username" class="media-object img-circle"
                                                             ng-src="@Url.Content("~/App/uploads/avatar/{{rUser.Username}}.png")">
                                                        <img ng-if="message.Sender != currentUser.Username" class="media-object img-circle"
                                                             ng-src="@Url.Content("~/App/uploads/avatar/{{sUser.Username}}.png")">
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="media-heading">
                                                            <a ng-href="../../Profile/GetProfile/{{message.Sender}}">{{message.Sender}}</a> <span class="time"><span am-time-ago="message.CreatedDate"></span></span>
                                                        </p>
                                                        {{message.Content}}
                                                    </div>
                                                </div>
                                            </li>




                                        </ul>
                                    </div>

                                </div>
                                <!-- /tile body -->
                                <!-- tile footer -->
                                <div class="tile-footer transparent nopadding">

                                    <div class="chat-reply" id="chat-reply">
                                        <textarea ng-model="replyMess" placeholder="Nội dung tin nhắn ..." class="form-control" ng-click="clearNoti()"></textarea>
                                        <div class="btn-group btn-group-sm">

                                            <button ng-click="sendMessage(currentUser.Username)"
                                                    class="btn btn-transparent-white last pull-right">
                                                Trả lời
                                            </button>                                            
                                        </div>
                                    </div>

                                </div>
                                <!-- /tile footer -->


                            </section>
                            <!-- /tile -->



                        </div>


                    </div>
                    <!-- /row -->




                </div>
                <!-- /content container -->






            </div>
            <!-- Page content end -->





    <a href="" id="chatUsername" data-id = "@chatUsername"></a>
    <script src="@Url.Content("~/App/js/chatCtrl.js")"></script>

    <script>
        $(document).ready(function () {
            angular.element($("#chatYolo")).scope().initChat($("#chatUsername").attr("data-id"));
        });

    </script>


    <script>
        $(function () {

            var contentHeight = $('#content').height();
            var chatInboxHeight = contentHeight - 178;
            var chatContentHeight = contentHeight - 178 - 200;

            var setChatHeight = function () {
                $('#chat-inbox').css('height', chatInboxHeight);
                $('#chat-content').css('height', chatContentHeight);
            };

            setChatHeight();

            $(window).resize(function () {
                contentHeight = $('#content').height();
                chatInboxHeight = contentHeight - 178;
                chatContentHeight = contentHeight - 178 - 200;

                setChatHeight();
            });

            $("#chat-inbox").niceScroll({
                cursorcolor: '#000000',
                zindex: 999999,
                bouncescroll: true,
                cursoropacitymax: 0.4,
                cursorborder: '',
                cursorborderradius: 0,
                cursorwidth: '5px'
            });

            $("#chat-content").niceScroll({
                cursorcolor: '#000000',
                zindex: 999999,
                bouncescroll: true,
                cursoropacitymax: 0.4,
                cursorborder: '',
                cursorborderradius: 0,
                cursorwidth: '5px'
            });

            $('#chat-inbox .chat-actions > span').tooltip({
                placement: 'top',
                trigger: 'hover',
                html: true,
                container: 'body'
            });

            $('#initialize-search').click(function () {
                $('#chat-search').toggleClass('active').focus();
            });

            $(document).click(
					function (e) {
					    if (($(e.target).closest("#initialize-search").attr(
								"id") != "initialize-search")
								&& $(e.target).closest("#chat-search").attr(
										"id") != "chat-search") {
					        $('#chat-search').removeClass('active');
					    }
					});

            $(window).mouseover(function () {
                $("#chat-inbox").getNiceScroll().resize();
                $("#chat-content").getNiceScroll().resize();
            });

        })
    </script>
</body>

