@model MomWorld.Entities.Quiz

@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "Kiểm tra kiến thức";
    
    var quizId = ViewData["QuizId"] as string;
    var currentUserName = ViewData["UserName"] as string;
}


<head>
    <title>@ViewBag.Title.</title>

    <link rel="stylesheet" href="@Url.Content("~/Content/css/quiz.css")">   
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")">

    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-ui/angular-ui-router.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-resource.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-ui/ui-bootstrap-tpls.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-md5.min.js")"></script>
    <script src="@Url.Content("~/App/bower_components/angularjs-socialshare/dist/angular-socialshare.min.js")"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>



</head>

<body ng-app="quizApp" ng-controller="createCtrl">

    <!-- BEGIN BREADCRUMBS -->
    <div id="breadcrumbs" class="breadcrumbs bg-1">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Kiểm tra kiến thức</li>
            </ol>
            <h2>
                <strong>Tạo bài kiểm tra</strong>
            </h2>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- QUIZZ -->
    <section class="section">
        <!-- content main container -->
        <div class="col-xs-12 col-sm-9 col-lg-9">


        </div>

        <div class="container main">
            <!-- row -->
            <div class="row">
                <div class="quizz-main">
                    <!-- Modal thông báo khi đạt huân chương -->
                    <div class="modal fade" id="modalCreateQuiz" tabindex="-1"
                         role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
                         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
                        <div class="modal-dialog" style="margin-top: 100px;">
                            <div class="modal-content text-center">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="modalConfirmLabel">
                                        <strong>Tạo bài kiểm tra thành công</strong>
                                    </h3>
                                </div>
                                <div class="modal-body">
                                    <!-- The file upload form used as target for the file upload widget -->
                                    <form class="form-horizontal">
                                        <div class="form-group"><span>Xin đợi để quản trị viên kiểm tra bài của bạn </span></div>

                                    </form>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <div class="header">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Tạo bài kiểm tra</h1>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div id="createQuiz" class="create-quiz center">
                        <center>
                            <table>
                                <tr>
                                    <td><h4>Tên bài kiểm tra:</h4></td>
                                    <td><input type="text" ng-model="quiz.name" /></td>
                                </tr>
                                <tr>
                                    <td><h4>Mô tả : </h4> </td>
                                    <td><textarea rows="3" cols="30"> </textarea></td>
                                </tr>
                                <tr>
                                    <td><h4>Số câu hỏi: </h4></td>
                                    <td><input type="text" ng-model="quizNum" /></td>
                                </tr>
                            </table>
                        </center>
                       
                         
                        <hr />
                        <div ng-show="mode=='quiz'">
                            <div ng-repeat="question in filteredQuestions">
                                <div class="question">
                                    <h3>{{$index + 1}}. <input type="text" ng-model="question.name" /></h3>
                                    <div class="options">
                                        <div>
                                            <input id="{{option.id + $index + 1}}" type="checkbox" ng-model="option.isAnswer" />
                                            <input type="text"  />
                                        </div>
                                        <div>
                                            <input id="{{option.id + $index + 2}}" type="checkbox"  />
                                            <input type="text"  />
                                        </div>
                                        <div>
                                            <input id="{{option.id + $index + 3}}" type="checkbox" />
                                            <input type="text"  />
                                        </div>
                                        <div>
                                            <input id="{{option.id + $index + 4}}" type="checkbox"  />
                                            <input type="text"/>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                        </div>
                        <div class="review" ng-show="mode=='review'">
                            <h2>Quiz Review</h2>
                            <div ng-repeat="question in questions">
                                <div class="result-question">
                                    <h3>{{$index + 1}}. {{question.Name}}</h3>
                                    <div class="result-options">
                                        <div ng-repeat="option in question.options">
                                            <label ng-click="onSelect(option);" class="{{ (option.selected == option.isAnswer)? 'result-correct': 'result-incorrect' }}">
                                                <input id="{{option.id}}" type="checkbox" disabled="disabled" readonly="readonly" ng-model="option.selected" />
                                                {{option.name}}
                                            </label>
                                        </div>
                                    </div>
                                    <h4 class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</h4>
                                </div>
                            </div>
                            <h4 class="alert alert-info text-center">You may close this window now.</h4>
                        </div>
                        <hr />
                        <div class="" ng-show="mode!='result'">
                            <button class="btn btn-default" ng-click="mode = 'review'">Xem</button>
                            <button class="btn btn-default" ng-click="onSave();">Lưu</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /content container -->
    </section>
    <!-- QUIZZ -->

    <script src="@Url.Content("~/App/js/app.js")"></script>
    <script src="@Url.Content("~/App/js/helperService.js")"></script>
    <script src="@Url.Content("~/App/js/quizCtrl.js")"></script>
    <script src="@Url.Content("~/App/js/createCtrl.js")"></script>


</body>
