@model IEnumerable<MomWorld.Entities.Quiz>

@{

    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "Quizz";

    var yoyo = ViewData["UserName"] as string;
}



<head>

    <title>@ViewBag.Title.</title>

    <!-- CUSTOM STYLE -->

    <link rel="stylesheet" href="@Url.Content("~/Content/css/quiz.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" />

    <!-- Logic Dependencies -->
    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-ui/angular-ui-router.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-resource.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-ui/ui-bootstrap-tpls.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-md5.min.js")"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="@Url.Content("~/App/bower_components/angularjs-socialshare/dist/angular-socialshare.min.js")"></script>

    <script src="@Url.Content("~/App/js/app.js")"></script>
    <script src="@Url.Content("~/App/js/helperService.js")"></script>
    <script src="@Url.Content("~/App/js/quizCtrl.js")"></script>
    <script src="@Url.Content("~/App/js/createCtrl.js")"></script>


</head>

<body ng-app="quizApp" ng-controller="quizCtrl">


    <!-- BEGIN BREADCRUMBS -->
    <div id="breadcrumbs" class="breadcrumbs bg-1">
        <div class="container">

            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Kiểm tra kiến thức</li>
            </ol>

            <h2>
                <strong>Kiểm tra kiến thức</strong>
            </h2>

        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- QUIZZ -->
    <section class="section" ng-init="initQuizShow()">

        <!-- content main container -->
        <div class="container main">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-cyan">
                        <a href="Quizzes/Create">Tạo bài kiểm tra</a>
                    </button>
                </div>
            </div>
            <hr>
            <!-- row -->
            <div class="row">
                <!-- col 12 -->
                <div class="col-md-12">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="row">
                            <div class="exam-list">
                                <div ng-repeat="quiz in quizData" class="col-xs-12 col-sm-6 col-lg-3 col-md-4 exam-item">
                                    <div class="thumbnail">
                                        <a ng-href="/Quizzes/DoQuiz/{{quiz.id}}">

                                            <img class="exam-thumbnail" ng-class="{'opacity' : badgeFire.{{quiz.quizName}}.Status != 'done' }"
                                                 ng-src="http://localhost:4444/Content/images/badge/{{quiz.quizName}}.png"
                                                 alt="...">
                                            <div class="caption">
                                                <span class="exam-category text-danger">{{quiz.name}}</span>

                                                <div class="btn btn-cyan" ng-click="startQuiz(quiz.id)">Bắt đầu</div>
                                                <p></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <!-- /col 12 -->



            </div>
            <!-- /row -->

        </div>
        <!-- /content container -->

    </section>
    <!-- QUIZZ -->

</body>

