@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "Video";
}


<head>
    <title>@ViewBag.Title.</title>

    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/jquery-file-upload/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/jquery-file-upload/css/blueimp-gallery.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/jquery-file-upload/css/jquery.fileupload.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/jquery-file-upload/css/jquery.fileupload-ui.css")">
    <noscript>
        <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/jquery-file-upload/css/jquery.fileupload-noscript.css")">
    </noscript>
    <noscript>
        <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/jquery-file-upload/css/jquery.fileupload-ui-noscript.css")">
    </noscript>

    <link rel="stylesheet" href="@Url.Content("~/Content/css/video.css")" />





    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/vendor/angular.min.js")"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js")"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/vendor/load-image.all.min.js")"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/vendor/canvas-to-blob.min.js")"></script>
    <!-- blueimp Gallery script -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/vendor/jquery.blueimp-gallery.min.js")"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/jquery.iframe-transport.js")"></script>
    <!-- The basic File Upload plugin -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/jquery.fileupload.js")"></script>
    <!-- The File Upload processing plugin -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/jquery.fileupload-process.js")"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/jquery.fileupload-image.js")"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/jquery.fileupload-audio.js")"></script>
    <!-- The File Upload video preview plugin -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/jquery.fileupload-video.js")"></script>
    <!-- The File Upload validation plugin -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/jquery.fileupload-validate.js")"></script>
    <!-- The File Upload Angular JS module -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/jquery.fileupload-angular.js")"></script>
    <!-- The main application script -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-file-upload/js/app.js")"></script>

    <script src="@Url.Content("~/Content/js/minimal.min.js")"></script>

    <!-- Videos -->
    <script src="@Url.Content("~/Content/js/video.js")"></script>
    <script src="@Url.Content("~/Content/js/jwplayer.js")"></script>




</head>

<body>

    <!-- Modal -->
    <div class="modal fade" id="modalAddNewVideo" tabindex="-1"
         role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog modal-lg" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Thêm</strong> Video
                    </h3>
                </div>
                <div class="modal-body">

                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="form-horizontal" id="fileupload"
                          action="//jquery-file-upload.appspot.com/" method="POST"
                          enctype="multipart/form-data" data-ng-app="demo"
                          data-ng-controller="DemoFileUploadController"
                          data-file-upload="options"
                          data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <noscript>
                            <input type="hidden" name="redirect"
                                   value="https://blueimp.github.io/jQuery-File-Upload/">
                        </noscript>

                        <div class="form-group" style="padding: 0 15px;">
                            <label for="videoTitle">Tên video</label> <input type="text"
                                                                             class="form-control" id="videoTitle"
                                                                             placeholder="Nhập tên video ...">
                        </div>


                        <div class="form-group transparent-editor"
                             style="padding: 0 15px;">
                            <label>Nội dung</label>
                            <div class="col-sm-12">
                                <div class="form-control" id="input06"></div>
                            </div>
                        </div>

                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button"
                                      ng-class="{disabled: disabled}">
                                    <i class="glyphicon glyphicon-plus"></i> <span>Chọn video</span> <input type="file" name="files[]" multiple ng-disabled="disabled">
                                </span>

                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active"
                                     data-file-upload-progress="progress()">
                                    <div class="progress-bar progress-bar-success"
                                         data-ng-style="{width: num + '%'}"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table class="table table-striped files ng-cloak">
                            <tr data-ng-repeat="file in queue"
                                data-ng-class="{'processing': file.$processing()}">
                                <td data-ng-switch data-on="!!file.thumbnailUrl">
                                    <div class="preview" data-ng-switch-when="true">
                                        <a data-ng-href="{{file.url}}" title="{{file.name}}"
                                           download="{{file.name}}" data-gallery>
                                            <img data-ng-src="{{file.thumbnailUrl}}" alt="">
                                        </a>
                                    </div>
                                    <div class="preview" data-ng-switch-default
                                         data-file-upload-preview="file"></div>
                                </td>
                                <td>
                                    <p class="name" data-ng-switch data-on="!!file.url">
                                        <span data-ng-switch-when="true" data-ng-switch
                                              data-on="!!file.thumbnailUrl">
                                            <a data-ng-switch-when="true" data-ng-href="{{file.url}}"
                                               title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                                            <a data-ng-switch-default data-ng-href="{{file.url}}"
                                               title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                        </span> <span data-ng-switch-default>{{file.name}}</span>
                                    </p> <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                                </td>
                                <td>
                                    <p class="size">{{file.size | formatFileSize}}</p>
                                    <div class="progress progress-striped active fade"
                                         data-ng-class="{pending: 'in'}[file.$state()]"
                                         data-file-upload-progress="file.$progress()">
                                        <div class="progress-bar progress-bar-success"
                                             data-ng-style="{width: num + '%'}"></div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary start"
                                            data-ng-click="file.$submit()"
                                            data-ng-hide="!file.$submit || options.autoUpload"
                                            data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                        <i class="glyphicon glyphicon-upload"></i> <span>
                                            Bắt
                                            đầu
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-warning cancel"
                                            data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i> <span>Hủy</span>
                                    </button>
                                    <button data-ng-controller="FileDestroyController"
                                            type="button" class="btn btn-danger destroy"
                                            data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                        <i class="glyphicon glyphicon-trash"></i> <span>Xóa</span>
                                    </button>
                                </td>
                            </tr>
                        </table>

                        <div class="form-group form-footer">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-green">Tải lên</button>
                                <button type="reset" class="btn btn-red">Hủy</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- BEGIN BREADCRUMBS -->
    <div id="breadcrumbs" class="breadcrumbs bg-1">
        <div class="container">

            <ol class="breadcrumb">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i> Trang
                        chủ
                    </a>
                </li>
                <li class="active">Video</li>
            </ol>

            <h2>
                <strong>Video</strong>
            </h2>

        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- BEGIN .header -->
    <header class="header dark">


        <!-- BEGIN .video-slider -->
        <div class="video-slider">
            <!-- BEGIN .wrapper -->
            <div class="wrapper">
                <div class="slider-controls">
                    <div class="video-slider-inline">

                        <div class="otplayer-wrapper">
                            <a href="index.html" class="video-overlay-logo">
                                <img src="@Url.Content("~/Content/images/video-images/overlay-logo.png")" width="123"
                                     height="28" alt="" />
                            </a>
                            <video class="otplayer" preload="auto"
                                   poster="Content/video/video-screen.png" )">
                                <source src="@Url.Content("~/Content/video/sintel-2048-surround.mp4")"
                                        type="video/mp4">
                                <div id="videofallback">Loading the player...</div>
                            </video>

                            <div class="otplayer-controls">
                                <div class="ot-inline-playpause">
                                    <i class="fa fa-play"></i><i class="fa fa-pause"></i>
                                </div>
                                <div class="ot-inline-slider">
                                    <div></div>
                                </div>
                                <div class="ot-inline-time">00:00</div>
                                <div class="ot-inline-volume-controls">
                                    <div class="ot-inline-volume">
                                        <i class="fa fa-volume-up"></i> <i class="fa fa-volume-off"></i>
                                    </div>
                                    <div class="ot-inline-volume-slider">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="ot-inline-fullscreen">
                                    <i class="fa fa-desktop"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="video-slider-meta">
                    <div class="video-slider-info right">
                        <a href="video-detail.html" class="meta-click">
                            <i class="fa fa-comments"></i> <strong>283</strong> Bình luận
                        </a> <a href="video-detail.html" class="meta-click">
                            <i class="fa fa-eye"></i> <strong>829</strong> Lượt xem
                        </a> <a href="index.html#" class="ot-like-button">
                            <i class="fa fa-heart"></i> Thích
                        </a>
                    </div>
                    <h3>
                        <a href="video-detail.html">Sintel</a>
                    </h3>
                </div>
                <!-- END .wrapper -->
            </div>

        </div>

        <!-- END .header -->
    </header>

    <!-- BEGIN .content -->
    <section class="content">

        <!-- BEGIN .wrapper -->
        <div class="wrapper">

            <div class="row">


                <div class="col-md-12 text-right">
                    <a href="ui-elements.html#modalAddNewVideo" role="button"
                       class="btn btn-lg btn-warning" data-toggle="modal">
                        <i class="fa fa-plus-circle"></i> Đăng video
                    </a>
                </div>
            </div>
            <hr class="post-divider">

            <!-- BEGIN .with-sidebar-layout -->
            <div class="with-sidebar-layout left">


                <div class="content-panel">
                    <div class="panel-title">
                        <h2>Videos mới nhất</h2>
                    </div>
                    <div class="panel-block video-list grid">

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html"
                                   class="img-hover-effect loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://b.vimeocdn.com/ts/282/542/282542993_640.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">SubWars</a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                                <p>
                                    Inani vocent feugait cu eam, his et impetus indoctum, mea
                                    euismod salutandi. Mel consequat moderatius intellegeb at an,
                                    appareat pertinacia no pro, noster aperiam blandit vim. Ne mei
                                    illud quidam labitur, eu adhuc clita quo.
                                </p>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html"
                                   class="img-hover-effect loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://i1.ytimg.com/vi/crm79j1qeqA/hqdefault.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">JULIAN SMITH - Car Phone!</a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                                <p>
                                    Inani vocent feugait cu eam, his et impetus indoctum, mea
                                    euismod salutandi. Mel consequat moderatius intellegeb at an,
                                    appareat pertinacia no pro, noster aperiam blandit vim. Ne mei
                                    illud quidam labitur, eu adhuc clita quo.
                                </p>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html"
                                   class="img-hover-effect loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://b.vimeocdn.com/ts/222/957/222957241_640.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">tribute to drive</a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                                <p>
                                    Inani vocent feugait cu eam, his et impetus indoctum, mea
                                    euismod salutandi. Mel consequat moderatius intellegeb at an,
                                    appareat pertinacia no pro, noster aperiam blandit vim. Ne mei
                                    illud quidam labitur, eu adhuc clita quo.
                                </p>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html"
                                   class="img-hover-effect loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://b.vimeocdn.com/ts/629/174/62917463_640.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">Hair Conditioner</a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                                <p>
                                    Inani vocent feugait cu eam, his et impetus indoctum, mea
                                    euismod salutandi. Mel consequat moderatius intellegeb at an,
                                    appareat pertinacia no pro, noster aperiam blandit vim. Ne mei
                                    illud quidam labitur, eu adhuc clita quo.
                                </p>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html"
                                   class="img-hover-effect loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://s2.dmcdn.net/D9VIi/x240-Vra.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">Obama Knock-Knock Jokes</a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                                <p>
                                    Inani vocent feugait cu eam, his et impetus indoctum, mea
                                    euismod salutandi. Mel consequat moderatius intellegeb at an,
                                    appareat pertinacia no pro, noster aperiam blandit vim. Ne mei
                                    illud quidam labitur, eu adhuc clita quo.
                                </p>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html"
                                   class="img-hover-effect loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://static-cdn.jtvnw.net/jtv.thumbs/archive-514984957-320x240.jpg" )"
                                         alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">VanillaTV - Sweden</a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                                <p>
                                    Inani vocent feugait cu eam, his et impetus indoctum, mea
                                    euismod salutandi. Mel consequat moderatius intellegeb at an,
                                    appareat pertinacia no pro, noster aperiam blandit vim. Ne mei
                                    illud quidam labitur, eu adhuc clita quo.
                                </p>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html"
                                   class="img-hover-effect loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://b.vimeocdn.com/ts/168/404/1684044_640.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">Veil</a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                                <p>
                                    Inani vocent feugait cu eam, his et impetus indoctum, mea
                                    euismod salutandi. Mel consequat moderatius intellegeb at an,
                                    appareat pertinacia no pro, noster aperiam blandit vim. Ne mei
                                    illud quidam labitur, eu adhuc clita quo.
                                </p>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html"
                                   class="img-hover-effect loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://b.vimeocdn.com/ts/633/842/6338426_640.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">Morphing</a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                                <p>
                                    Inani vocent feugait cu eam, his et impetus indoctum, mea
                                    euismod salutandi. Mel consequat moderatius intellegeb at an,
                                    appareat pertinacia no pro, noster aperiam blandit vim. Ne mei
                                    illud quidam labitur, eu adhuc clita quo.
                                </p>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html"
                                   class="img-hover-effect loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://b.vimeocdn.com/ts/300/148/30014869_640.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">Flightpattern</a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                                <p>
                                    Inani vocent feugait cu eam, his et impetus indoctum, mea
                                    euismod salutandi. Mel consequat moderatius intellegeb at an,
                                    appareat pertinacia no pro, noster aperiam blandit vim. Ne mei
                                    illud quidam labitur, eu adhuc clita quo.
                                </p>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html"
                                   class="img-hover-effect loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="https://i1.ytimg.com/vi/dYw4meRWGd4/hqdefault.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">GoPro: Red Bull Stratos</a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                                <p>
                                    Inani vocent feugait cu eam, his et impetus indoctum, mea
                                    euismod salutandi. Mel consequat moderatius intellegeb at an,
                                    appareat pertinacia no pro, noster aperiam blandit vim. Ne mei
                                    illud quidam labitur, eu adhuc clita quo.
                                </p>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html"
                                   class="img-hover-effect loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="https://i1.ytimg.com/vi/MNCzSfv4hX8/hqdefault.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">GoPro: Lions</a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                                <p>
                                    Inani vocent feugait cu eam, his et impetus indoctum, mea
                                    euismod salutandi. Mel consequat moderatius intellegeb at an,
                                    appareat pertinacia no pro, noster aperiam blandit vim. Ne mei
                                    illud quidam labitur, eu adhuc clita quo.
                                </p>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html"
                                   class="img-hover-effect loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://b.vimeocdn.com/ts/146/971/146971214_640.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">Breakfast Interrupted</a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                                <p>
                                    Inani vocent feugait cu eam, his et impetus indoctum, mea
                                    euismod salutandi. Mel consequat moderatius intellegeb at an,
                                    appareat pertinacia no pro, noster aperiam blandit vim. Ne mei
                                    illud quidam labitur, eu adhuc clita quo.
                                </p>
                            </div>
                            <!-- END .item -->
                        </div>

                        <div class="clear-list-button">
                            <a href="browse.html" class="back-button">Xem Thêm Videos</a>
                        </div>

                    </div>
                </div>


                <!-- END .with-sidebar-layout -->
            </div>

            <!-- BEGIN #sidebar -->
            <aside id="sidebar" class="right">


                <!-- BEGIN .widget -->
                <div class="widget">
                    <h3>Videos nổi bật</h3>
                    <div class="widget-videos">

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html" class="video-thumb loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://b.vimeocdn.com/ts/160/609/160609628_640.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">Manhattan in motion</a><a href="index.html#"><span class="marker">HD Videos</span></a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html" class="video-thumb loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://b.vimeocdn.com/ts/180/758/180758636_640.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">EAT</a><a href="index.html#">
                                        <span class="marker">Travel &amp; Events</span>
                                    </a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html" class="video-thumb loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="http://b.vimeocdn.com/ts/991/220/99122029_640.jpg" )" alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">Above Everything Else</a><a href="index.html#">
                                        <span class="marker">
                                            Creative
                                            Stuff
                                        </span>
                                    </a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                            </div>
                            <!-- END .item -->
                        </div>

                        <!-- BEGIN .item -->
                        <div class="item">
                            <div class="item-header">
                                <a href="video-detail.html" class="video-thumb loadingvideo">
                                    <img src="@Url.Content("~/Content/images/video-images/aspect-px.png")" width="16"
                                         height="9" class="aspect-px"
                                         rel="https://v.cdn.vine.co/r/thumbs/ADE6833A651053105159867662336_1c25aa1ad3a.3.2.mp4.jpg?versionId=ra78JOE8884XFoa6zhhkfTp1EYrcvAWn"
                                         alt="" />
                                </a>
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="video-detail.html">Surprised my girlfriend</a><a href="index.html#"><span class="marker">Vines</span></a>
                                </h3>
                                <span class="video-meta">
                                    <a href="video-detail.html">
                                        <i class="fa fa-comment"></i>283
                                    </a> <a href="video-detail.html">
                                        <i class="fa fa-eye"></i>829
                                    </a> <a href="index.html#">
                                        <i class="fa fa-heart"></i>95
                                    </a>
                                </span>
                            </div>
                            <!-- END .item -->
                        </div>

                    </div>
                    <!-- END .widget -->
                </div>






                <!-- END #sidebar -->
            </aside>

            <!-- END .wrapper -->
        </div>

        <!-- BEGIN .content -->
    </section>




    <script>
        $(function () {

            //load wysiwyg editor
            $('#input06').summernote(
					{
					    toolbar: [
								//['style', ['style']], // no style button
								[
										'style',
										['bold', 'italic', 'underline',
												'clear']],
								['fontsize', ['fontsize']],
								['color', ['color']],
								['para', ['ul', 'ol', 'paragraph']],
								['height', ['height']],
						//['insert', ['picture', 'link']], // no insert buttons
						//['table', ['table']], // no table button
						//['help', ['help']] //no help button
					    ],
					    height: 137
					    //set editable area's height
					});

        })
    </script>

</body>
