@model MomWorld.Entities.Category

@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "Category-Article";
    var articles = ViewBag.Articles as List<MomWorld.Entities.Article>;
    var tags = ViewBag.TagsList as List<MomWorld.Entities.Tag>;
    var comments = ViewBag.Comments as List<MomWorld.Entities.Comment>;
    var categoriesList = ViewBag.CategoriesList as List<MomWorld.Entities.Category>;
    var allArticles = ViewBag.AllArticle as List<MomWorld.Entities.Article>;
}

<head>
    <title>@ViewBag.Title.</title>
</head>

<body>


    <hidden id="phase" data-id="@Model.Phase"></hidden>





    <!-- BEGIN BREADCRUMBS -->
    <div id="breadcrumbs" class="breadcrumbs bg-1">
        <div class="container">
            <nav class="navbar-category">
                <div class="container navbar-menu-category">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#myNavbar"
                                style="float: none; text-align: center; margin: 0;">
                            <span class="sr-only">Toggle navigation</span> <img class="img-responsive" alt=""
                                                                                src="@Url.Content("~/Content/images/page-icon/navbar-toggle.png")"
                                                                                style="width: 50px;">
                        </button>

                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li id="MongCon"><a href="@Url.Action("Index", "Categories", routeValues: new { id = "MongCon" })">Mong con</a></li>
                            <li id="MangThai"><a href="@Url.Action("Index", "Categories", routeValues: new { id = "MangThai" })">Mang thai</a></li>
                            <li id="TreSoSinh"><a href="@Url.Action("Index", "Categories", routeValues: new { id = "TreSoSinh" })">Trẻ sơ sinh</a></li>
                            <li id="NuoiDayTre"><a href="@Url.Action("Index", "Categories", routeValues: new { id = "NuoiDayTre" })">Nuôi dạy trẻ</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="@Url.Action("Index", "Quizzes")" data-placement="bottom"
                                   title="Kiểm tra kiến thức">
                                    <i class="fa  fa-university hidden-md hidden-lg"></i> <span class="hidden-sm">Kiểm tra kiến thức</span>
                                </a>
                            </li>
                        </ul>
                    </div></div>
            </nav>

            <h2>
                <strong>@Model.Name</strong>
            </h2>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- post PAGE -->
    <section class="section">
        <div class="container">
            @*<div class="row">

                <div class="col-md-6 text-left">
                    <ul class="mix-filter">
                        <li data-filter="all" class="filter active">Tất cả</li>
                        <li data-filter=".category_1" class="filter">
                            Kinh nghiệm cần
                            thiết
                        </li>
                        <li data-filter=".category_2" class="filter">
                            Người dùng chia
                            sẻ
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Create","Articles")" class="btn btn-warning">
                        <i class="fa fa-plus-circle"></i> Thêm bài viết
                    </a>
                </div>
            </div>*@
            <hr class="post-divider">
            <div class="row">
                <!-- post POSTS -->
                <div class="col-sm-9 post-posts">

                    <div class="row mix-grid" id="gallery">
                        @foreach (var article in articles)
                        {
                            <div class="mix category_1 mix_all">
                                <div class="row">

                                    <div class="col-sm-4">
                                        <img class="img-responsive" alt=""
                                             src="@Url.Content(article.DescriptionImage)">
                                    </div>

                                    <div class="col-md-8 col-sm-8">
                                        <h3>
                                            <a href="@Url.Action("Details", "Articles", routeValues: new {id = article.Id })">
                                                10 thói quen xấu cần bỏ ngay nếu
                                                muốn có thai
                                            </a>
                                        </h3>
                                        <ul class="post-details">
                                            <li><i class="fa fa-calendar-o"></i> @article.PostedDate</li>
                                            <li><i class="fa fa-comments"></i> @comments.FindAll(c => c.ArticleId.Equals(article.Id)).Count</li>
                                            @foreach (var tag in tags)
                                            {
                                                if (article.Tags.Contains(tag.Name))
                                                {
                                                    <li><a href="@Url.Action("Details", "Tags", routeValues: new { id = tag.Id })" class="fa fa-tags"></a>@tag.Name</li>
                                                }
                                            }
                                        </ul>
                                        <p>
                                            @article.Description
                                        </p>
                                        <a href="@Url.Action("Details", "Articles", routeValues: new {id = article.Id })" class="read-more">
                                            <i class="fa fa-angle-right"></i> Xem thêm
                                        </a>
                                    </div>

                                </div>


                            </div>
                        }
                    </div>

                    @*<div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <ul class="pagination">
                                    <li>
                                        <a href="blog.html#" style="padding-left: 10px">
                                            <i class="fa fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li><a href="blog.html#">1</a></li>
                                    <li><a href="blog.html#">2</a></li>
                                    <li><span>3</span></li>
                                    <li><a href="blog.html#">4</a></li>
                                    <li><a href="blog.html#">5</a></li>
                                    <li>
                                        <a href="blog.html#" style="padding-left: 14px">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4"></div>
                        </div>*@
                </div>
                <!-- END post POSTS -->
                <!-- post SIDEBAR -->
                <div class="col-sm-3 post-sidebar">

                    <!-- CATEGORIES -->
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color redbrown rounded-top-corners">
                            <h1>
                                <strong>Các mục </strong>nên xem
                            </h1>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form">
                                <ul class="nav categories sidebar-widget">
                                    <li><a href="post.html#">Sức khỏe sinh sản <em>(26)</em></a></li>
                                    <li class="active">
                                        <a href="post.html#">
                                            40 tuần mang
                                            thai <em>(40)</em>
                                        </a>
                                    </li>
                                    <li><a href="post.html#">Sức khỏe trong thai kỳ <em>(15)</em></a></li>
                                    <li><a href="post.html#">Dinh dưỡng thai kỳ <em>(2)</em></a></li>
                                    <li><a href="post.html#">Kỹ năng làm mẹ <em>(8)</em></a></li>
                                </ul>
                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- END CATEGORIES -->
                    <!-- RECENT POSTS -->
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color greensea rounded-top-corners">
                            <h1>
                                Bài viết<strong> nổi bật</strong>
                            </h1>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form">

                                <ul class="media-list recent-posts sidebar-widget">

                                    <li class="media">
                                        <a class="pull-left"
                                           href="post-item.html">
                                            <img class="media-object"
                                                 src="@Url.Content("~/Content/images/post/2.jpg")" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a href="post-item.html">40 Tuần mang thai</a>
                                            </h5>
                                            <p>
                                                Con thân yêu trong bụng mẹ đang phát triển như thế nào
                                                nhỉ?
                                            </p>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <a class="pull-left"
                                           href="post-item.html">
                                            <img class="media-object"
                                                 src="@Url.Content("~/Content/images/post/4.jpg")" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a href="post-item.html">Hành trình năm đầu đời</a>
                                            </h5>
                                            <p>
                                                Con đã chào đời trong niềm yêu thương vô bờ bến của
                                                cha mẹ.
                                            </p>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <a class="pull-left"
                                           href="post-item.html">
                                            <img class="media-object"
                                                 src="@Url.Content("~/Content/images/post/3.jpg")" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a href="post-item.html">Nuôi dạy con</a>
                                            </h5>
                                            <p>Nếu mang thai, sinh con là một hành trình đáng nhớ</p>
                                        </div>
                                    </li>

                                </ul>

                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- END RECENT POSTS -->
                    <!-- TAGS -->
                    <section class="tile color transparent-white">
                        <!-- TAGS -->
                        <div class="tile-header color cyan rounded-top-corners">
                            <h1>Các thẻ</h1>
                        </div>
                        <div class="tile-body">
                            <ul class="tags sidebar-widget">
                                <li>
                                    <a href="post.html#">
                                        <i class="fa fa-tags"></i>
                                        Mong con
                                    </a>
                                </li>
                                <li>
                                    <a href="post.html#">
                                        <i class="fa fa-tags"></i>
                                        Mang thai
                                    </a>
                                </li>
                                <li>
                                    <a href="post.html#">
                                        <i class="fa fa-tags"></i> Trẻ
                                        sơ sinh
                                    </a>
                                </li>
                                <li>
                                    <a href="post.html#">
                                        <i class="fa fa-tags"></i>
                                        Nuôi dạy con
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </section>
                    <!-- END TAGS -->
                </div>
                <!-- END post SIDEBAR -->

            </div>
        </div>
    </section>
    <!-- END post PAGE -->


    <script>
        $(function () {
            // Instantiate MixItUp:

            $('#gallery').mixItUp();
        })
    </script>

    <script>
        $(document).ready(function () {
            var liId = "#" + $('#phase').attr('data-id');
            //$('.nav.navbar-nav li').siblings("li").removeClass('active');
            $(liId).addClass('active');
        });
    </script>

</body>
