@model IEnumerable<MomWorld.Entities.Category>
@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "Category";

    var categories = ViewData["Categories"] as List<MomWorld.Entities.Category>;
    var articles = ViewData["Articles"] as List<MomWorld.Entities.Article>;
    var isPopup = ViewData["IsPopup"] as string;
    Dictionary<string, string> idDictionary = new Dictionary<string, string>();
    List<string> categoryIds = new List<string>();
    int count = 1;
    foreach (var item in categories)
    {
        idDictionary.Add(item.Id, string.Format("category{0}", count));
        count += 1;
    }

    var phase = ViewBag.Phase as string;
    var tagsList = ViewBag.TagsList as List<MomWorld.Entities.Tag>;
    var categoriesList = ViewBag.CategoriesList as List<MomWorld.Entities.Category>;
    var allArticles = ViewBag.AllArticle as List<MomWorld.Entities.Article>;
}

<head>

    <title>@ViewBag.Title.</title>


</head>
<body>
    <hidden id="phase" data-id="@phase"></hidden>
    <!--modal confirm xóa -->
    <div class="modal fade" id="modalConfirmDelete" tabindex="-1"
         role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Xác nhận xóa?</strong>
                    </h3>
                    <h4>
                        Bạn có chắc chắn xóa danh mục này và toàn bộ bài viết thuộc danh mục hay không?
                    </h4>
                </div>
                <div class="modal-body">
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="form-horizontal">
                        <div class="form-group">

                        </div>
                        <div class="form-group form-footer">
                            <div class="text-center">
                                
                                <button class="btn btn-greensea" id="deleteCategory">Đồng ý</button>
                                <button class="btn btn-red" data-dismiss="modal">Quay lại</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Modal create category -->
    <div class="modal fade" id="modalCreateCategory" tabindex="-1"
         role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Thêm</strong> danh mục
                    </h3>
                </div>
                <div class="modal-body">
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="videoTitle">Tên danh mục:</label> <input type="text"
                                                                                                           class="form-control" id="categoryName"
                                                                                                           placeholder="Nhập tên danh mục ...">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="comment">Mô tả:</label>
                                <textarea class="form-control" rows="2" id="categoryDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group form-footer text-center">

                            <button type="submit" class="btn btn-green" id="submitCategory">Thêm</button>
                            <button type="reset" class="btn btn-red">Hủy</button>

                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Modal edit category -->                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      <!-- Modal edit category -->
    <div class="modal fade" id="modalEditCategory" tabindex="-1"
         role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Sửa</strong> danh mục
                    </h3>
                </div>
                <div class="modal-body">
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="videoTitle">Tên danh mục:</label> <input type="text"
                                                                                                           class="form-control" id="Name"
                                                                                                           placeholder="Nhập tên danh mục ...">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="comment">Nội dung:</label>
                                <textarea class="form-control" rows="5" id="Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group"><a hidden id="hiddenId"></a></div>
                        <div class="form-group form-footer text-center">

                            <button type="submit" class="btn btn-green" id="confirmCategory">Cập nhật</button>

                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Modal thông báo xóa -->
    <div class="modal fade" id="modalDeleteNotice" tabindex="-1"
         role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <img src="@Url.Content("~/Content/images/delete-modal.png")" style="width:300px;" />
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Xóa </strong>danh mục
                    </h3>
                </div>
                <div class="modal-body">
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="form-horizontal">

                        <div class="form-group">

                            <button type="submit" class="btn btn-green" id="deleteCategory">Xóa</button>
                            <button data-dismiss="modal" class="btn btn-red">Hủy</button>

                        </div>
                    </form>+
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- BEGIN BREADCRUMBS -->
    <div id="breadcrumbs" class="breadcrumbs bg-2">
        <div class="container">
            <nav class="navbar-category">
                <div class="container navbar-menu-category">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#myNavbar"
                                style="float: none; text-align: center; margin: 0;">
                            <span class="sr-only">Toggle navigation</span> <img class="img-responsive" alt=""
                                                                                src="@Url.Content("~/Content/images/page-icon/navbar-toggle.png")"
                                                                                style="width: 50px;">
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li id="MongCon"><a href="@Url.Action("Index", "Categories", routeValues: new { id = "MongCon" })">Mong con</a></li>
                            <li id="MangThai"><a href="@Url.Action("Index", "Categories", routeValues: new { id = "MangThai" })">Mang thai</a></li>
                            <li id="TreSoSinh"><a href="@Url.Action("Index", "Categories", routeValues: new { id = "TreSoSinh" })">Trẻ sơ sinh</a></li>
                            <li id="NuoiDayTre"><a href="@Url.Action("Index", "Categories", routeValues: new { id = "NuoiDayTre" })">Nuôi dạy trẻ</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="@Url.Action("Index", "Quizzes")" data-placement="bottom"
                                   title="Kiểm tra kiến thức">
                                    <i class="fa  fa-university hidden-md hidden-lg"></i> <span class="hidden-sm">Kiểm tra kiến thức</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- PRE-PREGNANCY PAGE -->
    <section class="section">
        <div class="container">
            @if (User.IsInRole("Admins"))
            {
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button data-target="#modalCreateCategory"
                                data-toggle="modal" class="btn btn-warning">
                            <i class="fa fa-plus-circle"></i> Thêm danh mục
                        </button>
                    </div>
                </div>
            }
            <hr class="post-divider">
            <div class="row">
                <div class="col-md-9">
                    @foreach (var category in categories)
                    {
                        if (category.Articles.Count != 0 || User.IsInRole("Admins"))
                        {
                            <div id="@idDictionary[category.Id]" class=" row content-category">
                                <div class="category">
                                    <div class="title">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="col-md-4">
                                                    <h3 class="headline">@category.Name</h3>
                                                </div>
                                                <div class="col-md-8 text-right" style="line-height: 70px;">
                                                    <button class="btn btn-orange addArticle">
                                                        <i class="fa fa-plus-circle"></i> Thêm bài viết
                                                    </button>
                                                    @if (User.IsInRole("Admins"))
                                                    {
                                                        <button class="btn btn-green" id="editModal" data-id="@category.Id">
                                                            <i class="fa fa-plus-circle"></i> Sửa danh mục
                                                        </button>
                                                        <button class="btn btn-red" data-id="@category.Id">
                                                            <i class="fa fa-close"></i> Xóa
                                                            danh mục
                                                        </button>
                                                    }
                                                    <a href="@Url.Action("Details", "Categories", routeValues: new { id = category.Id })" type="button" class="btn btn-cyan">
                                                    Xem thêm <span class="btn-side">
                                                    <i class="fa fa-chevron-right"></i>
                                                    </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Content">
                                        <div class="col-md-12">
                                            <div class="owl-carousel owl-theme">
                                                @foreach (var article in articles)
                                                {
                                                    if (article.CategoryId.Equals(category.Id))
                                                    {
                                                        <div class="item appear-el" data-animation="fadeIn">
                                                            <figure>
                                                                <div class="img-view">
                                                                    @if (@article.DescriptionImage != null)
                                                                    {
                                                                        <img src="@Url.Content(article.DescriptionImage)"
                                                                             alt="Place description here"> }
                                                                    else
                                                                    {
                                                                        <img src="@Url.Content("~/Content/images/post/default.jpg")"
                                                                             alt="Place description here">
                                                                    }
                                                                    <div class="overlay">
                                                                        <div class="overlay-controls">
                                                                            @if (article.DescriptionImage != null)
                                                                            {
                                                                                <a href="@Url.Content(article.DescriptionImage)" data-nivobox="true"
                                                                                   data-lightbox-gallery="gallery1">
                                                                                    <i class="fa fa-arrows-alt"></i>
                                                                                </a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="@Url.Content("~/Content/images/post/default.jpg")" data-nivobox="true"
                                                                                   data-lightbox-gallery="gallery1">
                                                                                    <i class="fa fa-arrows-alt"></i>
                                                                                </a>
                                                                            }
                                                                            <a href="#"><i class="fa fa-chain"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <figcaption>
                                                                    <h5><a href="@Url.Action("Details", "Articles", routeValues: new { id = article.Id })">@article.Title </a></h5>
                                                                    <span>@(article.Description != null ? article.Description : "")</span>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <div class="btn-group custom-navigation">
                                                <button type="button" class="btn prev">
                                                    <i class="fa fa-chevron-left"></i>
                                                </button>
                                                <button type="button" class="btn next">
                                                    <i class="fa fa-chevron-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="separator"></div>

                        }
                        count += 1;
                    }
                </div>
                <div class="col-md-3 post-sidebar">
                    
                    @*
                        Tạm thời bỏ đoạn đăng ký bên Categories/Index
                        <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color greensea rounded-top-corners">
                            <h4>
                                <strong>Đăng kí</strong> nhận tin
                            </h4>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form">

                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Số điện thoại">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <input type="text" class="form-control" id="datepicker" placeholder="Ngày mang thai">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>



                                <div class="form-group form-footer">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <button type="submit" class="btn btn-warning">Đăng kí</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>*@

                    <!-- CATEGORIES -->
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color redbrown rounded-top-corners">
                            <h1>
                                <strong>Các mục </strong>nên xem
                            </h1>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form">
                                <ul class="nav categories sidebar-widget">
                                    @if (categoriesList != null)
                                    {
                                        foreach (var cate in categoriesList)
                                        {
                                            <li><a href="@Url.Action("Details", "Categories", routeValues: new { id = cate.Id })">@cate.Name <em>(@allArticles.FindAll(a => a.CategoryId.Equals(cate.Id)).Count)</em></a></li>
                                        }
                                    }
                                </ul>
                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- END CATEGORIES -->
                    <!-- TAGS -->
                    <section class="tile color transparent-white">
                        <!-- TAGS -->
                        <div class="tile-header color cyan rounded-top-corners">
                            <h1>Các thẻ</h1>
                        </div>
                        <div class="tile-body">
                            <ul class="tags sidebar-widget">
                                @foreach (var item in tagsList)
                                {
                                    <li>
                                        <a href="@Url.Action("Details", "Tags", routeValues: new { id = item.Id })">
                                            <i class="fa fa-tags"></i>
                                            @item.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </section>
                    <!-- END TAGS -->
                </div>
            </div>

        </div>
    </section>
    <!-- END PRE-PREGNANCY PAGE -->


    <script type="text/javascript">
        var c1 = $("#category1 .owl-carousel");
        c1.owlCarousel({
            items: 3,
            itemsDesktop: false,
            pagination: false
        });
        $("#category1 .custom-navigation .next").click(function () {
            c1.trigger("owl.next");
        });
        $("#category1 .custom-navigation .prev").click(function () {
            c1.trigger("owl.prev");
        });




        var c2 = $("#category2 .owl-carousel");
        c2.owlCarousel({
            items: 3,
            itemsDesktop: false,
            pagination: false
        });
        $("#category2 .custom-navigation .next").click(function () {
            c2.trigger("owl.next");
        });
        $("#category2 .custom-navigation .prev").click(function () {
            c2.trigger("owl.prev");
        });




        var c3 = $("#category3 .owl-carousel");
        c3.owlCarousel({
            items: 3,
            itemsDesktop: false,
            pagination: false
        });
        $("#category3 .custom-navigation .next").click(function () {
            c3.trigger("owl.next");
        });
        $("#category3 .custom-navigation .prev").click(function () {
            c3.trigger("owl.prev");
        });




        var c4 = $("#category4 .owl-carousel");
        c4.owlCarousel({
            items: 3,
            itemsDesktop: false,
            pagination: false
        });
        $("#category4 .custom-navigation .next").click(function () {
            c4.trigger("owl.next");
        });
        $("#category4 .custom-navigation .prev").click(function () {
            c4.trigger("owl.prev");
        });




        var c5 = $("#category5 .owl-carousel");
        c5.owlCarousel({
            items: 3,
            itemsDesktop: false,
            pagination: false
        });
        $("#category5 .custom-navigation .next").click(function () {
            c5.trigger("owl.next");
        });
        $("#category5 .custom-navigation .prev").click(function () {
            c5.trigger("owl.prev");
        });




        var c6 = $("#category6 .owl-carousel");
        c6.owlCarousel({
            items: 3,
            itemsDesktop: false,
            pagination: false
        });
        $("#category6 .custom-navigation .next").click(function () {
            c6.trigger("owl.next");
        });
        $("#category6 .custom-navigation .prev").click(function () {
            c6.trigger("owl.prev");
        });


        var c7 = $("#category7 .owl-carousel");
        c7.owlCarousel({
            items: 3,
            itemsDesktop: false,
            pagination: false
        });
        $("#category7 .custom-navigation .next").click(function () {
            c7.trigger("owl.next");
        });
        $("#category7 .custom-navigation .prev").click(function () {
            c7.trigger("owl.prev");
        });



        var c8 = $("#category8 .owl-carousel");
        c8.owlCarousel({
            items: 3,
            itemsDesktop: false,
            pagination: false
        });
        $("#category8 .custom-navigation .next").click(function () {
            c8.trigger("owl.next");
        });
        $("#category8 .custom-navigation .prev").click(function () {
            c8.trigger("owl.prev");
        });

    </script>


    <script>
        //initialize datepicker
        $('#datepicker').datetimepicker({
            pickTime: false
        });
    </script>




    <script>
        $('#submitCategory').click(function (e) {
            e.preventDefault();
            var name = $('#categoryName').val();
            var phase = $('#phase').attr('data-id');
            var description = $('#categoryDescription').val();
            $.ajax({
                url: '/Categories/CreateCategory',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ category: { name: name, description: description, phase: phase } }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    window.location.reload(true);
                },
            });
        });

        $('#editModal').click(function () {
            $('#modalEditCategory').modal('show');
            var categoryId = $(this).attr('data-id');
            $.ajax({
                url: "/Categories/Get/" + categoryId,
                cache: false
            }).done(function (data) {
                $("#Name").val(data.Name);
                $("#Description").val(data.Description);
                $('#hiddenId').val(data.Id);
            });
        });

        $('#confirmCategory').click(function (e) {
            e.preventDefault();
            var Id = $('#hiddenId').val();
            var description = $("#Description").val();
            var name = $("#Name").val();
            var phase = $('#phase').attr('data-id');
            $.ajax({
                url: '/Categories/Update',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ model: { Id: Id, Name: name, Description: description, Phase: phase } }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    window.location.reload();
                }
            });
        });

        $('.btn.btn-red').click(function (e) {
            var Id = $(this).attr('data-id');
            $('#modalConfirmDelete').modal('show');

            $('#deleteCategory').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Categories/Delete/' + Id,
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });

        $('.btn.btn-orange.addArticle').click(function () {
            var phase = $('#phase').attr('data-id');
            window.location.href = "/Articles/Create/" + phase;
        });

        var liId = "#" + $('#phase').attr('data-id');
        //$('.nav.navbar-nav li').siblings("li").removeClass('active');
        $(liId).addClass('active');
    </script>

</body>
