@model MomWorld.Models.ArticleViewModel
@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "CreateArticle";
    var tags = ViewBag.TagsList as List<MomWorld.Entities.Tag>;
}

<head>    
    <title>@ViewBag.Title.</title>
</head>

<body>
    <hidden id="isAdmin" data-id="@(User.IsInRole("Admins") ?  "true" : "false")"></hidden>
    <hidden id="phase" data-id="@ViewBag.Phase"></hidden>

    <!-- Modal create TAG -->
    <div class="modal fade" id="modalCreateTag" tabindex="-1"
         role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Thêm</strong> thẻ
                    </h3>
                </div>
                <div class="modal-body">

                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="videoTitle">Tên thẻ:</label> <input type="text"
                                                                                                      class="form-control" id="tagName"
                                                                                                      placeholder="Nhập tên thẻ ...">
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="comment">Mô tả:</label>
                                <textarea class="form-control" rows="2" id="tagDescription"></textarea>
                            </div>

                        </div>

                        <div class="form-group form-footer text-center">

                            <button type="submit" class="btn btn-green" id="submitTag">Thêm</button>
                            <button type="reset" class="btn btn-red">Hủy</button>

                        </div>
                    </form>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- Modal create TAG -->
    <!--modal chờ phê duyệt -->
    <div class="modal fade" id="modalWaitingApproved" tabindex="-1"
         role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true"
         style="background: rgba(0, 0, 0, 0.75); top: 0px;">
        <div class="modal-dialog" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        Thoát
                    </button>
                    <img src="@Url.Content("~/Content/images/approval.png")" style="width:300px;" />
                    <h3 class="modal-title" id="modalConfirmLabel">
                        <strong>Kiểm duyệt</strong>
                    </h3>
                </div>
                <div class="modal-body">
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="form-horizontal">
                        <div class="form-group">

                        </div>
                        <div class="form-group form-footer">
                            <div class="text-center">
                                <h3>Bài viết của bạn đang được chờ kiểm duyệt.</h3>
                                <span>Cảm ơn bạn đã chia sẽ những thông tin bổ ích với chúng tôi</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
   
    <!-- BEGIN BREADCRUMBS -->
    <div id="breadcrumbs" class="breadcrumbs bg-1">
        <div class="container">
            <nav class="navbar-category">
                <div class="container navbar-menu-category">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#myNavbar"
                                style="float: none; text-align: center; margin: 0;">
                            <span class="sr-only">Toggle navigation</span> <img class="img-responsive" alt=""
                                                                                src="@Url.Content("~/Content/images/page-icon/navbar-toggle.png")"
                                                                                style="width: 50px;">
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li id="MongCon"><a href="@Url.Action("Index", "Categories", routeValues: new { id = "MongCon" })">Mong con</a></li>
                            <li id="MangThai"><a href="@Url.Action("Index", "Categories", routeValues: new { id = "MangThai" })">Mang thai</a></li>
                            <li id="TreSoSinh"><a href="@Url.Action("Index", "Categories", routeValues: new { id = "TreSoSinh" })">Trẻ sơ sinh</a></li>
                            <li id="NuoiDayTre"><a href="@Url.Action("Index", "Categories", routeValues: new { id = "NuoiDayTre" })">Nuôi dạy trẻ</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="quiz-page.html" data-placement="bottom"
                                   title="Kiểm tra kiến thức">
                                    <i class="fa  fa-university hidden-md hidden-lg"></i> <span class="hidden-sm">Kiểm tra kiến thức</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h2>
                <strong>Tạo bài viết</strong>
            </h2>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- post PAGE -->
    <section class="section">
        <div class="container">

            @if (User.IsInRole("Admins"))
            {
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button data-target="#modalCreateTag"
                                data-toggle="modal" class="btn btn-warning">
                            <i class="fa fa-plus-circle"></i> Thêm thẻ
                        </button>
                    </div>
                </div>

                <hr class="post-divider">
            }



            <div class="row">
                <!-- post POSTS -->
                <div class="col-sm-9 post-posts">
                    <h1 class="uppercase no-top-margin" style="margin-bottom: 50px;">
                        <i class="fa fa-pencil-square-o"></i> <strong> Bài viết </strong>
                        mới
                    </h1>
                    <form class="form-horizontal" id="createPostForm" role="form" method="POST" action="@Url.Action("Create", "Articles", routeValues: new { id = ViewBag.Phase })">
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(model => model.DescriptionImage)
                        <div class="form-group">
                            @Html.Label("Tiêu đề", htmlAttributes: new { @for = "title", @class = "col-md-4 ", style = "font-size: 18px;" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", type = "text", id = "title" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>




                        



                        <div class="form-group">
                            <label for="title" class="col-md-4 " style="font-size: 18px;">
                                Mô tả <span class="required">*</span>
                            </label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", id = "", rows = "6" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryId, "Danh mục", htmlAttributes: new { @for = "title", @class = "col-md-4 ", style = "font-size: 18px;" })
                            <div class="col-md-8">
                                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @if (User.IsInRole("Admins"))
                        {
                            <div class="form-group">
                                <label for="title" class="col-md-4 " style="font-size: 18px;">
                                    Thẻ <span class="required">*</span>
                                </label>
                                <div class="col-md-8">
                                    @Html.ListBoxFor(model => model.Tags, ViewData["Tags"] as MultiSelectList
                  , new { @class = "chosen-select chosen-transparent form-control", data_placeholder = "Chọn thẻ..." })
                                    @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <label for="colorpicker-rgb" class="col-md-4 " style="font-size: 18px;">
                                Ảnh hiển thị <span class="required">*</span>
                            </label>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" readonly="">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">
                                            <i class="fa fa-upload"></i><input type="file" id="fileUpload" accept="image/*">
                                        </span>
                                    </span>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-md-12" style="font-size: 18px;">
                                Nội
                                dung <span class="required">*</span>
                            </label>
                            <div class="col-md-12">
                                <section id="editor">
                                    @Html.TextAreaFor(model => model.Content, new { @id = "edit", style = "margin-top: 10px;" })
                                </section>
                            </div>
                        </div>

                        <div class="row text-center">

                            <button type="submit" class="btn btn-green" id="submitArticle">
                                Tạo bài viết
                            </button>
                            <button type="reset" class="btn">Hủy</button>

                        </div>
                    </form>
                </div>
                <!-- END post POSTS -->
                <!-- post SIDEBAR -->
                <div class="col-sm-3 post-sidebar">
                    <!-- CATEGORIES -->
                    <section class="tile color transparent-white">
                        <!-- tile header -->
                        <div class="tile-header color green rounded-top-corners">
                            <h1>
                                Bài viết <strong> nên chia sẻ</strong>
                            </h1>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">
                            <form class="form-horizontal" role="form">
                                <ul class="nav categories sidebar-widget">
                                    <li><a>Kinh nghiệm, kiến thức hữu ích cho mọi người</a></li>
                                    <li>
                                        <a>
                                            Cảm xúc, suy nghĩ về cuộc sống, công việc, gia
                                            đình, con cái
                                        </a>
                                    </li>
                                    <li><a>Thắc mắc về vấn đề mình quan tâm</a></li>
                                </ul>
                            </form>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- END CATEGORIES -->
                    <!-- CATEGORIES -->
                    <section class="tile color transparent-white">
                        <!-- tile header -->
                        <div class="tile-header color redbrown rounded-top-corners">
                            <h1>
                                Bài viết <strong> không nên chia sẻ</strong>
                            </h1>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">
                            <form class="form-horizontal" role="form">
                                <ul class="nav categories sidebar-widget">
                                    <li><a>Nội dung phản cảm</a></li>
                                    <li><a>Nội dung chia rẽ dân tộc, tôn giáo, vùng miền</a></li>
                                    <li><a>Nội dung chia rẽ chính trị, bí mật nhà nước</a></li>
                                    <li><a>Thông tin thiếu kiểm chứng</a></li>
                                    <li><a>Thông tin đời tư cá nhân</a></li>
                                </ul>
                            </form>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- END CATEGORIES -->
                    <!-- TAGS -->
                    <section class="tile color transparent-white">
                        <!-- TAGS -->
                        <div class="tile-header color cyan rounded-top-corners">
                            <h1>Các thẻ</h1>
                        </div>
                        <div class="tile-body">
                            <ul class="tags sidebar-widget">
                                @foreach (var item in tags)
                                {
                                    <li>
                                        <a href="@Url.Action("Details", "Tags", routeValues: new { id = item.Id })">
                                            <i class="fa fa-tags"></i>
                                            @item.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </section>
                    <!-- END TAGS -->
                </div>
                <!-- END post SIDEBAR -->
            </div>
        </div>
    </section>
    <!-- END post PAGE -->
   

    <script>
        //chosen select input
        $(".chosen-select").chosen({ disable_search_threshold: 10 });
    </script>



    <script>
        $(function () {
            $('#edit').editable({
                inlineMode: false,
                language: 'vn'
            })
        });
    </script>

    <script>
        var liId = "#" + $('#phase').attr('data-id');
        //$('.nav.navbar-nav li').siblings("li").removeClass('active');
        $(liId).addClass('active');

        $('#submitTag').click(function (e) {
            e.preventDefault();
            var name = $('#tagName').val();
            var description = $('#tagDescription').val();
            $.ajax({
                url: '/Tags/Create',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ tag: { name: name, description: description } }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    window.location.reload(true);
                },
            });
        });

        $('#submitArticle').click(function (e) {
            e.preventDefault();
            var isAdmin = $('#isAdmin').attr('data-id');
            if (isAdmin == "false") {
                $('#modalWaitingApproved').modal('show');
                $('#modalWaitingApproved').on('hidden.bs.modal', function () {
                    $('#createPostForm').submit();
                });
            }
            else {
                $('#createPostForm').submit();
            }
        });

    </script>





    @*JS for upload*@
    <script>
        //initialize file upload button function
        $(document)
          .on('change', '.btn-file :file', function () {
              var input = $(this),
              numFiles = input.get(0).files ? input.get(0).files.length : 1,
              label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
              input.trigger('fileselect', [numFiles, label]);
          });

        //initialize file upload button
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            console.log(log);

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
    </script>

    <script>
    $(document).ready(function () {
        $('#submitArticle').click(function (e) {
            e.preventDefault();

            var data = new FormData();
            var files = $('#fileUpload').get(0).files;
            if (files.length > 0) {
                data.append("UploadedImage", files[0]);
            }

            var ajaxUpload = $.ajax({
                url: '/Home/UploadImage',
                type: 'POST',
                async: false,
                contentType: false,
                processData: false,
                cache: false,
                data: data
            });

            ajaxUpload.done(function (xhr, textStatus) {
                //$('#imageLink').val(xhr);
                if (textStatus == "success") {
                    document.getElementById('DescriptionImage').value = xhr;
                }
                else {
                    document.getElementById('DescriptionImage').value = null;
                }

                $('#createPostForm').submit();

            });
        });
    });
    </script>



</body>