@model MomWorld.Entities.Article


@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    MomWorld.Models.ApplicationUser postedUser = ViewData["PostedUser"] as MomWorld.Models.ApplicationUser;
    MomWorld.Entities.Article article = ViewData["Article"] as MomWorld.Entities.Article;
    MomWorld.Entities.Category category = ViewData["Category"] as MomWorld.Entities.Category;
    List<MomWorld.Entities.Comment> comments = ViewData["Comments"] as List<MomWorld.Entities.Comment>;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>

    <!-- BASICS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Mom's World - Bài viết</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="@Url.Content("~/Content/images/favicon.png")" />

    <link href="@Url.Content("~/Content/css/vendor/bootstrap/bootstrap.min.css")"
          rel="stylesheet">
    <link href="@Url.Content("~/Content/css/vendor/font-awesome-4.2.0/css/font-awesome.min.css")"
          rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/animate/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/bootstrap-checkbox.css")">
    <link rel="stylesheet"
          href="@Url.Content("~/Content/css/vendor/ribbons/3d-corner-ribbons.css")">
    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/text-rotator/css/simpletextrotator.css")">

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/owl-carousel/css/owl.carousel.css")">
    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/owl-carousel/css/owl.theme.css")">
    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/owl-carousel/css/owl.transitions.css")">

    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/nivo-lightbox/css/nivo-lightbox.css")">
    <link rel="stylesheet"
          href="@Url.Content("~/Content/js/vendor/nivo-lightbox/css/themes/default/default.css")"
          type="text/css" />


    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/minimal.min.css")">

</head>

<body>






    <!-- BEGIN BREADCRUMBS -->
    <div id="breadcrumbs" class="breadcrumbs bg-1">
        <div class="container">
            <nav class="navbar-category">
                <div class="container navbar-menu-category">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#myNavbar"
                                style="float: none; text-align: center; margin: 0;">
                            <span class="sr-only">Toggle navigation</span> <img class="img-responsive" alt=""
                                                                                src="@Url.Content("~/Content/images/page-icon/navbar-toggle.png")"
                                                                                style="width: 50px;">
                        </button>

                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="pre-pregnancy.html">Mong con</a></li>
                            <li><a href="pregnancy.html">Mang thai</a></li>
                            <li><a href="infant.html">Trẻ sơ sinh</a></li>
                            <li><a href="child-rearing.html">Nuôi dạy trẻ</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="quiz-page.html" data-placement="bottom"
                                   title="Kiểm tra kiến thức">
                                    <i class="fa  fa-university hidden-md hidden-lg"></i> <span class="hidden-sm">Kiểm tra kiến thức</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            <ol class="breadcrumb">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i> Trang
                        chủ
                    </a>
                </li>
                <li><a href="pre-pregnancy.html"> Mong con</a></li>
                <li>@category.Name</li>
                <li class="active">@article.Title</li>
            </ol>

            <h2>
                <strong>@article.Title</strong>
            </h2>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- post PAGE -->
    <section class="section">
        <div class="container">
            <div class="row">


                @if (User.Identity.Name.Equals("admin") || User.Identity.Name.Equals(postedUser.UserName))
                {
                    <div class="col-md-12 text-right">
                        <a href="@Url.Action("Edit", "Articles", routeValues: new {id = article.Id })" class="btn btn-warning">
                            <i class="fa fa-plus-circle"></i> Sửa bài viết
                        </a> <a href="@Url.Action("Delete", "Articles", routeValues: new { id = article.Id })" class=" btn btn-red">
                            <i class="fa fa-close"></i> Xóa bài viết
                        </a>
                    </div>
                }

            </div>
            <hr class="post-divider">
            <div class="row">


                <!-- post ITEM -->
                <div class="col-sm-9 post-item">
                    <ul class="top-box-post">
                        <div class="col-md-2 col-sm-4">
                            <a href="personal-page.html">
                                <img class="img-responsive img-circle avatar-post"
                                     src="@Url.Content("~/Content/images/arnold-avatar.jpg")">
                            </a>
                        </div>

                        <div class="col-md-6 col-sm-4">
                            <h4>
                                <a href="personal-page.html">Khoahn</a>
                            </h4>
                            <ul class="post-details">
                                <li><i class="fa fa-edit color-cyan"></i> 69 Bài viết</li>
                                <li><i class="fa fa-heart color-red"></i> 18 Lượt cảm ơn</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 text-right">
                            <img class="img-responsive img-circle armorial-post"
                                 src="@Url.Content("~/Content/images/armorial/1.png")" data-toggle="tooltip"
                                 data-placement="top" title="Tên danh hiệu">
                        </div>

                    </ul>

                    <blockquote>
                        @Html.Raw(article.Content)
                    </blockquote>
                    <ul class="post-details">

                        <li>
                            <a href="#">
                                <i class="fa fa-heart color-red"></i>
                                Thích
                            </a> <span>(56 người thích)</span>
                        </li>
                        <li>
                            <i class="fa fa-user"></i> <span class="text-muted">
                                Người đăng:
                            </span> @postedUser.UserName
                        </li>
                        <li><i class="fa fa-calendar"></i> @article.PostedDate</li>
                        <li><i class="fa fa-comments"></i> @comments.Count</li>
                        @*<li><i class="fa fa-tags"></i> Tâm lí</li>*@


                        <li style="float: right">
                            <a href="#" id="report">
                                <i class="fa fa-exclamation-circle color-red"></i> Báo xấu
                            </a>
                        </li>
                    </ul>

                    <h2 class="text-underline">Bình luận</h2>
                    <!-- COMMENTS -->
                    <div class="new-comment-container">

                        <textarea class="form-control" placeholder="Nội dung ..." rows="5" id="commentContent"></textarea>
                        <div class="post-toolbar text-right">
                            <button data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng!" id="submitComment">
                                <i class="fa fa-share"></i>
                            </button>
                            <input type="hidden" id="articleId" value="@article.Id">
                            <input type="hidden" id="userName" value="@User.Identity.Name">
                        </div>

                    </div>


                 
                   
                    <div class="comments" id="commentsDiv">
                        @foreach (var item in comments)
                        {
                            <article class="comment">

                                <aside class="profile-photo">
                                    <a href="#">
                                        <img src="@Url.Content("~/Content/images/clients/random-avatar1.jpg")" class="img-circle">
                                    </a>
                                </aside>

                                <div class="comment-container">

                                    <header>

                                        <div class="author">
                                            <a href="#">@postedUser.UserName</a> đã bình luận
                                            <small>
                                                @item.Date
                                            </small>
                                        </div>

                                    </header>

                                    <div class="comment-content">
                                        <p>@item.Content</p>
                                    </div>
                                    <footer>
                                        <a href="#">
                                            <i class="fa fa-close"></i> Xóa
                                            bình luận
                                        </a>
                                    </footer>
                                </div>

                            </article>
                        }
                    </div>

                    <!-- END COMMENTS -->




                </div>
                <!-- END post ITEM -->
                <!-- post SIDEBAR -->
                <div class="col-sm-3 post-sidebar">

                    <!-- CATEGORIES -->
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color redbrown rounded-top-corners">
                            <h1>
                                <strong>Các mục </strong>nên xem
                            </h1>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form">
                                <ul class="nav categories sidebar-widget">
                                    <li><a href="post.html#">Sức khỏe sinh sản <em>(26)</em></a></li>
                                    <li class="active">
                                        <a href="post.html#">
                                            40 tuần mang
                                            thai <em>(40)</em>
                                        </a>
                                    </li>
                                    <li><a href="post.html#">Sức khỏe trong thai kỳ <em>(15)</em></a></li>
                                    <li><a href="post.html#">Dinh dưỡng thai kỳ <em>(2)</em></a></li>
                                    <li><a href="post.html#">Kỹ năng làm mẹ <em>(8)</em></a></li>
                                </ul>
                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- END CATEGORIES -->
                    <!-- RECENT POSTS -->
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color greensea rounded-top-corners">
                            <h1>
                                Bài viết<strong> nổi bật</strong>
                            </h1>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form">

                                <ul class="media-list recent-posts sidebar-widget">

                                    <li class="media">
                                        <a class="pull-left"
                                           href="">
                                            <img class="media-object"
                                                 src="@Url.Content("~/Content/images/post/2.jpg")" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a href="">40 Tuần mang thai</a>
                                            </h5>
                                            <p>
                                                Con thân yêu trong bụng mẹ đang phát triển như thế nào
                                                nhỉ?
                                            </p>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <a class="pull-left"
                                           href="">
                                            <img class="media-object"
                                                 src="@Url.Content("~/Content/images/post/4.jpg")" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a href="">Hành trình năm đầu đời</a>
                                            </h5>
                                            <p>
                                                Con đã chào đời trong niềm yêu thương vô bờ bến của
                                                cha mẹ.
                                            </p>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <a class="pull-left"
                                           href="">
                                            <img class="media-object"
                                                 src="@Url.Content("~/Content/images/post/3.jpg")" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a href="">Nuôi dạy con</a>
                                            </h5>
                                            <p>Nếu mang thai, sinh con là một hành trình đáng nhớ</p>
                                        </div>
                                    </li>

                                </ul>

                            </form>


                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- END RECENT POSTS -->
                    <!-- TAGS -->
                    <section class="tile color transparent-white">
                        <!-- TAGS -->
                        <div class="tile-header color cyan rounded-top-corners">
                            <h1>Các thẻ</h1>
                        </div>
                        <div class="tile-body">
                            <ul class="tags sidebar-widget">
                                <li>
                                    <a href="post.html#">
                                        <i class="fa fa-tags"></i>
                                        Mong con
                                    </a>
                                </li>
                                <li>
                                    <a href="post.html#">
                                        <i class="fa fa-tags"></i>
                                        Mang thai
                                    </a>
                                </li>
                                <li>
                                    <a href="post.html#">
                                        <i class="fa fa-tags"></i> Trẻ
                                        sơ sinh
                                    </a>
                                </li>
                                <li>
                                    <a href="post.html#">
                                        <i class="fa fa-tags"></i>
                                        Nuôi dạy con
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </section>
                    <!-- END TAGS -->
                </div>
                <!-- END post SIDEBAR -->

            </div>
        </div>
    </section>
    <!-- END post PAGE -->
  

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#submitComment").click(function () {
                var articleId = $("#articleId").val();
                var username = $("#userName").val();
                var content = $("#commentContent").val();
                var commentsDiv = $("#commentsDiv");
                $.ajax({
                    url: '/Comments/Create',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ comment: { articleId: articleId, username: username, content: content } }),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        location.reload(true);
                    },
                });
            });

            $("#report").click(function ()
            {
                var articleId = $("#articleId").val();
                $.ajax({
                    url: '/Articles/Report',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ articleId: articleId }),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        location.reload(true);
                    },
                });
            });
        });
    </script>



</body>
</html>