@model MomWorld.Entities.Article

@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "EditArticle";

    var selectedValues = ViewBag.SelectedValues as string[];
}


<head>
    
    <title>@ViewBag.Title.</title>

</head>

<body>

    @foreach (var value in selectedValues)
    {
        <a hidden class="selectedValues">@value</a>
    }





   
    <!-- BEGIN BREADCRUMBS -->
    <div id="breadcrumbs" class="breadcrumbs bg-2">
    </div>
    <!-- END BREADCRUMBS -->
    <!-- post PAGE -->
    <section class="section">
        <div class="container">
            <div class="row">
                <!-- post POSTS -->
                <div class="col-sm-9 post-posts">
                    <h1 class="uppercase no-top-margin" style="margin-bottom: 50px;">
                        <i class="fa fa-pencil-square-o"></i> <strong> Sửa </strong>
                        bài viết
                    </h1>
                    <form class="form-horizontal" role="form" method="post" action="@Url.Action("Edit", "Articles")">




                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.PostedDate)
                        @Html.HiddenFor(model => model.ViewNumber)
                        @Html.HiddenFor(model => model.Status)
                        @Html.HiddenFor(model => model.Phase)
                        @Html.HiddenFor(model => model.DescriptionImage)
                        <div class="form-group">
                            @Html.Label("Tiêu đề", htmlAttributes: new { @for = "title", @class = "col-md-4 ", style = "font-size: 20px;" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", type = "text", id = "title" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryId, "Danh mục", htmlAttributes: new { @for = "title", @class = "col-md-4 ", style = "font-size: 20px;" })
                            <div class="col-md-8">
                                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @if (User.IsInRole("Admins"))
                        {
                            <div class="form-group">
                                <label for="title" class="col-md-4 " style="font-size: 20px;">
                                    Thẻ <span class="required">*</span>
                                </label>
                                <div class="col-md-8">
                                    @Html.ListBoxFor(model => model.Tags2, ViewBag.Tags2 as MultiSelectList
                                        , new { @class = "chosen-select chosen-transparent form-control", data_placeholder = "Chọn thẻ..." })
                                    @Html.ValidationMessageFor(model => model.Tags2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <label for="title" class="col-md-4 " style="font-size: 18px;">
                                Mô tả <span class="required">*</span>
                            </label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", id = "", rows = "6" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-md-12" style="font-size: 20px;">
                                Nội
                                dung <span class="required">*</span>
                            </label>
                            <div class="col-md-12">
                                <section id="editor">
                                    @Html.TextAreaFor(model => model.Content, new { @id = "edit", style = "margin-top: 10px;" })
                                </section>
                            </div>
                        </div>



                        <div class="form-group text-center">

                            <button type="submit" class="btn btn-green" id="save">
                                Lưu
                            </button>
                            <button type="reset" class="btn">Hủy</button>

                        </div>

                    </form>
                </div>
                <!-- END post POSTS -->
                <!-- post SIDEBAR -->
                <div class="col-sm-3 post-sidebar">

                    <!-- CATEGORIES -->
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color green rounded-top-corners">
                            <h1>
                                Bài viết <strong> nên chia sẻ</strong>
                            </h1>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form">
                                <ul class="nav categories sidebar-widget">
                                    <li><a>Kinh nghiệm, kiến thức hữu ích cho mọi người</a></li>
                                    <li>
                                        <a>
                                            Cảm xúc, suy nghĩ về cuộc sống, công việc, gia
                                            đình, con cái
                                        </a>
                                    </li>
                                    <li><a>Thắc mắc về vấn đề mình quan tâm</a></li>
                                </ul>
                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- END CATEGORIES -->
                    <!-- CATEGORIES -->
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color redbrown rounded-top-corners">
                            <h1>
                                Bài viết <strong> không nên chia sẻ</strong>
                            </h1>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form">
                                <ul class="nav categories sidebar-widget">
                                    <li><a>Nội dung phản cảm</a></li>
                                    <li><a>Nội dung chia rẽ dân tộc, tôn giáo, vùng miền</a></li>
                                    <li><a>Nội dung chia rẽ chính trị, bí mật nhà nước</a></li>
                                    <li><a>Thông tin thiếu kiểm chứng</a></li>
                                    <li><a>Thông tin đời tư cá nhân</a></li>
                                </ul>
                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- END CATEGORIES -->

                </div>
                <!-- END post SIDEBAR -->

            </div>
        </div>
    </section>
    <!-- END post PAGE -->
   



    <script>
        $(function () {
            $('#edit').editable({
                inlineMode: false,
                language: 'vn'
            })
        });
    </script>

    <script>
        //chosen select input
        $(".chosen-select").chosen({ disable_search_threshold: 10 });



        var all = $(".selectedValues").map(function () {
            return this.innerHTML;
        }).get();

        $(".chosen-select").val(all);


        $(".chosen-select").trigger("chosen:updated");
        //$('.btn.btn-green').click(function () {
        //    alert($('.chosen-select.chosen-transparent.form-control').val());
        //});
    </script>



</body>
