@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "Home";
  
    
    var top5Articles = ViewData["Top5Articles"] as List<MomWorld.Entities.Article>;
    var currentUser = ViewBag.CurrentUser as MomWorld.Models.ApplicationUser;
}

<head>
    <title>@ViewBag.Title.</title>
</head>

<body>

    <!-- BEGIN SLIDER -->
    <div id="slider" class="slider bg-2">

        <div class="navigation">
            <button type="button" class="btn prev">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button type="button" class="btn next">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>

        <div class="owl-carousel owl-theme">

            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="col-xs-6">
                            <h2 class="uppercase no-margin caption"
                                data-animation="fadeInDown" data-delay="800">
                                Thế giới của
                                mẹ
                            </h2>
                            <h1 class="uppercase no-top-margin caption"
                                data-animation="bounceInLeft" data-delay="1200">
                                Mom's World
                            </h1>
                            <p class="lead caption" data-animation="fadeInLeft"
                               data-delay="1500">Chỗ này để điền nội dung vào</p>
                            <a href="" target="_blank"
                               class="btn btn-lg btn-bordered caption"
                               data-animation="fadeInUp" data-delay="1800">Xem Thêm</a>
                        </div>

                        <div class="col-xs-6 text-right">
                            <img src="@Url.Content("~/Content/images/slider/1.png")" class="caption"
                                 data-animation="bounceIn" data-delay="500">
                        </div>

                    </div>
                </div>

            </div>

            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="col-xs-6">
                            <h2 class="uppercase no-margin caption"
                                data-animation="rotateInDownLeft" data-delay="800">
                                Kiến
                                thức
                            </h2>
                            <h1 class="uppercase no-top-margin caption"
                                data-animation="rollIn" data-delay="1200">
                                Chuẩn bị mang
                                thai
                            </h1>
                            <p class="lead caption" data-animation="fadeInLeft"
                               data-delay="1500">Chỗ này để điền nội dung vào</p>
                            <a href="" target="_blank"
                               class="btn btn-lg btn-bordered caption"
                               data-animation="rubberBand" data-delay="1800">Xem thêm</a>
                        </div>

                        <div class="col-xs-6 text-right">
                            <img src="@Url.Content("~/Content/images/slider/2.png")" class="caption"
                                 data-animation="pulse" data-delay="500">
                        </div>

                    </div>
                </div>

            </div>

            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="col-xs-6">
                            <h2 class="uppercase no-margin caption"
                                data-animation="fadeInDown" data-delay="800">
                                Quá trình
                            </h2>
                            <h1 class="uppercase no-top-margin caption"
                                data-animation="fadeInLeft" data-delay="1200">
                                Mang thai
                            </h1>
                            <p class="lead caption" data-animation="fadeInLeft"
                               data-delay="1500">Chỗ này để điền nội dung vào</p>
                            <a href="" target="_blank"
                               class="btn btn-lg btn-bordered caption"
                               data-animation="rotateInDownLeft" data-delay="1800">Xem thêm</a>
                        </div>

                        <div class="col-xs-6 text-right">
                            <img src="@Url.Content("~/Content/images/slider/3.png")" class="caption"
                                 data-animation="fadeInRight" data-delay="500">
                        </div>

                    </div>
                </div>

            </div>
            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="col-xs-6">
                            <h2 class="uppercase no-margin caption"
                                data-animation="fadeInDown" data-delay="800">
                                Chăm sóc
                            </h2>
                            <h1 class="uppercase no-top-margin caption"
                                data-animation="fadeInLeft" data-delay="1200">
                                Trẻ sơ sinh
                            </h1>
                            <p class="lead caption" data-animation="fadeInLeft"
                               data-delay="1500">Chỗ này để điền nội dung vào</p>
                            <a href="" target="_blank"
                               class="btn btn-lg btn-bordered caption"
                               data-animation="rotateInDownLeft" data-delay="1800">Xem thêm</a>
                        </div>

                        <div class="col-xs-6 text-right">
                            <img src="@Url.Content("~/Content/images/slider/4.png")" class="caption"
                                 data-animation="fadeInRight" data-delay="500">
                        </div>

                    </div>
                </div>

            </div>
            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="col-xs-6">
                            <h2 class="uppercase no-margin caption"
                                data-animation="fadeInDown" data-delay="800">
                                Kinh nghiệm
                            </h2>
                            <h1 class="uppercase no-top-margin caption"
                                data-animation="fadeInLeft" data-delay="1200">
                                Nuôi dạy trẻ
                            </h1>
                            <p class="lead caption" data-animation="fadeInLeft"
                               data-delay="1500">Chỗ này để điền nội dung vào</p>
                            <a href="" target="_blank"
                               class="btn btn-lg btn-bordered caption"
                               data-animation="rotateInDownLeft" data-delay="1800">Xem thêm</a>
                        </div>

                        <div class="col-xs-6 text-right">
                            <img src="@Url.Content("~/Content/images/slider/5.png")" class="caption"
                                 data-animation="fadeInRight" data-delay="500">
                        </div>

                    </div>
                </div>

            </div>
            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="col-xs-6">
                            <h2 class="uppercase no-margin caption"
                                data-animation="fadeInDown" data-delay="800">
                                Hỗ trợ và tư
                                vấn
                            </h2>
                            <h1 class="uppercase no-top-margin caption"
                                data-animation="fadeInLeft" data-delay="1200">
                                Tốt nhất
                            </h1>
                            <p class="lead caption" data-animation="fadeInLeft"
                               data-delay="1500">Chỗ này để điền nội dung vào</p>
                            <a href="" target="_blank"
                               class="btn btn-lg btn-bordered caption"
                               data-animation="rotateInDownLeft" data-delay="1800">Xem thêm</a>
                        </div>

                        <div class="col-xs-6 text-right">
                            <img src="@Url.Content("~/Content/images/slider/3.png")" class="caption"
                                 data-animation="fadeInRight" data-delay="500">
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- END SLIDER -->
    <!-- FEAUTRED -->
    <section class="section featured bg-gray">
        <div class="container">
            <div class="row">

                <div class="col-md-10">

                    <p class="lead">
                        <span class="el-active"><strong>Mom's</strong> World</span> giúp
                        bạn nâng cao <span class="rotate-words">
                            kiến thức, kinh
                            nghiệm, kĩ năng
                        </span> làm mẹ, <span class="el-active">
                            <strong>Mom's</strong>
                            World
                        </span> là tất cả những gì bạn cần.
                    </p>

                    <p>Chỗ này để điền nội dung vào</p>
                </div>

                <div class="col-md-2">
                    <button type="button"
                            class="btn btn-lg btn-theme uppercase divided">
                        Xem tiếp <span class="btn-side">
                            <i class="fa fa-chevron-right"></i>
                        </span>
                    </button>
                </div>

            </div>
        </div>
    </section>
    <!-- END FEATURED -->
    <!-- WHAT YOU CAN GET -->
    <section class="section bg-white">
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <h1 class="headline">
                        <strong>BẠN</strong> CÓ THỂ LÀM ?
                    </h1>

                    <p class="lead text-center less-width">Điền nội dung vào đây</p>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="highlight appear-el" data-animation="fadeInDown">
                                <i class="fa fa-tachometer"></i>
                                <h5 class="uppercase">
                                    <strong>Quá trình mang thai</strong>
                                </h5>
                                <p>Điền nội dung vào đây</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="highlight appear-el" data-animation="fadeInLeft">
                                <i class="fa fa-graduation-cap"></i>
                                <h5 class="uppercase">
                                    <strong>Nâng cao kiến thức</strong>
                                </h5>
                                <p>Điền nội dung vào đây</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="highlight appear-el" data-animation="fadeInUp">
                                <i class="fa fa-file-text-o"></i>
                                <h5 class="uppercase">
                                    <strong>Kiểm tra kiến thức</strong>
                                </h5>
                                <p>Điền nội dung vào đây</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="highlight appear-el" data-animation="fadeInRight">
                                <i class="fa fa-comments"></i>
                                <h5 class="uppercase">
                                    <strong>Tư vấn</strong>
                                </h5>
                                <p>Điền nội dung vào đây</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- END WHAT YOU CAN GET -->
    <!-- SEPARATOR -->
    <div class="separator"></div>
    <!-- END SEPARATOR -->
    <!-- LATEST PROJECTS -->
    <section class="section" id="latest-projects">
        <div class="container">

            <div class="row">
                <div class="col-md-9">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <a href="">
                                    <img src="@Url.Content("~/Content/images/page-images/1.jpg")")" />
                                    <div class="slide_text">
                                        <div class="slide_title">
                                            Sinh con ở tuổi 35: Chuẩn bị
                                            những điều tiên quyết
                                        </div>
                                        <div class="slide_byline">
                                            Quyết định sinh con ở tuổi 35,
                                            bạn phải chấp nhận khá nhiều rủi ro
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="@Url.Content("~/Content/images/page-images/2.jpg")")" />
                                    <div class="slide_text">
                                        <div class="slide_title">
                                            Bí quyết cực hay cho mẹ muốn
                                            sinh con gái
                                        </div>
                                        <div class="slide_byline">
                                            Quay ngược lại thời gian,
                                            trường hợp ba mẹ muốn sinh con gái dường như rất ít.
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="@Url.Content("~/Content/images/page-images/3.jpg")")" />
                                    <div class="slide_text">
                                        <div class="slide_title">
                                            Tăng cơ hội mang thai cặp sinh
                                            đôi
                                        </div>
                                        <div class="slide_byline">
                                            Chế độ ăn uống, quốc tịch, gen
                                            di truyền và lối sống đóng một vai trò nhất định
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 post-sidebar">
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color greensea rounded-top-corners">
                            <h4>
                                <strong>Đăng kí</strong> nhận tin
                            </h4>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form">

                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Số điện thoại">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <input type="text" class="form-control" id="datepicker" placeholder="Ngày mang thai">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>

                                

                                <div class="form-group form-footer">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <button type="submit" class="btn btn-warning">Đăng kí</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>


                    <!-- CATEGORIES -->
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color redbrown rounded-top-corners">
                            <h4>
                                <strong>Thành viên </strong>nổi bật trong tuần
                            </h4>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form">
                                <ul class="media-list recent-posts sidebar-widget">

                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="@Url.Content("~/Content/images/profile-photo.jpg")" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a href="#">Khoahn</a>
                                                <span class="badge" style="float:right;">1</span>
                                            </h5>

                                            <ul class="post-details">
                                                <li><i class="fa fa-edit "></i> 210 Bài viết</li>
                                                <li><i class="fa fa-heart color-red"></i> 500 Lượt cảm ơn</li>
                                            </ul>
                                        </div>
                                    </li>
                                    
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="@Url.Content("~/Content/images/arnold-avatar.jpg")" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a href="#">PhoHT</a>
                                                <span class="badge" style="float:right;">2</span>
                                            </h5>
                                            
                                            <ul class="post-details">
                                                <li><i class="fa fa-edit "></i> 210 Bài viết</li>
                                                <li><i class="fa fa-heart  color-red"></i> 500 Lượt cảm ơn</li>
                                            </ul>
                                            
                                        </div>
                                    </li>

                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="@Url.Content("~/Content/images/george-avatar.jpg")" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a href="#">Khoapc</a>
                                                <span class="badge" style="float:right;">3</span>
                                            </h5>

                                            <ul class="post-details">
                                                <li><i class="fa fa-edit "></i> 210 Bài viết</li>
                                                <li><i class="fa fa-heart color-red"></i> 500 Lượt cảm ơn</li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="@Url.Content("~/Content/images/ici-avatar.jpg")" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a href="#">TrungNM</a>
                                                <span class="badge" style="float:right;">4</span>
                                            </h5>

                                            <ul class="post-details">
                                                <li><i class="fa fa-edit"></i> 210 Bài viết</li>
                                                <li><i class="fa fa-heart color-red"></i> 500 Lượt cảm ơn</li>
                                            </ul>

                                        </div>
                                    </li>

                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="@Url.Content("~/Content/images/peter-avatar.jpg")" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a href="#">ĐạtNT</a>
                                                <span class="badge" style="float:right;">5</span>
                                            </h5>
                                            
                                            <ul class="post-details">
                                                <li><i class="fa fa-edit "></i> 210 Bài viết</li>
                                                <li><i class="fa fa-heart color-red"></i> 500 Lượt cảm ơn</li>
                                            </ul>
                                            
                                        </div>
                                    </li>

                                </ul>
                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- END CATEGORIES -->

                </div>
            </div>


            <div class="row">

                <div class="col-md-3">

                    <h3 class="no-top-margin uppercase">
                        Bài viết <strong>mới nhất</strong>
                    </h3>
                    <h5 class="subheading">của chúng tôi</h5>
                    <p>Điền nội dung vào đây</p>

                    <div class="btn-group custom-navigation">
                        <button type="button" class="btn prev">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <button type="button" class="btn next">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>

                </div>

                <div class="col-md-9">

                    <div class="owl-carousel owl-theme">
                        @foreach (var item in top5Articles)
                        {
                            <div class="item appear-el" data-animation="fadeIn">
                                <figure>

                                    <div class="img-view">

                                        <img src="@Url.Content("~/Content/images/post/1.jpg")")"
                                             alt="Place description here">

                                        <div class="overlay">

                                            <div class="overlay-controls">
                                                <a href="@Url.Content("~/Content/images/post/1.jpg")")" data-nivobox="true"
                                                   data-lightbox-gallery="gallery1">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </a> <a href="@Url.Action("Details", "Articles", new {id = item.Id })"><i class="fa fa-chain"></i></a>
                                            </div>

                                        </div>

                                    </div>

                                    <figcaption>
                                        <h5>@item.Title</h5>
                                        <span>@Html.Raw(item.Description)</span>
                                    </figcaption>

                                </figure>
                            </div>
                        }
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- END LATEST PROJECTS-->
    <!-- TWITTER FEED -->
    <section id="twitter-parallax"
             class="section section-bg-1 twitter-holder parallax">
        <div class="section-overlay black">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <a href="index.html#" class="icon-rounded">
                            <i class="fa fa-users"></i> <span class="twitter-author">
                                THÀNH
                                VIÊN
                            </span>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END TWITTER FEED -->
    <!-- OUR CLIENTS -->
    <section class="section" id="our-clients">
        <div class="container">
            <div class="row">

                <div class="col-md-3">

                    <div class="btn-group custom-navigation circle-navigation with-heading no-top-margin">
                        <h3 class="no-top-margin uppercase">Chúng tôi</h3>
                        <button type="button" class="btn prev">
                            <i class="fa fa-angle-left"></i>
                        </button>
                        <button type="button" class="btn next">
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                    <p>Điền giới thiệu vào đây</p>

                    <div class="text-center">
                        <a href="about.html" class="btn btn-cyan">
                            Xem thêm <span class="btn-side"><i class="fa fa-chevron-right"></i></span>
                        </a>
                    </div>

                </div>

                <div class="col-md-9">

                    <div class="owl-carousel owl-theme">

                        <div class="item appear-el" data-animation="fadeIn">
                            <div class="team-avatar">
                                <img src="@Url.Content("~/Content/images/clients/random-avatar1.jpg")")" alt=""
                                     class="img-responsive">
                                <h4>
                                    <strong>Name</strong>
                                </h4>
                                <span>Code thuê</span>
                            </div>
                            <div class="team-note">
                                <p>Điền mô tả vào đây</p>
                                <div class="social">
                                    <a href="about.html#" style="padding-left: 14px">
                                        <i class="fa fa-facebook"></i>
                                    </a> <a href="about.html#">
                                        <i class="fa fa-twitter"></i>
                                    </a> <a href="about.html#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item appear-el" data-animation="fadeIn">
                            <div class="team-avatar">
                                <img src="@Url.Content("~/Content/images/clients/random-avatar2.jpg")")" alt=""
                                     class="img-responsive">
                                <h4>
                                    <strong>Name</strong>
                                </h4>
                                <span>Code thuê</span>
                            </div>
                            <div class="team-note">
                                <p>Điền mô tả vào đây</p>
                                <div class="social">
                                    <a href="about.html#" style="padding-left: 14px">
                                        <i class="fa fa-facebook"></i>
                                    </a> <a href="about.html#">
                                        <i class="fa fa-twitter"></i>
                                    </a> <a href="about.html#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item appear-el" data-animation="fadeIn">
                            <div class="team-avatar">
                                <img src="@Url.Content("~/Content/images/clients/random-avatar3.jpg")")" alt=""
                                     class="img-responsive">
                                <h4>
                                    <strong>Name</strong>
                                </h4>
                                <span>Code thuê</span>
                            </div>
                            <div class="team-note">
                                <p>Điền mô tả vào đây</p>
                                <div class="social">
                                    <a href="about.html#" style="padding-left: 14px">
                                        <i class="fa fa-facebook"></i>
                                    </a> <a href="about.html#">
                                        <i class="fa fa-twitter"></i>
                                    </a> <a href="about.html#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item appear-el" data-animation="fadeIn">
                            <div class="team-avatar">
                                <img src="@Url.Content("~/Content/images/clients/random-avatar4.jpg")")" alt=""
                                     class="img-responsive">
                                <h4>
                                    <strong>Name</strong>
                                </h4>
                                <span>Code thuê</span>
                            </div>
                            <div class="team-note">
                                <p>Điền mô tả vào đây</p>
                                <div class="social">
                                    <a href="about.html#" style="padding-left: 14px">
                                        <i class="fa fa-facebook"></i>
                                    </a> <a href="about.html#">
                                        <i class="fa fa-twitter"></i>
                                    </a> <a href="about.html#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item appear-el" data-animation="fadeIn">
                            <div class="team-avatar">
                                <img src="@Url.Content("~/Content/images/clients/random-avatar5.jpg")")" alt=""
                                     class="img-responsive">
                                <h4>
                                    <strong>Name</strong>
                                </h4>
                                <span>Code thuê</span>
                            </div>
                            <div class="team-note">
                                <p>Điền mô tả vào đây</p>
                                <div class="social">
                                    <a href="about.html#" style="padding-left: 14px">
                                        <i class="fa fa-facebook"></i>
                                    </a> <a href="about.html#">
                                        <i class="fa fa-twitter"></i>
                                    </a> <a href="about.html#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END OUR CLIENTS -->
    <!-- MAP -->
    <section class="section" id="map-canvas"></section>
    <!-- END MAP -->
    <!-- CONTACT -->
    <section class="section">
        <div class="container">
            <div class="row">

                <div class="col-md-8">

                    <div class="block appear-el" data-animation="fadeInLeft">

                        <h3 class="uppercase no-top-margin">
                            <strong>Góp ý</strong> của bạn
                        </h3>

                        <p>
                            Ý kiến của bạn sẽ giúp chũng tôi hoàn thiện hơn. Xin cảm
                            ơn!
                        </p>

                        <form role="form">

                            <div class="form-group">
                                <label for="name">Tên</label> <input type="text"
                                                                     class="form-control" id="name">
                            </div>

                            <div class="form-group">
                                <label for="email">Địa chỉ Email</label> <input type="email"
                                                                                class="form-control" id="email">
                            </div>

                            <div class="form-group">
                                <label for="message">Nội dung</label>
                                <textarea class="form-control" rows="5" id="message"></textarea>
                            </div>

                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-green uppercase"><i class="fa fa-paper-plane"></i> Gửi</button>
                                <button type="reset" class="btn uppercase"><i class="fa fa-times"></i> Hủy</button>
                            </div>
                        </form>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="block appear-el" data-animation="fadeInRight">

                        <h3 class="uppercase no-top-margin">
                            Văn phòng của <strong>Chúng Tôi</strong>
                        </h3>

                        <address>
                            <strong>Địa chỉ :</strong> FPT_University - Đà Nẵng<br> <strong>
                                Điện
                                thoại :
                            </strong> +84 01655757445<br> <strong>Email:</strong> <a href="mailto:exc-group@gmail.com">exc-group@gmail.com</a><br>

                            <div class="social">
                                <a href="contacts.html#" style="padding-left: 13px">
                                    <i class="fa fa-facebook"></i>
                                </a> <a href="contacts.html#">
                                    <i class="fa fa-twitter"></i>
                                </a> <a href="contacts.html#">
                                    <i class="fa fa-google-plus"></i>
                                </a> <a href="contacts.html#">
                                    <i class="fa fa-flickr"></i>
                                </a> <a href="contacts.html#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </div>
                        </address>

                        <h3 class="uppercase no-top-margin">
                            Giờ <strong>Hành Chính</strong>
                        </h3>
                        <address>
                            <strong>Thứ 2 - Thứ 6:</strong> 8:00 AM - 17:00 PM<br /> <strong>
                                Thứ
                                7:
                            </strong> 8:00 AM - 12:00 PM<br /> <strong>Chủ nhật:</strong> Đóng cửa
                        </address>

                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- END CONTACT -->
    <!-- SCROLL TOP -->
    <div class="scroll-top">
        <a href="index.html#">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <!-- END SCROLL TOP -->
    <a hidden id="username" data-id="@currentUser.UserName"></a>
    <a hidden id="firstname" data-id="@currentUser.FirstName"></a>
    <a hidden id="lastname" data-id="@currentUser.LastName"></a>

    <script>
        //initialize datepicker
        $('#datepicker').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });

        $("#datepicker").on("dp.show", function (e) {
            var newtop = $('.bootstrap-datetimepicker-widget').position().top - 45;
            $('.bootstrap-datetimepicker-widget').css('top', newtop + 'px');
        });

    </script>
    <script>

        /* Add User to Local Storage */
        var u = {
            Username: $('#username').attr('data-id'),
            ProfileImage: 'http://localhost:4444/App/uploads/avatar/' + $('#username').attr('data-id') + '.png',
            FirstName: $('#firstname').attr('data-id'),
            LastName: $('#lastname').attr('data-id')
        }

        localStorage.setItem('currentUser', JSON.stringify(u));

    </script>


    <script>
        $(window)
				.load(
						function () {

						    //Google Map
						    var latlng = new google.maps.LatLng(16.075581,
									108.1696834);
						    var settings = {
						        zoom: 17,
						        center: new google.maps.LatLng(16.075581,
										108.1696834),
						        mapTypeId: google.maps.MapTypeId.ROADMAP,
						        mapTypeControl: false,
						        scrollwheel: false,
						        draggable: true,
						        mapTypeControlOptions: {
						            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
						        },
						        navigationControl: false,
						        navigationControlOptions: {
						            style: google.maps.NavigationControlStyle.SMALL
						        },
						        mapTypeId: google.maps.MapTypeId.ROADMAP
						    };

						    var map = new google.maps.Map(document
									.getElementById("map-canvas"), settings);

						    google.maps.event.addDomListener(window, "resize",
									function () {
									    var center = map.getCenter();
									    google.maps.event
												.trigger(map, "resize");
									    map.setCenter(center);
									});

						    var contentString = '<div id="content">'
									+ '<div id="siteNotice">'
									+ '</div>'
									+ '<h3 id="firstHeading" class="no-top-margin"><strong>Office</strong></h3>'
									+ '<div id="bodyContent">'
									+ '<p>Here you can find us!</p>' + '</div>'
									+ '</div>';
						    var infowindow = new google.maps.InfoWindow({
						        content: contentString
						    });

						    var companyPos = new google.maps.LatLng(16.075581,
									108.1696834);

						    var companyMarker = new google.maps.Marker({
						        position: companyPos,
						        map: map,
						        title: "Our Office",
						        zIndex: 3
						    });

						    google.maps.event.addListener(companyMarker,
									'click', function () {
									    infowindow.open(map, companyMarker);
									});

						});
    </script>


</body>
