@*//Home/Index*@"
@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "Home";

    var top5Users = ViewBag.Top5Users as List<MomWorld.Models.ApplicationUser>;
    var top5Articles = ViewData["Top5Articles"] as List<MomWorld.Entities.Article>;
    var currentUser = ViewBag.CurrentUser as MomWorld.Models.ApplicationUser;
    var listUserLikeArticle = ViewBag.ListUserLikeArticle as List<MomWorld.Models.TopUsersModel>;
    var MongCon = ViewData["MongCon"] as List<MomWorld.Entities.Article>;
    var MangThai = ViewData["MangThai"] as List<MomWorld.Entities.Article>;
    var TreSoSinh = ViewData["TreSoSinh"] as List<MomWorld.Entities.Article>;
    var NuoiDayTre = ViewData["NuoiDayTre"] as List<MomWorld.Entities.Article>;
    var postedUsers = ViewData["PostedUsers"] as List<MomWorld.Models.ApplicationUser>;
    var likesNumber = ViewData["LikesNumber"] as Dictionary<string, int>;
    var viewsNumber = ViewData["ViewsNumber"] as Dictionary<string, int?>;
    var commentsNumber = ViewData["CommentsNumber"] as Dictionary<string, int>;
}

<head>
    <title>@ViewBag.Title.</title>
</head>

<body>

    <!-- BEGIN SLIDER -->
    <div id="slider" class="slider bg-2">

        <div class="navigation">
            <button type="button" class="btn prev">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button type="button" class="btn next">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>

        <div class="owl-carousel owl-theme">

            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="col-xs-6">
                            <h2 class="uppercase no-margin caption"
                                data-animation="fadeInDown" data-delay="800">
                                Thế giới của
                                mẹ
                            </h2>
                            <h1 class="uppercase no-top-margin caption"
                                data-animation="bounceInLeft" data-delay="1200">
                                Mom's World
                            </h1>

                        </div>

                        <div class="col-xs-6 text-right">
                            <img src="@Url.Content("~/Content/images/slider/1.png")" class="caption"
                                 data-animation="bounceIn" data-delay="500">
                        </div>

                    </div>
                </div>

            </div>

            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="col-xs-6">
                            <h2 class="uppercase no-margin caption"
                                data-animation="rotateInDownLeft" data-delay="800">
                                Kiến
                                thức
                            </h2>
                            <h1 class="uppercase no-top-margin caption"
                                data-animation="rollIn" data-delay="1200">
                                Chuẩn bị mang
                                thai
                            </h1>

                            <a href="@Url.Action("Index", "Categories", routeValues: new {id="MongCon" })" target="_blank"
                               class="btn btn-lg btn-bordered caption"
                               data-animation="rubberBand" data-delay="1800">Xem thêm</a>
                        </div>

                        <div class="col-xs-6 text-right">
                            <img src="@Url.Content("~/Content/images/slider/2.png")" class="caption"
                                 data-animation="pulse" data-delay="500">
                        </div>

                    </div>
                </div>

            </div>

            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="col-xs-6">
                            <h2 class="uppercase no-margin caption"
                                data-animation="fadeInDown" data-delay="800">
                                Quá trình
                            </h2>
                            <h1 class="uppercase no-top-margin caption"
                                data-animation="fadeInLeft" data-delay="1200">
                                Mang thai
                            </h1>

                            <a href="@Url.Action("Index", "Categories", routeValues: new { id = "MangThai" })" target="_blank"
                               class="btn btn-lg btn-bordered caption"
                               data-animation="rotateInDownLeft" data-delay="1800">Xem thêm</a>
                        </div>

                        <div class="col-xs-6 text-right">
                            <img src="@Url.Content("~/Content/images/slider/3.png")" class="caption"
                                 data-animation="fadeInRight" data-delay="500">
                        </div>

                    </div>
                </div>

            </div>
            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="col-xs-6">
                            <h2 class="uppercase no-margin caption"
                                data-animation="fadeInDown" data-delay="800">
                                Chăm sóc
                            </h2>
                            <h1 class="uppercase no-top-margin caption"
                                data-animation="fadeInLeft" data-delay="1200">
                                Trẻ sơ sinh
                            </h1>

                            <a href="@Url.Action("Index", "Categories", routeValues: new { id = "TreSoSinh" })" target="_blank"
                               class="btn btn-lg btn-bordered caption"
                               data-animation="rotateInDownLeft" data-delay="1800">Xem thêm</a>
                        </div>

                        <div class="col-xs-6 text-right">
                            <img src="@Url.Content("~/Content/images/slider/4.png")" class="caption"
                                 data-animation="fadeInRight" data-delay="500">
                        </div>

                    </div>
                </div>

            </div>
            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="col-xs-6">
                            <h2 class="uppercase no-margin caption"
                                data-animation="fadeInDown" data-delay="800">
                                Kinh nghiệm
                            </h2>
                            <h1 class="uppercase no-top-margin caption"
                                data-animation="fadeInLeft" data-delay="1200">
                                Nuôi dạy trẻ
                            </h1>

                            <a href="@Url.Action("Index", "Categories", routeValues: new { id = "NuoiDayTre" })" target="_blank"
                               class="btn btn-lg btn-bordered caption"
                               data-animation="rotateInDownLeft" data-delay="1800">Xem thêm</a>
                        </div>

                        <div class="col-xs-6 text-right">
                            <img src="@Url.Content("~/Content/images/slider/5.png")" class="caption"
                                 data-animation="fadeInRight" data-delay="500">
                        </div>

                    </div>
                </div>

            </div>
            <div class="item">

                <div class="container">
                    <div class="row">

                        <div class="col-xs-6">
                            <h2 class="uppercase no-margin caption"
                                data-animation="fadeInDown" data-delay="800">
                                Kiểm tra kiến thức
                            </h2>
                            <h1 class="uppercase no-top-margin caption"
                                data-animation="fadeInLeft" data-delay="1200">
                                Tổng quát
                            </h1>
                            <a href="@Url.Action("Index","Quizzes")" target="_blank"
                               class="btn btn-lg btn-bordered caption"
                               data-animation="rotateInDownLeft" data-delay="1800">Xem thêm</a>
                        </div>

                        <div class="col-xs-6 text-right">
                            <img src="@Url.Content("~/Content/images/slider/6.png")" class="caption"
                                 data-animation="fadeInRight" data-delay="500">
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- END SLIDER -->
    <!-- FEAUTRED -->
    <section class="section featured bg-gray">
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <p class="lead">
                        <span class="el-active"><strong>Mom's</strong> World</span> giúp
                        bạn nâng cao <span class="rotate-words">
                            kiến thức, kinh
                            nghiệm, kĩ năng
                        </span> làm mẹ, <span class="el-active">
                            <strong>Mom's</strong>
                            World
                        </span> là tất cả những gì bạn cần.
                    </p>

                </div>

                

            </div>
        </div>
    </section>
    <!-- END FEATURED -->
    <!-- WHAT YOU CAN GET -->
    <section class="section bg-white">
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <h1 class="headline">
                        <strong>BẠN</strong> CÓ THỂ LÀM ?
                    </h1>


                    <div class="row">
                        <div class="col-md-3 col-sm-6" onclick="timeLine()">
                            <div class="highlight appear-el" data-animation="fadeInDown">
                                <i class="fa fa-tachometer"></i>
                                <h5 class="uppercase">
                                    <strong>Quá trình mang thai</strong>
                                </h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class=" highlight appear-el" data-animation="fadeInLeft">
                                <i class="fa fa-graduation-cap"></i>
                                <h5 class="uppercase">
                                    <strong>Nâng cao kiến thức</strong>
                                </h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6" onclick="quiz()">
                            <div class=" highlight appear-el" data-animation="fadeInUp">
                                <i class="fa fa-file-text-o"></i>
                                <h5 class="uppercase">
                                    <strong>Kiểm tra kiến thức</strong>
                                </h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6" onclick="advisory()">
                            <div class="highlight appear-el" data-animation="fadeInRight">
                                <i class="fa fa-comments"></i>
                                <h5 class="uppercase">
                                    <strong>Tư vấn</strong>
                                </h5>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- END WHAT YOU CAN GET -->
    <!-- SEPARATOR -->
    <div class="separator"></div>
    <!-- END SEPARATOR -->
    <!-- LATEST PROJECTS -->
    <section class="section" id="latest-projects">
        <div class="container">

            <div class="row">
                <div class="col-md-3 post-sidebar">
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color greensea rounded-top-corners">
                            <h2>
                                Đăng ký nhận tin
                            </h2>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form" id="subscribeForm">

                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Số điện thoại" id="phone">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email" id="email">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <input type="text" id="datepicker" class="form-control" placeholder="Ngày mang thai">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>



                                <div class="form-group form-footer">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-warning" id="subscribe">Đăng ký</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>



                </div>

                <div class="col-md-6">
                    <div class="flexslider">
                        <ul class="slides">
                            @foreach (var art in top5Articles)
                            {
                                <li>
                                    <a href="@Url.Action("Details", "Articles", routeValues: new { id = art.Id })">
                                        <img src="@Url.Content(art.DescriptionImage)" />
                                        <div class="slide_text">
                                            <div class="slide_title">
                                                @art.Title
                                            </div>
                                            <div class="slide_byline">
                                                @art.Description
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div id="sidebar" class="col-md-3 post-sidebar">

                    <!-- CATEGORIES -->
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color redbrown rounded-top-corners">
                            <h2>
                                Thành viên nổi bật
                            </h2>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form">
                                <ul class="media-list recent-posts sidebar-widget">
                                    @for (int index = 0; index <= 4; index++)
                                    {
                                        <li class="media">
                                            <a class="pull-left" href="#">
                                                <img class="media-object" src="@Url.Content(top5Users[index].ProfilePicture)">
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading">
                                                    <a href="@Url.Action("GetProfile", "Profile", routeValues: new { id = top5Users[index].UserName })">@top5Users[index].UserName</a>
                                                    <span class="badge" style="float:right;">@(index + 1)</span>
                                                </h5>
                                                <ul class="post-details">
                                                    <li><i class="fa fa-edit "></i> @listUserLikeArticle.FirstOrDefault(ll => ll.Id.Equals(top5Users[index].Id)).ArticlesNumber Bài viết</li>
                                                    <li><i class="fa fa-heart color-red"></i> @listUserLikeArticle.FirstOrDefault(ll => ll.Id.Equals(top5Users[index].Id)).LikesNumber Lượt cảm ơn</li>
                                                </ul>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- END CATEGORIES -->

                </div>
            </div>


            <div class="row">

                <div class="col-md-3"></div>

                <div class="col-md-6">
                    <div class="">

                        <!-- tile widget -->
                        <div class="tile-widget nopadding color greensea rounded-top-corners">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-separated nav-justified">
                                <li class="active"><a href="#tab-1" data-toggle="tab" class="filled redbrown">Mong con</a></li>
                                <li><a href="#tab-2" data-toggle="tab" class="filled orange">Mang thai</a></li>
                                <li><a href="#tab-3" data-toggle="tab" class="filled cyan">Trẻ sơ sinh</a></li>
                                <li><a href="#tab-4" data-toggle="tab" class="filled greensea">Nuôi dạy trẻ</a></li>

                            </ul>
                            <!-- / Nav tabs -->
                        </div>
                        <!-- /tile widget -->
                        <!-- tile body -->
                        <div class="tile-body tab-content rounded-bottom-corners">

                            <!-- Tab panes -->

                            <div id="tab-1" class="tab-pane fade active in">
                                @foreach (var mongcon in MongCon)
                                {
                                    <article class="newsCenter">

                                        <div class="autNewsCt row">
                                            <div class="top-box-article">
                                                <span class="avatarNews col-md-2 col-sm-2 col-xs-3 ol-lg-5">
                                                    <a href=""><img class="" src="@Url.Content(postedUsers.FirstOrDefault(u=>u.Id.Equals(mongcon.UserId)).ProfilePicture)"></a>
                                                </span>

                                                <span class="ctnAutCt col-md-10 col-sm-10 col-xs-9 col-lg-5">
                                                    <a href="">@postedUsers.FirstOrDefault(u => u.Id.Equals(mongcon.UserId)).UserName</a>
                                                    @if (Math.Round((DateTime.Now - mongcon.PostedDate.Value).TotalDays, 0) == 0)
                                                    {
                                                        <span class="date-post">
                                                            Hôm nay
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="date-post">
                                                            @Math.Round((DateTime.Now - mongcon.PostedDate.Value).TotalDays, 0) ngày trước
                                                        </span>
                                                    }
                                                </span>
                                                <div class="icon-list-btn col-lg-6">
                                                    <ul>
                                                        <li>
                                                            <span class="fa fa-heart icon-box-article"></span>
                                                            <br>
                                                            <span class="value-btn">@likesNumber[mongcon.Id]</span>
                                                        </li>
                                                        <li>
                                                            <a title="Chia sẻ" class="btn-shareface" rel="nofollow" target="_blank" href="">
                                                                <span class="fa fa-eye icon-box-article"></span>
                                                                <br>
                                                                <span class="value-btn">@viewsNumber[mongcon.Id]</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <span title="Bình luận" class="fa fa-comment icon-box-article"></span>
                                                            <br>
                                                            <span class="value-btn">@commentsNumber[mongcon.Id]</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="bottom-box-article">
                                                <h3>
                                                    <a href="@Url.Action("Details", "Articles", new { id = mongcon.Id })">
                                                        @mongcon.Title
                                                    </a>
                                                </h3>
                                                <span>
                                                    @(mongcon.Description != null ? mongcon.Description : "");
                                                </span>
                                                <div class="imgArtCt">

                                                    <a href="">
                                                        @if (mongcon.DescriptionImage != null)
                                                        {
                                                            <img class="img-responsive" src="@Url.Content(mongcon.DescriptionImage)">
                                                        }
                                                        else
                                                        {
                                                            <img class="img-responsive" src="@Url.Content("~/Content/images/post/default.jpg")">
                                                        }
                                                    </a>

                                                </div>
                                            </div>
                                        </div>

                                    </article> }
                            </div>


                            <div id="tab-2" class="tab-pane fade">

                                <article class="newsCenter">
                                    @foreach (var mangthai in MangThai)
                                    {
                                        <div class="autNewsCt row">
                                            <div class="top-box-article">
                                                <span class="avatarNews col-md-2 col-sm-2 col-xs-3 ol-lg-5">
                                                    <a href=""><img class="" src="@Url.Content(postedUsers.FirstOrDefault(u => u.Id.Equals(mangthai.UserId)).ProfilePicture)"></a>
                                                </span>

                                                <span class="ctnAutCt col-md-10 col-sm-10 col-xs-9 col-lg-5">
                                                    <a href="">@postedUsers.FirstOrDefault(u => u.Id.Equals(mangthai.UserId)).UserName</a>
                                                    @if (Math.Round((DateTime.Now - mangthai.PostedDate.Value).TotalDays, 0) == 0)
                                                    {
                                                        <span class="date-post">
                                                            Hôm nay
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="date-post">
                                                            @Math.Round((DateTime.Now - mangthai.PostedDate.Value).TotalDays, 0) ngày trước
                                                        </span>
                                                    }
                                                </span>
                                                <div class="icon-list-btn col-lg-6">
                                                    <ul>
                                                        <li>
                                                            <span class="fa fa-heart icon-box-article"></span>
                                                            <br>
                                                            <span class="value-btn">@likesNumber[mangthai.Id]</span>
                                                        </li>
                                                        <li>
                                                            <a title="Chia sẻ" class="btn-shareface" rel="nofollow" target="_blank" href="">
                                                                <span class="fa fa-eye icon-box-article"></span>
                                                                <br>
                                                                <span class="value-btn">@viewsNumber[mangthai.Id]</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <span title="Bình luận" class="fa fa-comment icon-box-article"></span>
                                                            <br>
                                                            <span class="value-btn">@commentsNumber[mangthai.Id]</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="bottom-box-article">
                                                <h3>
                                                    <a href="@Url.Action("Details", "Articles", new { id = mangthai.Id })">
                                                        @mangthai.Title
                                                    </a>
                                                </h3>
                                                <span>
                                                    @(mangthai.Description != null ? mangthai.Description : "");
                                                </span>
                                                <div class="imgArtCt">

                                                    <a href="">
                                                        @if (mangthai.DescriptionImage != null)
                                                        {
                                                            <img class="img-responsive" src="@Url.Content(mangthai.DescriptionImage)">
                                                        }
                                                        else
                                                        {
                                                            <img class="img-responsive" src="@Url.Content("~/Content/images/post/default.jpg")">
                                                        }
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </article>
                            </div>


                            <div id="tab-3" class="tab-pane fade">

                                <article class="newsCenter">
                                    @foreach (var tresosinh in TreSoSinh)
                                    {
                                        <div class="autNewsCt row">
                                            <div class="top-box-article">
                                                <span class="avatarNews col-md-2 col-sm-2 col-xs-3 ol-lg-5">
                                                    <a href=""><img class="" src="@Url.Content(postedUsers.FirstOrDefault(u => u.Id.Equals(tresosinh.UserId)).ProfilePicture)"></a>
                                                </span>

                                                <span class="ctnAutCt col-md-10 col-sm-10 col-xs-9 col-lg-5">
                                                    <a href="">@postedUsers.FirstOrDefault(u => u.Id.Equals(tresosinh.UserId)).UserName</a>
                                                    @if (Math.Round((DateTime.Now - tresosinh.PostedDate.Value).TotalDays, 0) == 0)
                                                    {
                                                        <span class="date-post">
                                                            Hôm nay
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="date-post">
                                                            @Math.Round((DateTime.Now - tresosinh.PostedDate.Value).TotalDays, 0) ngày trước
                                                        </span>
                                                    }
                                                </span>
                                                <div class="icon-list-btn col-lg-6">
                                                    <ul>
                                                        <li>
                                                            <span class="fa fa-heart icon-box-article"></span>
                                                            <br>
                                                            <span class="value-btn">@likesNumber[tresosinh.Id]</span>
                                                        </li>
                                                        <li>
                                                            <a title="Chia sẻ" class="btn-shareface" rel="nofollow" target="_blank" href="">
                                                                <span class="fa fa-eye icon-box-article"></span>
                                                                <br>
                                                                <span class="value-btn">@viewsNumber[tresosinh.Id]</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <span title="Bình luận" class="fa fa-comment icon-box-article"></span>
                                                            <br>
                                                            <span class="value-btn">@commentsNumber[tresosinh.Id]</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="bottom-box-article">
                                                <h3>
                                                    <a href="@Url.Action("Details", "Articles", new { id = tresosinh.Id })">
                                                        @tresosinh.Title
                                                    </a>
                                                </h3>
                                                <span>
                                                    @(tresosinh.Description != null ? tresosinh.Description : "");
                                                </span>
                                                <div class="imgArtCt">

                                                    <a href="">
                                                        @if (tresosinh.DescriptionImage != null)
                                                        {
                                                            <img class="img-responsive" src="@Url.Content(tresosinh.DescriptionImage)">
                                                        }
                                                        else
                                                        {
                                                            <img class="img-responsive" src="@Url.Content("~/Content/images/post/default.jpg")">
                                                        }
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </article>
                            </div>

                            <div id="tab-4" class="tab-pane fade">


                                <article class="newsCenter">
                                    @foreach (var nuoidaytre in NuoiDayTre)
                                    {
                                        <div class="autNewsCt row">
                                            <div class="top-box-article">
                                                <span class="avatarNews col-md-2 col-sm-2 col-xs-3 ol-lg-5">
                                                    <a href=""><img class="" src="@Url.Content(postedUsers.FirstOrDefault(u => u.Id.Equals(nuoidaytre.UserId)).ProfilePicture)"></a>
                                                </span>

                                                <span class="ctnAutCt col-md-10 col-sm-10 col-xs-9 col-lg-5">
                                                    <a href="">@postedUsers.FirstOrDefault(u => u.Id.Equals(nuoidaytre.UserId)).UserName</a>

                                                    @if (Math.Round((DateTime.Now - nuoidaytre.PostedDate.Value).TotalDays, 0) == 0)
                                                    {
                                                        <span class="date-post">
                                                            Hôm nay
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="date-post">
                                                            @Math.Round((DateTime.Now - nuoidaytre.PostedDate.Value).TotalDays, 0) ngày trước
                                                        </span>
                                                    }

                                                </span>
                                                <div class="icon-list-btn col-lg-6">
                                                    <ul>
                                                        <li>
                                                            <span class="fa fa-heart icon-box-article"></span>
                                                            <br>
                                                            <span class="value-btn">@likesNumber[nuoidaytre.Id]</span>
                                                        </li>
                                                        <li>
                                                            <a title="Chia sẻ" class="btn-shareface" rel="nofollow" target="_blank" href="">
                                                                <span class="fa fa-eye icon-box-article"></span>
                                                                <br>
                                                                <span class="value-btn">@viewsNumber[nuoidaytre.Id]</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <span title="Bình luận" class="fa fa-comment icon-box-article"></span>
                                                            <br>
                                                            <span class="value-btn">@commentsNumber[nuoidaytre.Id]</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="bottom-box-article">
                                                <h3>
                                                    <a href="@Url.Action("Details", "Articles", new { id = nuoidaytre.Id })">
                                                        @nuoidaytre.Title
                                                    </a>
                                                </h3>
                                                <span>
                                                    @(nuoidaytre.Description != null ? nuoidaytre.Description : "");
                                                </span>
                                                <div class="imgArtCt">

                                                    <a href="">
                                                        @if (nuoidaytre.DescriptionImage != null)
                                                        {
                                                            <img class="img-responsive" src="@Url.Content(nuoidaytre.DescriptionImage)">
                                                        }
                                                        else
                                                        {
                                                            <img class="img-responsive" src="@Url.Content("~/Content/images/post/default.jpg")">
                                                        }
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </article>

                            </div>
                            <!-- / Tab panes -->

                        </div>
                        <!-- /tile body -->



                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END LATEST PROJECTS-->





    <a hidden id="username" data-id="@currentUser.UserName"></a>
    <a hidden id="firstname" data-id="@currentUser.FirstName"></a>
    <a hidden id="lastname" data-id="@currentUser.LastName"></a>
    <a hidden id="isAdmin" data-id="@User.IsInRole("Admins")"></a>

    <script>
        //initialize datepicker
        $('#datepicker').datetimepicker({
            pickTime: false
        });
    </script>
    <script>

        /* Add User to Local Storage */
        var u = {
            Username: $('#username').attr('data-id'),
            ProfileImage: 'http://localhost:4444/App/uploads/avatar/' + $('#username').attr('data-id') + '.png',
            FirstName: $('#firstname').attr('data-id'),
            LastName: $('#lastname').attr('data-id'),
            IsAdmin: $('#isAdmin').attr('data-id')
        }

        localStorage.setItem('currentUser', JSON.stringify(u));

    </script>




    <script>
        $('#subscribe').click(function (e) {
            e.preventDefault();
            var email = $('#email').val();
            var phone = $('#phone').val();
            var date = $('#datepicker').val();
            var $subscribeForm = $('#subscribeForm');
            $.ajax({
                url: '/Subscribers/Create',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ model: { Email: email, PhoneNumber: phone, DatePregnancy: date } }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data == "Successfull") {
                        $subscribeForm.html("<span style='color:blue'>Cảm ơn bạn đã đăng ký!</span>");
                    }

                    if (data == "PhoneUpdated") {
                        $subscribeForm.html("<span style='color:blue'>Đã cập nhật số điện thoại của bạn!</span>");
                    }

                    if (data == "EmailUpdated") {
                        $subscribeForm.html("<span style='color:blue'>Đã cập nhật địa chỉ email của bạn!</span>");
                    }

                    if (data == "Duplicated") {
                        $subscribeForm.html("<span style='color:blue'>Số điện thoại và email đã được dùng để đăng ký!</span>");

                    }
                },
                error: function () {
                    $subscribeForm.html("<span style='color:red'>Xảy ra lỗi!</span>");
                }
            });
        });

    </script>




    <script type="text/javascript">
        $('#sidebar').scrollToFixed({ dontSetWidth: true });
    </script>






    <script>
        function timeLine() {
            window.location.href = "/NineMonthArticles/TimeLine"
        };

        function quiz() {
            window.location.href = "/Quizzes/Index"
        };

        function advisory() {
            window.location.href = "/Advisory/Index"
        };
    </script>

</body>
