@model MomWorld.Entities.Tag
@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "DetailArticleTimeline";

    var tag = ViewBag.Tag as MomWorld.Entities.Tag;
    var articles = ViewBag.Articles as List<MomWorld.Entities.Article>;
    var comments = ViewBag.Comments as List<MomWorld.Entities.Comment>;
    var tags = ViewBag.Tags as List<MomWorld.Entities.Tag>;
    var categoriesList = ViewBag.CategoriesList as List<MomWorld.Entities.Category>;
    var allArticles = ViewBag.AllArticle as List<MomWorld.Entities.Article>;
}


<head>

    <title>@ViewBag.Title.</title>

    
    <script>
        $(function () {
            // Instantiate MixItUp:

            $('#gallery').mixItUp();
        })
    </script>


</head>

<body>




    <div class="breadcrumbs bg-2"></div>
    <!-- post PAGE -->
    <section class="section">
        <div class="container">
            <div class="row">


                <div class="col-md-6 text-left">
                    <h2 class="">
                        <i class="fa fa-tags"></i> @tag.Name
                    </h2>
                </div>

            </div>
            <hr class="post-divider">
            <div class="row">
                <!-- post POSTS -->
                <div class="col-sm-9 post-posts">

                    <div class="row mix-grid" id="gallery">
                        @foreach (var article in articles)
                        {
                            <div class="mix category_1 mix_all">
                                <div class="row post">
                                    <div class="col-sm-4">
                                        @if (article.DescriptionImage != null)
                                        {
                                            <img class="img-responsive" alt=""
                                                 src="@Url.Content(article.DescriptionImage)">
                                        }
                                        else
                                        {
                                            <img class="img-responsive" alt=""
                                                 src="@Url.Content("~/Content/images/post/2.jpg")">
                                        }
                                    </div>

                                    <div class="col-md-8 col-sm-8">
                                        <h3>
                                            <a href="@Url.Action("Details", "Articles", routeValues: new { id = article.Id })">
                                                @article.Title
                                            </a>
                                        </h3>
                                        <ul class="post-details">
                                            <li><i class="fa fa-calendar-o"></i> @article.PostedDate</li>
                                            <li><i class="fa fa-comments"></i> @comments.FindAll(c => c.ArticleId.Equals(article.Id)).Count</li>

                                        </ul>
                                        <p>
                                            @Html.Raw(article.Description)
                                        </p>
                                        <a href="@Url.Action("Details", "Articles", routeValues: new { id = article.Id })" class="read-more btn btn-xs btn-green">
                                            <i class="fa fa-angle-right"></i> Xem thêm
                                        </a>
                                    </div>

                                </div>


                            </div>
                        }

                    </div>
                    @*Pageing ne*@
                    @*<div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" style="padding-left: 10px">
                                            <i class="fa fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><span>3</span></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" style="padding-left: 14px">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4"></div>
                        </div>*@
                </div>
                <!-- END post POSTS -->
                <!-- post SIDEBAR -->
                <div class="col-sm-3 post-sidebar">

                    <!-- CATEGORIES -->
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header color redbrown rounded-top-corners">
                            <h1>
                                <strong>Các mục </strong>nên xem
                            </h1>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form">
                                <ul class="nav categories sidebar-widget">
                                    @if (categoriesList != null)
                                    {
                                        foreach (var cate in categoriesList)
                                        {
                                            <li><a href="@Url.Action("Details", "Categories", routeValues: new { id = cate.Id })">@cate.Name <em>(@allArticles.FindAll(a => a.CategoryId.Equals(cate.Id)).Count)</em></a></li>
                                        }
                                    }
                                </ul>
                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- END CATEGORIES -->
                    <!-- TAGS -->
                    <section class="tile color transparent-white">
                        <!-- TAGS -->
                        <div class="tile-header color cyan rounded-top-corners">
                            <h1>Các thẻ</h1>
                        </div>
                        <div class="tile-body">
                            <ul class="tags sidebar-widget">
                                @foreach (var item in tags)
                                {
                                    <li>
                                        <a href="@Url.Action("Details", "Tags", routeValues: new { id = item.Id })">
                                            <i class="fa fa-tags"></i>
                                            @item.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </section>
                    <!-- END TAGS -->
                </div>
                <!-- END post SIDEBAR -->

            </div>
        </div>
    </section>
    <!-- END post PAGE -->
   












</body>
