@using Microsoft.AspNet.Identity

@*@if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }*@

    

    <li class="dropdown divided user" id="current-user">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="profile-photo">
                <img src="@Url.Content(ViewBag.CurrentUser.ProfilePicture)" />
            </div> <a class="dropdown-toggle options" data-toggle="dropdown"
                      href="#">
                @User.Identity.GetUserName() <i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu arrow settings">

                <li>

                    <h3>Ảnh nền:</h3>
                    <ul id="color-schemes">
                        <li><a href="#" class="bg-1"></a></li>
                        <li><a href="#" class="bg-2"></a></li>
                        <li><a href="#" class="bg-3"></a></li>
                        <li><a href="#" class="bg-4"></a></li>
                        <li><a href="#" class="bg-5"></a></li>
                        <li><a href="#" class="bg-6"></a></li>                        
                    </ul>


                </li>


                <li>

                    <h3>Màu nền:</h3>
                    <ul id="color-schemes">                        
                        <li><a href="#" class="solid-bg-1"></a></li>
                        <li><a href="#" class="solid-bg-2"></a></li>
                        <li><a href="#" class="solid-bg-3"></a></li>
                        <li><a href="#" class="solid-bg-4"></a></li>
                        <li><a href="#" class="solid-bg-5"></a></li>
                        <li><a href="#" class="solid-bg-6"></a></li>
                    </ul>


                </li>

                <li class="divider"></li>


                <li>
                    <a href="@Url.Action("Timeline","NineMonthArticles")">
                        <i class="fa fa-tachometer"></i>
                        Quá trình mang thai
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Manage", "Account")">
                        <i class="fa fa-user"></i>
                        Trang cá nhân
                    </a>
                </li>
                @if (User.IsInRole("Admins"))
                {
                    <li>
                        <a href="@Url.Action("UsersManage", "Account")">
                            <i class="fa fa-users"></i>
                            Quản lí người dùng
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("PostsManage", "Account")">
                            <i class="fa fa-edit"></i>
                            Quản lí bài viết
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Dashboard", "Account")">
                            <i class="fa fa-android"></i>
                            Thống kê
                        </a>
                    </li>
                }

                <li>
                    <a href="~/Chat">
                        <i class="fa fa-envelope"></i> Tin nhắn <span id="noti" class="badge badge-red animated bounceIn"></span> 
                    </a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fa fa-power-off"
                           style="float: right"></i> Đăng xuất
                    </a>
                </li>
            </ul>
            <script>
                // --------------------- Change Chat Notification -----------------------
                $(document).ready(function () {
                    var current = JSON.parse(localStorage.getItem('currentUser'));
                    var usersRef = new Firebase('https://momworld.firebaseio.com/User/' + current.Username);
                    var countChatNoti = usersRef.child('NumNoti');
                    countChatNoti.on("value", function (snapshot) {
                        if (snapshot.val() != 0) {
                            $("#noti").html(snapshot.val());
                        }
                    });
                });
            </script>

        }
    </li>



