@using Microsoft.AspNet.Identity

@*@if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }*@

@if (Request.IsAuthenticated)
{

    <li class="dropdown divided">
        <a class="dropdown-toggle button" data-toggle="dropdown"
           href="#">
            <i class="fa fa-envelope"></i> <span class="label label-transparent-black">1</span>
        </a>

        <ul class="dropdown-menu wider arrow nopadding messages">
            <li>
                <h1>
                    Bạn có <strong>2</strong> tin nhắn mới
                </h1>
            </li>
            <li>
                <a class="cyan" href="#">
                    <div class="profile-photo">
                        <img src="@Url.Content("~/Content/images/ici-avatar.jpg")" />
                    </div>
                    <div class="message-info">
                        <span class="sender">Ing. Imrich Kamarel</span> <span class="time">12 mins</span>
                        <div class="message-content">
                            Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a class="green" href="#">
                    <div class="profile-photo">
                        <img src="@Url.Content("~/Content/images/arnold-avatar.jpg")" />
                    </div>
                    <div class="message-info">
                        <span class="sender">Arnold Karlsberg</span> <span class="time">1 hour</span>
                        <div class="message-content">
                            Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <div class="profile-photo">
                        <img src="@Url.Content("~/Content/images/profile-photo.jpg")" />
                    </div>
                    <div class="message-info">
                        <span class="sender">KhoaHN</span> <span class="time">
                            3
                            hours
                        </span>
                        <div class="message-content">
                            Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a class="red" href="#">
                    <div class="profile-photo">
                        <img src="@Url.Content("~/Content/images/peter-avatar.jpg")" />
                    </div>
                    <div class="message-info">
                        <span class="sender">Peter Kay</span> <span class="time">
                            5
                            hours
                        </span>
                        <div class="message-content">
                            Ut enim ad minim veniam,
                            quis nostrud exercitation
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a class="orange" href="#">
                    <div class="profile-photo">
                        <img src="@Url.Content("~/Content/images/george-avatar.jpg")" />
                    </div>
                    <div class="message-info">
                        <span class="sender">George McCain</span> <span class="time">
                            6
                            hours
                        </span>
                        <div class="message-content">
                            Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit
                        </div>
                    </div>
                </a>
            </li>


            <li class="topborder">
                <a href="#">
                    Check all
                    messages <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </li>

    <li class="dropdown divided">
        <a class="dropdown-toggle button" data-toggle="dropdown"
           href="#">
            <i class="fa fa-bell"></i> <span class="label label-transparent-black">3</span>
        </a>

        <ul class="dropdown-menu wide arrow nopadding bordered">
            <li>
                <h1>
                    Bạn có <strong>3</strong> thông báo mới
                </h1>
            </li>

            <li>
                <a href="#">
                    <span class="label label-green"><i class="fa fa-user"></i></span>
                    New user registered. <span class="small">18 mins</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="label label-red"><i class="fa fa-power-off"></i></span>
                    Server down. <span class="small">27 mins</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="label label-orange"><i class="fa fa-plus"></i></span>
                    New order. <span class="small">36 mins</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="label label-cyan"><i class="fa fa-power-off"></i></span>
                    Server restared. <span class="small">45 mins</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="label label-amethyst"><i class="fa fa-power-off"></i></span>
                    Server started. <span class="small">50 mins</span>
                </a>
            </li>

            <li>
                <a href="#">
                    Check all notifications <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </li>

    <li class="dropdown divided user" id="current-user">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="profile-photo">
                <img src="@Url.Content(ViewBag.CurrentUser.ProfilePicture)" />
            </div> <a class="dropdown-toggle options" data-toggle="dropdown"
                      href="#">
                @User.Identity.GetUserName()<i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu arrow settings">

                <li>

                    <h3>Ảnh nền:</h3>
                    <ul id="color-schemes">
                        <li><a href="#" class="bg-1"></a></li>
                        <li><a href="#" class="bg-2"></a></li>
                        <li><a href="#" class="bg-3"></a></li>
                        <li><a href="#" class="bg-4"></a></li>
                        <li><a href="#" class="bg-5"></a></li>
                        <li><a href="#" class="bg-6"></a></li>
                        <li class="title">Màu nền:</li>
                        <li><a href="#" class="solid-bg-1"></a></li>
                        <li><a href="#" class="solid-bg-2"></a></li>
                        <li><a href="#" class="solid-bg-3"></a></li>
                        <li><a href="#" class="solid-bg-4"></a></li>
                        <li><a href="#" class="solid-bg-5"></a></li>
                        <li><a href="#" class="solid-bg-6"></a></li>
                    </ul>


                </li>

                <li class="divider"></li>


                <li>
                    <a href="@Url.Action("Timeline","NineMonthArticles")">
                        <i class="fa fa-tachometer"></i>
                        Quá trình mang thai
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Manage", "Account")">
                        <i class="fa fa-user"></i>
                        Trang cá nhân
                    </a>
                </li>

                <li>
                    <a href="personal-page.html#">
                        <i class="fa fa-envelope"></i> Tin nhắn <span class="badge badge-red animated bounceIn">3</span>
                    </a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fa fa-power-off"
                           style="float: right"></i> Đăng xuất
                    </a>
                </li>
            </ul>
        }
    </li>


}

else
{

    <li>
        <a class="login" href="@Url.Action("Login", "Account", new {returnUrl = HttpContext.Current.Request.Url.AbsoluteUri })"><i class="fa fa-user"></i> Đăng nhập</a>
    </li>
}