<!DOCTYPE html>
<html>
<head>
    <title>Mom's World - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <link rel="icon" type="image/ico" href="@Url.Content("~/Content/images/favicon.png")" />



    <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/font-awesome-4.2.0/css/font-awesome.min.css")">


    <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/animate/animate.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/mmenu/css/jquery.mmenu.all.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/videobackground/css/jquery.videobackground.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/bootstrap-checkbox.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/bootstrap/bootstrap-dropdown-multilevel.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/chosen/css/chosen.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/chosen/css/chosen-bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/datatables/css/dataTables.bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/datatables/css/ColVis.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/datatables/css/TableTools.css")">


    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/fullcalendar/fullcalendar.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/colorpalette/bootstrap-colorpalette.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/text-rotator/css/simpletextrotator.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/datepicker/css/bootstrap-datetimepicker.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/rickshaw/css/rickshaw.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/morris/css/morris.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/tabdrop/css/tabdrop.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/summernote/css/summernote.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/vendor/summernote/css/summernote-bs3.css")">

    <link href="@Url.Content("~/Content/css/minimal.css")" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/Content/js/vendor/jquery/jquery.js")"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Content/js/vendor/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/bootstrap/bootstrap-dropdown-multilevel.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/mmenu/js/jquery.mmenu.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/sparkline/jquery.sparkline.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/nicescroll/jquery.nicescroll.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/animate-numbers/jquery.animateNumbers.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/videobackground/jquery.videobackground.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/blockui/jquery.blockUI.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/chosen/chosen.jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/summernote/summernote.min.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/momentjs/moment-with-langs.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/datepicker/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/colorpicker/bootstrap-colorpicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/colorpalette/bootstrap-colorpalette.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/datatables/ColReorderWithResize.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/datatables/colvis/dataTables.colVis.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/datatables/tabletools/ZeroClipboard.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/datatables/tabletools/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/datatables/dataTables.bootstrap.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/flot/jquery.flot.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/flot/jquery.flot.time.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/flot/jquery.flot.selection.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/flot/jquery.flot.animator.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/flot/jquery.flot.orderBars.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/easypiechart/jquery.easypiechart.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/rickshaw/raphael-min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/rickshaw/d3.v2.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/rickshaw/rickshaw.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/morris/morris.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/tabdrop/bootstrap-tabdrop.min.js")"></script>

    <script src="@Url.Content("~/Content/js/vendor/fullcalendar/jquery-ui-1.10.4.custom.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/fullcalendar/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/touch-punch/jquery.ui.touch-punch.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/colorpalette/bootstrap-colorpalette.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/parsley/parsley.min.js")"></script>

    <script src="@Url.Content("~/App/scripts/idle/idle.js")"></script>

    <script src="@Url.Content("~/Content/js/minimal.js")"></script>

    <!-- Logic Dependencies -->
    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/App/bower_components/moment/min/moment-with-locales.min.js")"></script>
    <script src="@Url.Content("~/App/bower_components/moment/locale/vi.js")"></script>
    <script src="@Url.Content("~/App/bower_components/angular-moment/angular-moment.min.js")"></script>
    <script src="@Url.Content("~/App/scripts/angular-file-upload/angular-file-upload.min.js")"></script>
    <script src="@Url.Content("~/App/scripts/infinite-scroll/ng-infinite-scroll.min.js")"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebase-util/0.2.4/firebase-util.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>



</head>
<body class="bg-2">
    <!-- Preloader -->
    <div class="mask">
        <div id="loader"></div>
    </div>
    <!--/Preloader -->
    <!-- Wrap all page content here -->
    <div id="wrap">


        <!-- Make page fluid -->
        <div class="row">


            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top collapsed"
                 role="navigation" id="navbar">

                <!-- Branding -->
                <div class="navbar-header col-md-2">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <strong>Mom's</strong>World
                    </a>
                    <div class="sidebar-collapse">
                        <a href="#">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div>
                <!-- Branding end -->
                <!-- .nav-collapse -->
                <div class="navbar-collapse">

                    <!-- Quick Actions -->
                    <ul class="nav navbar-nav quick-actions">

                        <!-- USE AFTER LOGIN -->
                        @Html.Partial("_LoginPartialManage")
                        <!--/.navbar-collapse -->

                        <li>
                            <a href="#mmenu"><i class="fa fa-users"></i></a>
                        </li>
                    </ul>
                    <!-- /Quick Actions -->
                    <!-- Sidebar -->
                    <ul class="nav navbar-nav side-nav" id="sidebar">
                        <li class="collapsed-content">
                            <ul>
                                <li class="search">
                                    <!-- Collapsed search pasting here at 768px -->
                                </li>
                            </ul>
                        </li>
                        <li class="navigation" id="navigation">
                            <a href="#"
                               class="sidebar-toggle" data-toggle="#navigation">
                                Trang quản lí <i class="fa fa-angle-up"></i>
                            </a>
                            <ul class="menu">
                                @if (User.IsInRole("Admins"))
                                {
                                    <li class='@Html.IsActive("Account", "Dashboard")'>
                                        <a href="@Url.Action("Dashboard", "Account")">
                                            <i class="fa fa-tachometer"></i> Thống kê
                                        </a>
                                    </li>
                                }
                                <li class='@Html.IsActive("Account", "Manage")'>
                                    <a href="@Url.Action("Manage","Account")">
                                        <i class="fa fa-user"></i>
                                        Thông tin cá nhân
                                    </a>
                                </li>
                                <li class='@Html.IsActive("Chat", "Index")'>
                                    <a href="@Url.Action("Index", "Chat")">
                                        <i class="fa fa-envelope-o"></i>
                                        Tin nhắn  <span ng-if="userFire.NumNoti !== 0" class="badge badge-red">{{userFire.NumNoti}}</span>                                        
                                    </a>
                                </li>
                                @if (User.IsInRole("Admins"))
                                {
                                    <li class='@Html.IsActive("Account", "UsersManage")'>

                                        <a href="@Url.Action("UsersManage", "Account")">
                                            <i class="fa fa-users"></i>
                                            Quản lí người dùng
                                        </a>
                                    </li>
                                    <li class='@Html.IsActive("Account", "PostsManage")'>
                                        <a href="@Url.Action("PostsManage", "Account")">
                                            <i class="fa fa-pencil-square-o"></i> Quản lí bài viết
                                        </a>
                                    </li>
                                }
                                <li class='@Html.IsActive("Account", "Task")'>
                                    <a href="@Url.Action("Task", "Account")">
                                        <i class="fa fa-calendar"></i>
                                        Nhắc nhở
                                    </a>
                                </li>
                            </ul>



                    </ul>
                    <!-- Sidebar end -->


                </div>
                <!--/.nav-collapse -->


            </div>
            <!-- Fixed navbar end -->
            @RenderBody()






            <div id="mmenu" class="right-panel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#mmenu-users" data-toggle="tab"><i class="fa fa-users"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="mmenu-users">
                        <ul class="users-list">
                            <li class="online text-center">
                                <div class="input-group">
                                    <input type="text" ng-model="searchUser" class="form-control" name="username" placeholder="Tìm kiếm tài khoản">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-search color-cyan"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="users-list">
                            <li ng-class="online" ng-repeat="userL in listUser | filter:searchUser">
                                <div class="media">
                                    <a class="pull-left profile-photo" ng-href="http://localhost:4444/Profile/GetProfile/{{userL.Username}}">
                                        <img class="media-object" ng-src="@Url.Content("~/App/uploads/avatar/{{userL.Username}}.png")">
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading"><strong>{{userL.Username}}</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> {{userL.Status}}</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li ng-class="online">
                                <div class="media">
                                    <a class="pull-left profile-photo" ng-href="http://localhost:4444/Profile/GetProfile/{{userL.Username}}">
                                        <img class="media-object" ng-src="http://localhost:4444/App/uploads/avatar/{{userL.Username}}.png">
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading"><strong>TEST</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> {{userL.Status}}</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div><!-- tab-content -->
            </div>

        </div>
        <!-- Make page fluid-->


    </div>


    <script>

        /* --------------------- User List --------------------- */ 
        var cc = JSON.parse(localStorage.getItem('currentUser')).Username;
        //$scope.currentUsername = $scope.currentUser.Username;

        // Get a reference to the presence data in Firebase.
        var amOnline = new Firebase("https://momworld.firebaseio.com/.info/connected");
        var userRef = new Firebase("https://momworld.firebaseio.com/UserList/" + cc);

        // Get a reference to my own presence status.
        amOnline.on('value', function (snapshot) {
            if (snapshot.val()) {
                userRef.onDisconnect().set({ Username: cc, Status: "Offline" });
                userRef.set({ Username: cc, Status: "Online" });
            }
        });
        document.onIdle = function () {
            userRef.set({ Username: cc, Status: "Idle" });
        }
        document.onAway = function () {
            userRef.set({ Username: cc, Status: "Away" });
        }
        document.onBack = function (isIdle, isAway) {
            userRef.set({ Username: cc, Status: "Online" });
        }

        // Set Idle and Away time
        setIdleTimeout(5000);
        setAwayTimeout(100000);

        /* -------------------- Chat Notification ------------------------- */
        var usersRef = new Firebase('https://momworld.firebaseio.com/' + cc);
        var countChatNoti = usersRef.child('NumNoti');

    </script>

</body>
</html>
